 button
{
    margin-left: 5px;
    height: 40px;   
    padding-top: 5px;
    width: 40px; 
     /* background-color: white;  */
    border-color: #EFEFEF;
  border-width :1px;
  border-style : solid;
  border-radius: 2px;
}
.mat-menu-item{
    height: 22px;
    line-height: 22px;
} 