/* table {
    border-collapse: collapse;
  } */
  
  /* td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  } */

  /* .cRepTitle{
      background-color: lightblue;
      padding-left: 4px;
  } */

  /* .tablediv{
      overflow: auto;
  } */

  /* .controlsStylediv{
    margin:10px 
  } */

  /* .footer{
      position: fixed;
      padding: 10px 10px 0px 10px;
      bottom: 5;
        width: 15%;
      Height of5sthe footer 
      height: 40px;
      background: grey;
  
  } */

  
/* .slidderbtn{
cursor: pointer;
  border:none;
  background-color: #e60000;
  color:  #EFEFEF;
  font-size:x-small;
  margin-left: -50px;
  height: 40px;
} */

