<button mat-button [matMenuTriggerFor]="menu" class="vf-panel-title-btn">Select Telephone No</button>
<mat-menu #menu="matMenu">  
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">01234567890</mat-radio-button>
    <mat-radio-button value="2">01234567890</mat-radio-button>
    <mat-radio-button value="1">01234567890</mat-radio-button>
    <mat-radio-button value="2">01234567890</mat-radio-button>
    <mat-radio-button value="1">01234567890</mat-radio-button>
    <mat-radio-button value="2">01234567890</mat-radio-button>
    <mat-radio-button value="1">01234567890</mat-radio-button>
    <mat-radio-button value="2">01234567890</mat-radio-button>
  </mat-radio-group>
</mat-menu>
<button type="button" mat-mini-fab  style="width:30px;height:30px;margin-left:46%;margin-top:6px;font-size:small;line-height:0px !important;background-color:rgb(230, 60, 160);" matTooltip="Update matched Details"  (click)="updateMatchedDetails()">
  <mat-icon style ="font-size:small;width:24px;height:24px;">content_copy</mat-icon>
</button>
<span style="margin-top: 0.6rem;margin-right:0.5rem;float:right;">Selected Telephone:<strong>01234567890</strong></span>
