<!-- <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="vf-panel-title-btn">
        <mat-panel-title >
          Telephone No
        </mat-panel-title>
        <mat-panel-description>
            <p> Selected no: 0123456789</p>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p> Selected no: 0123456789</p>
    </mat-expansion-panel>    
  </mat-accordion> -->
  <button mat-button [matMenuTriggerFor]="menu" class="vf-panel-title-btn">Select Telephone No</button>
<mat-menu #menu="matMenu">
  <!-- <button mat-menu-item>01234567890</button>
  <button mat-menu-item>01234567890</button>
  <button mat-menu-item>01234567890</button>
  <button mat-menu-item>01234567890</button> -->
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">01234567890</mat-radio-button>
    <mat-radio-button value="2">01234567890</mat-radio-button>
    <mat-radio-button value="1">01234567890</mat-radio-button>
    <mat-radio-button value="2">01234567890</mat-radio-button>
    <mat-radio-button value="1">01234567890</mat-radio-button>
    <mat-radio-button value="2">01234567890</mat-radio-button>
    <mat-radio-button value="1">01234567890</mat-radio-button>
    <mat-radio-button value="2">01234567890</mat-radio-button>
  </mat-radio-group>
</mat-menu>
<span style="float: right;margin-top: 0.5rem;margin-right:0.5rem;">Selected Telephone:<strong>01234567890</strong></span>