<button mat-button [matMenuTriggerFor]="menu" class="vf-panel-title-btn">Select Telephone No</button>
<mat-menu #menu="matMenu">  
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">01234567890</mat-radio-button>
    <mat-radio-button value="2">01234567890</mat-radio-button>
    <mat-radio-button value="1">01234567890</mat-radio-button>
    <mat-radio-button value="2">01234567890</mat-radio-button>
    <mat-radio-button value="1">01234567890</mat-radio-button>
    <mat-radio-button value="2">01234567890</mat-radio-button>
    <mat-radio-button value="1">01234567890</mat-radio-button>
    <mat-radio-button value="2">01234567890</mat-radio-button>
  </mat-radio-group>
</mat-menu>
<span style="margin-top: 0.6rem;margin-right:0.5rem;float:right;">Selected Telephone:<strong>01234567890</strong></span>
