<mat-sidenav-container class="side-container">
    <mat-sidenav #pagesidenav class="side-nav" mode="side" opened>
  
      <div class="filter-sticky">
        <app-select-multiple #selMultiple [listItems]="filterItems" [icon]="'filter_alt'"
          (changes)="setControlAttribute($event)">
        </app-select-multiple>
      </div>
  
      <form [formGroup]="thisForm" (ngSubmit)="onFormSubmit()" autocomplete="off">
        <div class="matsidenav-filter">
          <ng-container *ngIf="configDetails  as config">
            <mat-form-field hintLabel="Max 11 characters" [ngClass]="{'hidden':f.StartTelephoneNumber.disabled}">
              <mat-label>Start Telephone No</mat-label>
              <!-- <span ngIf="f.StartTelephoneNumber.value?.length==10" matPrefix>0 &nbsp;</span> -->
              <input formControlName="StartTelephoneNumber" numbersOnly matInput maxlength="11"
                placeholder="Start Telephone No" #starttelno telNoPrefixValidator >
              <mat-hint align="end">{{starttelno.value?.length || 0}}/11</mat-hint>
              <mat-error>
                <div *ngIf="f.StartTelephoneNumber.touched && f.StartTelephoneNumber.invalid" class="alert alert-danger">
                  <div *ngIf="f.StartTelephoneNumber.errors?.invalidPrefix">Telephone No Prefix is not valid</div>
                  <div *ngIf="f.StartTelephoneNumber.errors?.pattern">Telephone No should be 10 or 11 digit</div>
                </div>
              </mat-error>
            </mat-form-field>
  
            <mat-form-field hintLabel="Max 11 characters" [ngClass]="{'hidden':f.EndTelephoneNumber.disabled}">
              <mat-label>End Telephone No</mat-label>
              <!-- (keypress)="numberOnly($event)" (paste)="onPaste($event)" -->
              <input formControlName="EndTelephoneNumber" numbersOnly matInput #endtelno maxlength="11" placeholder="End Telephone No"
                 telNoPrefixValidator>
              <mat-hint align="end">{{endtelno.value?.length || 0}}/11</mat-hint>
              <mat-error>
                <div *ngIf="f.EndTelephoneNumber.touched && f.EndTelephoneNumber.invalid" class="alert alert-danger">
                  <!-- <div *ngIf="f.EndTelephoneNumber.errors?.invalidStartNo">Enter Start Telephone No </div> -->
                  <!-- <div *ngIf="f.EndTelephoneNumber.errors?.lesserStartNo">Start Telephone No should be less than End Telephone No</div> -->
                  <div *ngIf="f.EndTelephoneNumber.errors?.invalidPrefix">Telephone No Prefix is not valid</div>
                  <div *ngIf="f.EndTelephoneNumber.errors?.pattern">Telephone No should be 10 or 11 digit</div>
                </div>
              </mat-error>
            </mat-form-field>
            
            <!-- <mat-form-field [ngClass]="{'hidden':f.Command.disabled}">
              <mat-label>Command</mat-label>
              <input #command formControlName="Command" type="text" placeholder="Search Command" matInput
                [matAutocomplete]="autoCommand" OptionsValidator [options]="config.Command" />
              <span matSuffix mat-icon-button>
                <mat-icon>arrow_drop_down</mat-icon>
              </span>
              <mat-autocomplete autoActiveFirstOption #autoCommand="matAutocomplete">
                <mat-option *ngFor="let val of config.Command | ddlFilter: command.value" [value]="val">
                  {{val}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.Command.errors?.validOptions">Value need to match available options</mat-error>
            </mat-form-field> -->

            <mat-form-field [ngClass]="{'hidden':f.Command.disabled}">
              <mat-label>Command</mat-label>
              <mat-select formControlName="Command">  
                <!-- <mat-option>None</mat-option>           -->
                <mat-option *ngFor="let val of config.Command" [value]="val">
                  {{val}}
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <!-- <mat-form-field [ngClass]="{'hidden':f.Source.disabled}">
              <mat-label>Source System</mat-label>
              <input #source formControlName="Source" type="text" placeholder="Search Source System" matInput
                [matAutocomplete]="autoSource" OptionsValidator [options]="config.Source " />
              <span matSuffix mat-icon-button>
                <mat-icon>arrow_drop_down</mat-icon>
              </span>
              <mat-autocomplete autoActiveFirstOption #autoSource="matAutocomplete">
                <mat-option *ngFor="let val of config.Source  | ddlFilter: source.value" [value]="val">
                  {{val}}</mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.Source.errors?.validOptions">Value need to match available options</mat-error>
            </mat-form-field> -->

            <mat-form-field [ngClass]="{'hidden':f.Source.disabled}">
              <mat-label>Source System</mat-label>
              <mat-select formControlName="Source">  
                <!-- <mat-option>None</mat-option>           -->
                <mat-option *ngFor="let val of config.Source" [value]="val">
                  {{val}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
            <!-- <mat-form-field [ngClass]="{'hidden':f.Status.disable}">
                <mat-label>Status</mat-label>
                <input #status formControlName="Status" type="text" placeholder="Search Status" matInput
                  [matAutocomplete]="autoStatus" OptionsValidator [options]="config.Status "/>
                <span matSuffix mat-icon-button>
                  <mat-icon>arrow_drop_down</mat-icon>
                </span>
                <mat-autocomplete autoActiveFirstOption #autoStatus="matAutocomplete">
                  <mat-option *ngFor="let val of config.Status  | ddlFilter: status.value" [value]="val">
                    {{val}}</mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.Status.errors?.validOptions">Value need to match available options</mat-error>
              </mat-form-field> -->
              
              <mat-form-field [ngClass]="{'hidden':f.Status.disabled}">
                <mat-label>Status</mat-label>
                <mat-select  [(ngModel)]="model.UnresolvedSource" formControlName="Status">  
                  <!-- <mat-option>None</mat-option>           -->
                  <mat-option  *ngFor="let val of config.UnresolvedErrorStatus" [value]="val">
                    {{val}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field [ngClass]="{'hidden':f.Reference.disabled}">
                <mat-label>999 Reference</mat-label>
                <input formControlName="Reference" matInput #input placeholder="999 Reference" referValidator>
                <mat-error *ngIf="f.Reference.errors?.valid999">Please provide a valid 999 Reference</mat-error>
                <!-- <mat-hint align="end"></mat-hint> -->
              </mat-form-field>

          </ng-container>
        </div>
  
        <div class="matsidenav-footer">
          <button type="submit" mat-raised-button color="primary">
            <mat-icon>search</mat-icon>Search
          </button>
          <button type="button" mat-raised-button color="primary" (click)="resetForm()">
            <mat-icon>refresh</mat-icon>Reset
          </button>
        </div>
  
      </form>
    </mat-sidenav>
  
    <mat-sidenav-content class="side-content">
      <button *ngIf="tabs.length!=0" class="slidderbtn" mat-basic-button color="primary" (click)="pagesidenav.toggle()"
        matTooltip="{{pagesidenav.opened ? 'Hide Filters' : 'Show Filters'}}">
        <mat-icon>{{pagesidenav.opened ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon>
      </button>
      <app-start-up *ngIf="tabs.length===0"></app-start-up>
      <mat-tab-group [(selectedIndex)]="selectedTab">
        <mat-tab *ngFor="let tab of tabs; let index = index">
          <ng-template mat-tab-label>
            <div class="col" style="margin-left: 20px;">{{tab.name}}</div>
            <button *ngIf="tab.tabType !== 0" style="color:black" matSuffix mat-icon-button (click)="removeTab(index)">
              <mat-icon style="font-size: large;">close</mat-icon>
            </button>
  
          </ng-template>
  
          <span [ngSwitch]="tab.tabType">
            <div *ngSwitchCase="0" style="height: calc(100% - 30px);">
             
                
              
              <app-table-selection [sidePan]="pagesidenav" [tableitem]="myTable" (rowChanges)="rowDetect($event)"
              (addNewTab)="newTab($event)" (pageIndex)="getNextSetRecords($event)">
            </app-table-selection>
            <form (ngSubmit)="save.form.valid && onSaveSubmit(save)" #save="ngForm" autocomplete="off" *ngIf="updateAccess">
              <div class="mat-elevation-z8 side-bottom">
                <div>
                  <!-- <select class="res-select" Name="Name_of_list_box" size="4">
                          <option *ngFor="let list of selectListItems"> {{list}} </option>
                        </select> -->
                  <div style="display: inline-block;">
                    
                    <mat-form-field>
                      <mat-label>999 Reference</mat-label>
                      <input name="refer" #refer="ngModel" [(ngModel)]="Refer" [ngModelOptions]="{standalone: true}"
                        matInput placeholder="999 Reference" referValidator>
                      <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                      <mat-error class="alert alert-danger">
                        <div *ngIf="refer.errors?.valid999">Please provide a valid 999 Reference</div>
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field class="side-textarea" hintLabel="Max 500 characters">
                      <mat-label>Remarks</mat-label>
                      <textarea required name="remarks" #remarks="ngModel" [(ngModel)]="Remarks"
                        [ngModelOptions]="{standalone: true}" #input matInput maxlength="500"
                        placeholder="Remarks"></textarea>
                      <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
                      <mat-error class="alert alert-danger">
                        <div *ngIf="!remarks.errors?.required">
                          <!-- <div *ngIf="f.StartTelephoneNumber.errors?.required">Please enter Telephone No</div> -->
                          Add remarks
                        </div>
                      </mat-error>
                    </mat-form-field>
                  
                    <button [disabled]="isSaveDisable" type="submit" mat-raised-button
                      color="primary">
                      <mat-icon>save</mat-icon>Save
                    </button>&nbsp;&nbsp;


                    <!-- <button type="button" mat-raised-button color="primary">
                      <mat-icon>help</mat-icon>Help
                    </button> -->
                  </div>


                </div>
                <div class="side-right-div">
                </div>

              </div>
            </form>
            </div>
            <div *ngSwitchCase="1" style="height: calc(100% - 8px);">
              <app-telephone-audit-trail [telNo]="auditTelNo" [repIdentifier]="repIdentifier"></app-telephone-audit-trail>
            </div>
           
  
  
            <div *ngSwitchCase="2" style="height: calc(100% - 8px);">
              <app-transaction-errors [telNo]="telNo" [tranId]="tranId" [repIdentifier]="repIdentifier">
              </app-transaction-errors>
            </div>
            <div *ngSwitchDefault>
  
            </div>
          </span>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav-content>
  </mat-sidenav-container>