<div class="liverecord-sec">
    <div class="container-fluid">
        <div class="fluid-item liverecord-sec-1">

            <div>
                <span class="label"> Transaction ID</span>
                <span class="text-display">1000010076</span>
            </div>

            <div>
                <span class="label">Transaction Reference</span>
                <span class="text-display">
                    013/013/001000010076</span>
            </div>

            <div>
                <span class="label">Parent CUPID</span>
                <span class="text-display">
                    13</span>
            </div>

            <div>
                <span class="label">Created On</span>
                <span class="text-display">
                    26-Sep-2013</span>
            </div>


            <div>
                <span class="label">Child CUPID</span>
                <span class="text-display">
                    13</span>
            </div>

            <div>
                <span class="label">Created By</span>
                <span class="text-display">
                    </span>
            </div>

            <div>
                <span class="label">Customer Title</span>
                <span class="text-display">
                    </span>
            </div>

            <div>
                <span class="label">Source</span>
                <span class="text-display">
                    C</span>
            </div>

            <div>
                <span class="label">Customer Forename</span>
                <span class="text-display">
                    </span>
            </div>

            <div>
                <span class="label">Franchise</span>
                <span class="text-display">
                    MCL</span>
            </div>

            <div>
                <span class="label">Customer Name</span>
                <span class="text-display">
                    PARIBASNET LTD </span>
            </div>

            <div>
                <span class="label">Source Type</span>
                <span class="text-display">
                    B</span>
            </div>

            <div>
                <span class="label">Bussiness Suffix</span>
                <span class="text-display">
                    </span>
            </div>

            <div>
                <span class="label">Premises</span>
                <span class="text-display">
                    MARYLEBONE GATE</span>
            </div>

        </div>

        <div class="fluid-item liverecord-sec-2">

            <div>
                <span class="label">Internal Address1</span>
                <span class="text-display">
                    MARYLEBONE GATE</span>
            </div>

            <div>
                <span class="label">Internal Address2</span>
                <span class="text-display">
                    10 HAREWOOD AVENUE</span>
            </div>

            <div>
                <span class="label">Internal Address3</span>
                <span class="text-display">
                    LONDON</span>
            </div>

            <div>
                <span class="label">Internal Address4</span>
                <span class="text-display">
                    </span>
            </div>

            <div>
                <span class="label">Thoroughfare</span>
                <span class="text-display">
                    10 HAREWOOD AVENUE</span>
            </div>

            <div>
                <span class="label">Locality</span>
                <span class="text-display">
                    LONDON</span>
            </div>

            <div>
                <span class="label">Postcode</span>
                <span class="text-display">
                    NW1 6AA</span>
            </div>

            <div>
                <span class="label">Retailer ID</span>
                <span class="text-display">
                    </span>
            </div>

            <div>
                <span class="label">New Telephone No.</span>
                <span class="text-display">
                    </span>
            </div>

            <div>
                <span class="label">Address ID</span>
                <span class="text-display">
                    </span>
            </div>

            <div>
                <span class="label">XReference</span>
                <span class="text-display">
                    </span>
            </div>

            <div>
                <span class="label">Address ID Source</span>
                <span class="text-display">
                    </span>
            </div>

            <div>
                <span class="label">Line Type</span>
                <span class="text-display">
                    V</span>
            </div>

        </div>

    </div>
</div>
