/* .side-nav button{
margin:2px;
} */

.side-bottom .side-textarea{
    /* background-color: lawngreen!important; */
    width: 360px;
    font-size: smaller;  
  /* position:absolute; 
  margin-top: 90px;*/
  /* margin-left: 200px; */
  margin: 5px;
 
  }

 
  .info
  {
    /* display:flex!important;*/
    font-size: xx-large;
    margin: 5px;
    margin-right: 14px;
    float: right;   
    cursor: pointer;
    }

.hidden{display: none;}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container-update-panel {
  display: flex;
  flex-wrap: wrap;

}

.flex-button-height {
  height:fit-content;
  margin-top: 0.65em;
}

.info-button-position {
  position: absolute;
   /* z-index: 10; */
   display: flex;
   width: 100%;
   justify-content: end;
}