<mat-sidenav-container class="side-container">
  <mat-sidenav #pagesidenav class="side-nav" mode="side" opened>

    <div class="filter-sticky">
      <app-select-multiple #selMultiple [listItems]="filterItems" [icon]="'filter_alt'"
        (changes)="setControlAttribute($event)">
      </app-select-multiple>
    </div>
    
    <form (ngSubmit)="onFormSubmit()">
      <div class="matsidenav-filter" style="height:380px;">
        <mat-form-field hintLabel="Max 10 characters">
          <mat-label>Start Telephone No</mat-label>
          <input matInput #input maxlength="10" placeholder="Start Telephone No">
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field>

        <mat-form-field hintLabel="Max 10 characters">
          <mat-label>End Telephone No</mat-label>
          <input matInput #input maxlength="10" placeholder="End Telephone No">
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field>

        

        <mat-form-field>
          <mat-label>Source</mat-label>
          <mat-select>
            <mat-option></mat-option>
            <mat-option>AUDIT</mat-option>
            <mat-option>SAS/COMS</mat-option>
            <mat-option>DVA Siebel</mat-option>
            <mat-option>VA/WAD</mat-option>
            <mat-option>Ring Central</mat-option>
            <mat-option>Content Guru</mat-option>
            <mat-option>ONENET</mat-option>
            <mat-option>Clarify</mat-option>
            <mat-option>Amdocs SOM</mat-option>
            <mat-option>Unknown</mat-option>
          </mat-select>
          <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
        </mat-form-field>


       <mat-form-field  [ngClass]="{'hidden':thisForm.controls.ErrorDescription.disabled}">
          <mat-label>Error Description</mat-label>
          <input formControlName="ErrorDescription" matInput #input maxlength="10" placeholder="Error Description">
          
        </mat-form-field>

        <mat-form-field  [ngClass]="{'hidden':thisForm.controls.IsFinal.disabled}">
          <mat-label>Is Final</mat-label>
          <input formControlName="IsFinal" matInput #input maxlength="10" placeholder="Is Final">
          
        </mat-form-field>

        <mat-form-field>
          <mat-label>Date Range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date">
            <input matEndDate placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <!-- <mat-hint align="end">Here's the date picker</mat-hint> -->
        </mat-form-field>

        <mat-form-field>
          <mat-label>Resolution Type</mat-label>
          <mat-select>
            <mat-option></mat-option>
            <mat-option>New</mat-option>
            <mat-option>Under Investigation</mat-option>
            <mat-option>Under Governance</mat-option>
            <mat-option>Under Governance</mat-option>
            <mat-option>Port Req Complete</mat-option>
          </mat-select>
          <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
        </mat-form-field>
        
        <mat-form-field  [ngClass]="{'hidden':thisForm.controls.OrderReference.disabled}">
          <mat-label>Order Reference</mat-label>
          <input formControlName="OrderReference" matInput #input maxlength="10" placeholder="Order Reference">
          
        </mat-form-field>

        <mat-form-field  [ngClass]="{'hidden':thisForm.controls.Reference.disabled}">
          <mat-label>999 Reference</mat-label>
          <input formControlName="Reference" matInput #input maxlength="10" placeholder="999 Reference">
          
        </mat-form-field>
        
        
        
      </div>

        <div class="matsidenav-footer">
        <button type="submit" mat-raised-button color="primary">
          <mat-icon>search</mat-icon>Search
        </button>
        <button type="button" mat-raised-button color="primary">          
          <mat-icon>refresh</mat-icon>Reset
        </button>
        <button type="button" mat-raised-button color="primary" (click)="DisplayInformationTab()">
          <mat-icon>information</mat-icon> Information          
        </button>
      </div>    

    </form>
  </mat-sidenav>

  <mat-sidenav-content class="side-content">
    <button *ngIf="tabs.length!=0" class="slidderbtn" mat-basic-button color="primary" (click)="pagesidenav.toggle()"
      matTooltip="{{pagesidenav.opened ? 'Hide Filters' : 'Show Filters'}}">
      <mat-icon>{{pagesidenav.opened ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon>
    </button>
    <app-start-up *ngIf="tabs.length===0"></app-start-up>
    <mat-tab-group [(selectedIndex)]="selectedTab">
      <mat-tab *ngFor="let tab of tabs; let index = index">
        <ng-template mat-tab-label>
          <div class="col" style="margin-left: 20px;">{{tab.name}}</div>
          <button *ngIf="tab.tabType !== 0" style="color:black" matSuffix mat-icon-button (click)="removeTab(index)">
            <mat-icon style="font-size: large;">close</mat-icon>
          </button>

        </ng-template>

        <span [ngSwitch]="tab.tabType">
          <div *ngSwitchCase="0" style="height: calc(100% - 30px);">
            <app-table-selection [sidePan]="pagesidenav" [tableitem]="myTable" (rowChanges)="rowDetect($event)"
              (addNewTab)="newTab($event)">
            </app-table-selection>
            <form>
              <div class="mat-elevation-z8 side-bottom">
                <div>
                  <!-- <select class="res-select" Name="Name_of_list_box" size="4">
                          <option *ngFor="let list of selectListItems"> {{list}} </option>
                        </select> -->
                  <div style="display: inline-block;">
                    <mat-form-field>
                      <mat-label>Resolution Type</mat-label>
                      <mat-select>
                        <mat-option></mat-option>
                        <mat-option>New</mat-option>
                        <mat-option>Under Investigation</mat-option>
                        <mat-option>Under Governance</mat-option>
                        <mat-option>Under Governance</mat-option>
                        <mat-option>Port Req Complete</mat-option>
                      </mat-select>
                      <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>999 Reference</mat-label>
                      <input matInput #input maxlength="10" placeholder="999 Reference">
                      <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                    </mat-form-field>

                    <mat-form-field class="side-textarea" hintLabel="Max 500 characters">
                      <mat-label>Remarks</mat-label>
                      <textarea matInput #input maxlength="500" placeholder="Remarks"></textarea>
                      <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
                    </mat-form-field>

                    <button type="submit" mat-raised-button color="primary">
                      <mat-icon>save</mat-icon>Save
                    </button>&nbsp;&nbsp;


                    <button type="button" mat-raised-button color="primary">
                      <mat-icon>help</mat-icon>Help
                    </button>
                  </div>
                  <!-- <mat-form-field class="side-textarea" hintLabel="Max 500 characters"  >
                          <mat-label>Resolution</mat-label>
                          <textarea matInput #input maxlength="500" placeholder="Resolution"></textarea>
                          <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
                        </mat-form-field> -->

                </div>
                <div class="side-right-div">
                </div>

              </div>
            </form>
          </div>
          <div *ngSwitchCase="1" style="height: calc(100% - 8px);">
            <app-telephone-audit-trail [isRequiredUnsol]=true></app-telephone-audit-trail>
          </div>
          <div *ngSwitchCase="3" style="height: calc(100% - 8px);">
            <app-table class="appTable" [tableitem]="infotable1"></app-table>
            <br>
            <app-table class="appTable" [tableitem]="infotable2"></app-table>
          </div>
         

          <div *ngSwitchCase="2" style="height: calc(100% - 8px);">
            <app-transaction-errors></app-transaction-errors>
          </div>
          <div *ngSwitchDefault>

          </div>
        </span>
      </mat-tab>
    </mat-tab-group>






  </mat-sidenav-content>
</mat-sidenav-container>
