<mat-sidenav-container class="side-container">
  <mat-sidenav #pagesidenav class="side-nav" mode="side" opened>

    <div class="filter-sticky">
      <app-select-multiple #selMultiple [listItems]="filterItems" [icon]="'filter_alt'"
        (changes)="setControlAttribute($event)">
      </app-select-multiple>
    </div>

    <form [formGroup]="thisForm" (ngSubmit)="onFormSubmit()" autocomplete="off">
      <div class="matsidenav-filter" style="height:380px;">
        <ng-container *ngIf="configDetails  as config">
          <mat-form-field hintLabel="Max 11 characters" [ngClass]="{'hidden':f.StartTelephoneNumber.disabled}">
            <mat-label>Start Telephone No</mat-label>
            <input formControlName="StartTelephoneNumber" (keypress)="numberOnly($event)"
              (keyup)="addPrefix('StartTelephoneNumber',starttelno.value)" matInput #starttelno maxlength="11"
              placeholder="Start Telephone No" autocomplete="off">
            <mat-hint align="end">{{starttelno.value?.length || 0}}/11</mat-hint>
            <mat-error>
              <div *ngIf="f.StartTelephoneNumber.touched && f.StartTelephoneNumber.invalid" class="alert alert-danger">
                <!-- <div *ngIf="f.StartTelephoneNumber.errors?.required">Please enter Telephone No</div> -->
                <div *ngIf="f.StartTelephoneNumber.errors?.pattern">Telephone No is not 11 digit</div>
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field hintLabel="Max 11 characters" [ngClass]="{'hidden':f.EndTelephoneNumber.disabled}">
            <mat-label>End Telephone No</mat-label>
            <input formControlName="EndTelephoneNumber" (keypress)="numberOnly($event)"
              (keyup)="addPrefix('EndTelephoneNumber',endtelno.value)" matInput #endtelno maxlength="11"
              placeholder="End Telephone No" autocomplete="off">
            <mat-hint align="end">{{endtelno.value?.length || 0}}/11</mat-hint>
            <mat-error>
              <div *ngIf="f.EndTelephoneNumber.touched && f.EndTelephoneNumber.invalid" class="alert alert-danger">
                <!-- <div *ngIf="f.StartTelephoneNumber.errors?.required">Please enter Telephone No</div> -->
                <div *ngIf="f.EndTelephoneNumber.errors?.pattern">Telephone No is not 11 digit</div>
              </div>
            </mat-error>
          </mat-form-field>



          <mat-form-field [ngClass]="{'hidden':f.Source.disabled}">
            <mat-label>Source</mat-label>
            <input formControlName="Source" type="text" placeholder="Search Source" matInput
              [matAutocomplete]="autoSource" />
            <span matSuffix mat-icon-button>
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
            <mat-autocomplete autoActiveFirstOption #autoSource="matAutocomplete">
              <mat-option *ngFor="let val of config.Source | splitBy: ',' | ddlFilter: f.Source.value" [value]="val">
                {{val}}</mat-option>
            </mat-autocomplete>
            <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
          </mat-form-field>


          <mat-form-field [ngClass]="{'hidden':f.ErrorType.disabled}">
            <mat-label>Error Type</mat-label>
            <!-- <mat-select formControlName="ErrorType"> -->
            <input formControlName="ErrorType" type="text" placeholder="Search Error Type" matInput
              [matAutocomplete]="autoErrorType" />
            <span matSuffix mat-icon-button>
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
            <mat-autocomplete autoActiveFirstOption #autoErrorType="matAutocomplete">
              <mat-option *ngFor="let val of config.ErrorType | splitBy: ',' | ddlFilter: f.ErrorType.value"
                [value]="val">
                {{val}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field [ngClass]="{'hidden':f.Final.disabled}">
            <mat-label>Is Final</mat-label>
            <input formControlName="Final" type="text" placeholder="Search Final" matInput
              [matAutocomplete]="autoFinal" />
            <span matSuffix mat-icon-button>
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
            <!-- <input formControlName="IsFinal" matInput #input maxlength="10" placeholder="Is Final"> -->
            <!-- <mat-select formControlName="Final"> -->
            <mat-autocomplete autoActiveFirstOption #autoFinal="matAutocomplete">
              <mat-option *ngFor="let val of config.Final | splitBy: ',' | ddlFilter: f.Final.value" [value]="val">
                {{val}}</mat-option>
            </mat-autocomplete>
            <!-- <mat-option></mat-option>
            <mat-option>No</mat-option>
            <mat-option>Yes</mat-option>            -->
            <!-- </mat-select> -->
          </mat-form-field>

          <mat-form-field>
            <mat-label>Date Range</mat-label>
            <mat-date-range-input formGroupName="DateRange" [rangePicker]="picker">
              <input readonly formControlName="FromDate" matStartDate placeholder="From ">
              <input readonly formControlName="ToDate" matEndDate placeholder="To date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
            <!-- <mat-hint align="end">Here's the date picker</mat-hint> -->
          </mat-form-field>

          <mat-form-field [ngClass]="{'hidden':f.ResolutionType.disabled}">
            <mat-label>Resolution Type</mat-label>
            <input formControlName="ResolutionType" type="text" placeholder="Search Resolution Type" matInput
              [matAutocomplete]="autoResolutionType" />
            <span matSuffix mat-icon-button>
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
            <mat-autocomplete autoActiveFirstOption #autoResolutionType="matAutocomplete">
              <!-- <mat-select formControlName="ResolutionType"> -->
              <mat-option *ngFor="let val of config.ResolutionType | splitBy: ',' | ddlFilter: f.ResolutionType.value"
                [value]="val">{{val}}</mat-option>
            </mat-autocomplete>
            <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
          </mat-form-field>



          <mat-form-field [ngClass]="{'hidden':f.Reference.disabled}">
            <mat-label>999 Reference</mat-label>
            <input formControlName="Reference" matInput #input maxlength="10" placeholder="999 Reference">

          </mat-form-field>





        </ng-container>
      </div>

      <div class="matsidenav-footer">
        <button type="submit" mat-raised-button color="primary">
          <mat-icon>search</mat-icon>Search
        </button>
        <button type="button" mat-raised-button color="primary" (click)="resetForm()">
          <mat-icon>refresh</mat-icon>Reset
        </button>
        <button type="button" mat-raised-button color="primary" (click)="DisplayInformationTab()">
          <mat-icon>information</mat-icon> Information
        </button>
      </div>

    </form>
  </mat-sidenav>

  <mat-sidenav-content class="side-content">
    <button *ngIf="tabs.length!=0" class="slidderbtn" mat-basic-button color="primary" (click)="pagesidenav.toggle()"
      matTooltip="{{pagesidenav.opened ? 'Hide Filters' : 'Show Filters'}}">
      <mat-icon>{{pagesidenav.opened ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon>
    </button>
    <app-start-up *ngIf="tabs.length===0"></app-start-up>
    <mat-tab-group [(selectedIndex)]="selectedTab">
      <mat-tab *ngFor="let tab of tabs; let index = index">
        <ng-template mat-tab-label>
          <div class="col" style="margin-left: 20px;">{{tab.name}}</div>
          <button *ngIf="tab.tabType !== 0" style="color:black" matSuffix mat-icon-button (click)="removeTab(index)">
            <mat-icon style="font-size: large;">close</mat-icon>
          </button>

        </ng-template>

        <span [ngSwitch]="tab.tabType">
          <div *ngSwitchCase="0" style="height: calc(100% - 30px);">
            <app-table-selection [sidePan]="pagesidenav" [tableitem]="myTable" (rowChanges)="rowDetect($event)"
              (addNewTab)="newTab($event)">
            </app-table-selection>
            <form (ngSubmit)="onSaveSubmit()">
              <div class="mat-elevation-z8 side-bottom">
                <div>
                  <!-- <select class="res-select" Name="Name_of_list_box" size="4">
                          <option *ngFor="let list of selectListItems"> {{list}} </option>
                        </select> -->
                  <div style="display: inline-block;">
                    <mat-form-field>
                      <mat-label>Resolution Type</mat-label>
                      <input required #resol [(ngModel)]="Resolution" [ngModelOptions]="{standalone: true}" type="text"
                        placeholder="Search Resolution Type" matInput [matAutocomplete]="autoResolutionType1" />
                      <span matSuffix mat-icon-button>
                        <mat-icon>arrow_drop_down</mat-icon>
                      </span>
                      <mat-autocomplete autoActiveFirstOption #autoResolutionType1="matAutocomplete">
                        <ng-container *ngIf="configDetails  as con">
                          <mat-option *ngFor="let val of con.ResolutionType | splitBy: ',' | ddlFilter: resol.value"
                            [value]="val">{{val}}</mat-option>
                        </ng-container>
                      </mat-autocomplete>
                      <mat-error>
                        <div *ngIf="!resol.value" class="alert alert-danger">
                          <!-- <div *ngIf="f.StartTelephoneNumber.errors?.required">Please enter Telephone No</div> -->
                          Select resolution type
                        </div>
                      </mat-error>
                    </mat-form-field>


                    <mat-form-field>
                      <mat-label>999 Reference</mat-label>
                      <input [(ngModel)]="Refer" [ngModelOptions]="{standalone: true}" matInput
                        placeholder="999 Reference">
                      <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                    </mat-form-field>


                    <mat-form-field class="side-textarea" hintLabel="Max 500 characters">
                      <mat-label>Remarks</mat-label>
                      <textarea required [(ngModel)]="Remarks" [ngModelOptions]="{standalone: true}" #input matInput
                        maxlength="500" placeholder="Remarks"></textarea>
                      <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
                      <mat-error>
                        <div *ngIf="!Remarks" class="alert alert-danger">
                          <!-- <div *ngIf="f.StartTelephoneNumber.errors?.required">Please enter Telephone No</div> -->
                          Add remarks for resolution
                        </div>
                      </mat-error>
                    </mat-form-field>
                    <!-- (!f.StartTelephoneNumber.value && !f.EndTelephoneNumber.value) -->
                    <button [disabled]="!(selectedGridRows.length > 0)" type="submit" mat-raised-button
                      color="primary">
                      <mat-icon>save</mat-icon>Save
                    </button>&nbsp;&nbsp;


                    <!-- <button type="button" mat-raised-button color="primary">
                      <mat-icon>help</mat-icon>Help
                    </button> -->
                  </div>


                </div>
                <div class="side-right-div">
                </div>

              </div>
            </form>
          </div>
          <div *ngSwitchCase="1" style="height: calc(100% - 8px);">
            <app-telephone-audit-trail [telNo]="auditTelNo" [repIdentifier]="repIdentifier"></app-telephone-audit-trail>
          </div>
          <div *ngSwitchCase="3" style="height: calc(100% - 8px);">
            <ng-container *ngIf="queryResultInfo$|async as config">
              <!-- {{config.Months |json }} -->

              <app-table class="appTable" [tableitem]="config.Dates"></app-table>
              <br>
              <app-table class="appTable" [tableitem]="config.Months"></app-table>
            </ng-container>
          </div>


          <div *ngSwitchCase="2" style="height: calc(100% - 8px);">
            <app-transaction-errors [telNo]="telNo" [tranId]="tranId" [repIdentifier]="repIdentifier">
            </app-transaction-errors>
          </div>
          <div *ngSwitchDefault>

          </div>
        </span>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>