<table mat-table [dataSource]="transaction ? transaction : []" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container *ngFor="let col of columnsToDisplay ; let colIndex = index" matColumnDef="{{col}}">
        <ng-container *ngIf="col != 'Link'">
            <th mat-header-cell *matHeaderCellDef>{{col}}</th>
            <td mat-cell *matCellDef="let element">{{element[col]}}</td>
        </ng-container>
        <ng-container *ngIf="col === 'Link'">

            <th mat-header-cell *matHeaderCellDef>{{col}}</th>
            <td mat-cell *matCellDef="let element">
                <!-- <mat-icon style="cursor: pointer;"
                (click)="(expandedElement = expandedElement === element ? null : element);">{{expandedElement ===
                element ? 'remove_circle_outline' : 'add_circle_outline'}}</mat-icon> -->

                <mat-icon style="cursor: pointer;"
                    (click)="(expandedElement = expandedElement === element ? null : element); (expandedElement === element ? setAddressDetails('transaction', element) : null); setStep(2) ">
                    {{expandedElement === element && step === 2 ? 'remove_box_outline' : 'add_box_outline'}}</mat-icon>
            </td>

        </ng-container>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <!-- <ng-container matColumnDef="expandedDetail" *ngIf="step   === 2">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail" [@detailExpand]="(element == expandedElement && step   === 2 ? 'expanded' : 'collapsed')">
            <div class="example-element-diagram">
                
            </div>
        </div>
    </td>
</ng-container> -->

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                <app-table [tableitem]="element.Link" (addNewTab)="newTab($event)" ></app-table>

            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[100, 500, 1000]" showFirstLastButtons>
</mat-paginator>

<!-- <div class="test-wrapper"> -->
  <div style="margin-bottom:10px" >
  <button type="reset" mat-raised-button color="primary" matTooltip="Export">
    <mat-icon>import_export</mat-icon>Export
  </button>&nbsp;&nbsp;
  <button type="reset" mat-raised-button color="primary" matTooltip="Clipboard">
    <mat-icon>file_copy</mat-icon> Copy To Clipboard
  </button>
  
  <span *ngIf="isEmailRequired">
  <button type="reset" mat-raised-button color="primary" matTooltip="Export to email">
    <mat-icon>email</mat-icon> Export to email
  </button>
  </span>  
</div>

<mat-divider></mat-divider>