<ng-container>
    <div>
      <mat-card class="vf-card">
        <ng-container>        
            <mat-card-subtitle class="rl-card-title">{{reportName}}</mat-card-subtitle>
            <form [formGroup]="referenceForm" (ngSubmit)="onSubmit()"autocomplete="off" class = "data-form">
            <mat-card-content>
              <div class="content-main vf-flex-container-col">
                <div class="content-submain vf-flex-container-row">
                  <div  *ngFor="let formData of lstForm" [ngSwitch]="true">
                  <div *ngSwitchCase="formData.cType === 'text'"
                     [ngClass]="{'hidden-control': formData.cReadOnly }">
                    <mat-form-field class ="col-width-16 pb-0" >
                      <mat-label>{{formData.cDisplayName}}</mat-label>
                      <input type="{{formData.cType}}" matInput name="{{formData.cName}}"
                        [formControlName]="formData.cName" [(ngModel)]="formData.cValue"
                        [maxLength]="formData.cMaxLength"      
                        [required]="formData.cMandate"                                  
                        [readonly]= "setReadOnlyField( formData.cIsKey,formData.cReadOnly)"
                        placeholder="{{formData.cDisplayName}}">
                        <!-- <mat-error *ngIf="fieldError(formData.cName, 'required')">{{formData.cDisplayName}} is required</mat-error>
                        <mat-error *ngIf="fieldError(formData.cName, 'maxlength')"> Max length {{formData.cMaxLength }}Limit exceed</mat-error> -->
                        <mat-error *ngIf="fieldError(formData.cName, 'required')"></mat-error>
                        <mat-error *ngIf="fieldError(formData.cName, 'maxlength')"></mat-error>
                    </mat-form-field>
                  </div>
                  <div *ngSwitchCase="formData.cType === 'textarea'"
                  [ngClass]="{'hidden-control': formData.cReadOnly }">                  
                    <mat-form-field   class =" col-width-35 pb-0">
                      <mat-label>{{formData.cDisplayName}}</mat-label>
                      <textarea matInput name="{{formData.cName}}"
                        [formControlName]="formData.cName" [(ngModel)]="formData.cValue"
                        [maxLength]="formData.cMaxLength"  
                        [required]="formData.cMandate"                                            
                        [readonly]= "setReadOnlyField( formData.cIsKey,formData.cReadOnly)"
                        placeholder="{{formData.cDisplayName}}"                     
                       rows="8"></textarea>                      
                        <!-- <mat-error *ngIf="fieldError(formData.cName, 'required')">{{formData.cDisplayName}} is required</mat-error>
                        <mat-error *ngIf="fieldError(formData.cName, 'maxlength')"> Max length {{formData.cMaxLength }}Limit exceed</mat-error> -->
                        <mat-error *ngIf="fieldError(formData.cName, 'required')"></mat-error>
                        <mat-error *ngIf="fieldError(formData.cName, 'maxlength')"></mat-error>
                    </mat-form-field>
                  </div>
                  <div *ngSwitchCase="formData.cType === 'select'">
                    <ng-container *ngIf="!(reportName === 'Franchise')">                    
                    <mat-form-field class =" col-width-30 pb-0">
                      <mat-label>{{formData.cDisplayName}}</mat-label>
                        <mat-select [id]="formData.cName" [formControlName]="formData.cName" [(ngModel)]="formData.cValue" 
                        disableOptionCentering panelClass="matselect-centering"
                        [required]="formData.cMandate"   
                        [disabled]= "setReadOnlyField( formData.cIsKey,formData.cReadOnly)">
                        <mat-option   *ngFor="let opt of formData.cList" [value]="opt.internalValue">
                          {{opt.displayValue}}</mat-option>
                      </mat-select>               
                      <!-- <mat-error *ngIf="fieldError(formData.cName, 'required')">{{formData.cDisplayName}} is required</mat-error> -->
                      <mat-error *ngIf="fieldError(formData.cName, 'required')"></mat-error>
                    </mat-form-field>
                      </ng-container>
                    <ng-container *ngIf="reportName === 'Franchise'">
                      <div *ngIf="!(formData.cName === 'Company')">
                      <mat-form-field class ="col-width-30 pb-0">
                        <!-- <mat-label>{{formData.cDisplayName}}</mat-label>
                        <mat-select [id]="formData.cName" [formControlName]="formData.cName" [(ngModel)]="formData.cValue" 
                        disableOptionCentering panelClass="matselect-centering" (selectionChange)="onDropDownChange($event)" 
                        [disabled]= "setReadOnlyField( formData.cIsKey,formData.cReadOnly)"
                        [required]="formData.cMandate"   >
                          <mat-option  *ngFor="let opt of formData.cList" [value]="opt.internalValue">
                            {{opt.displayValue}}</mat-option>
                        </mat-select>               
                        <mat-error *ngIf="fieldError(formData.cName, 'required')">{{formData.cDisplayName}} is required</mat-error>
                        <mat-error *ngIf="fieldError(formData.cName, 'required')"></mat-error> -->
                          <mat-label>{{formData.cDisplayName}}</mat-label>
                          <input #Olo style="font-size:11px" [formControlName]="formData.cName" [(ngModel)]="franchiseValue" type="text" placeholder="{{formData.cValue}}" matInput
                            [matAutocomplete]="autoOloType" [required]="formData.cMandate" minlength="3" OptionsValidator [options]="franchiseList"/>
                          <span matSuffix mat-icon-button>
                            <mat-icon (click)="franchiseValue=''">arrow_drop_down</mat-icon>
                          </span>
                          <mat-autocomplete  autoActiveFirstOption #autoOloType="matAutocomplete" (optionSelected)="onDropDownChange($event)">
                            <mat-option style="font-size:11px" *ngFor="let val of franchiseList | ddlFilter: Olo.value" [value]="val">
                              {{val}}
                            </mat-option>
                          </mat-autocomplete>
                          <mat-error *ngIf="fieldError(formData.cName, 'required')"></mat-error>
                      </mat-form-field>
                      </div>
                      <div *ngIf="formData.cName === 'Company'">
                      <mat-form-field class =" col-width-30 pb-0">
                        <!-- <mat-label>{{formData.cDisplayName}}</mat-label>
                      <mat-select [id]="formData.cName" [formControlName]="formData.cName" [(ngModel)]="firstDropdownVal" 
                      disableOptionCentering panelClass="matselect-centering" 
                      [required]="formData.cMandate"   
                      [disabled]= "setReadOnlyField( formData.cIsKey,formData.cReadOnly)">
                          <mat-option *ngFor="let opt of companyDropdown" [value]="opt">
                            {{opt}}</mat-option>
                      </mat-select>   
                      <mat-error *ngIf="fieldError(formData.cName, 'required')">{{formData.cDisplayName}} is required</mat-error>
                      <mat-error *ngIf="fieldError(formData.cName, 'required')"></mat-error> -->
                          <mat-label>{{formData.cDisplayName}}</mat-label>
                          <input #Company style="font-size:11px" [formControlName]="formData.cName" [(ngModel)]="firstDropdownVal" type="text" placeholder="{{formData.cValue}}" matInput
                            [matAutocomplete]="autoCompanyType" [required]="formData.cMandate" minlength="3" OptionsValidator [options]="franchiseList"/>
                          <span matSuffix mat-icon-button>
                            <mat-icon (click)="firstDropdownVal=''">arrow_drop_down</mat-icon>
                          </span>
                          <mat-autocomplete  autoActiveFirstOption #autoCompanyType="matAutocomplete" (optionSelected)="onDropDownChange($event)">
                            <mat-option style="font-size:11px" *ngFor="let val of companyDropdown | ddlFilter: Company.value" [value]="val">
                              {{val}}
                            </mat-option>
                          </mat-autocomplete>
                          <mat-error *ngIf="fieldError(formData.cName, 'required')"></mat-error>
                    </mat-form-field>
                  </div>
                    </ng-container>
                  </div>
                  <div *ngSwitchCase="formData.cType === 'multiselect'">
                      <ng-container *ngIf="!(reportName === 'Franchise')">
                      <mat-form-field class =" col-width-30 pb-0">
                        <mat-label>{{formData.cDisplayName}}</mat-label>
                          <mat-select [id]="formData.cName" [formControlName]="formData.cName" [(ngModel)]="formData.cValue" multiple 
                          disableOptionCentering panelClass="matselect-centering" (selectionChange)="onMultiselectDropDownChange($event)" 
                          [required]="formData.cMandate"   >
                          <!-- <mat-option>None</mat-option> -->
                          <mat-option   *ngFor="let opt of formData.cList" [value]="opt.internalValue">
                            {{opt.displayValue}}</mat-option>
                        </mat-select>               
                        <!-- <mat-error *ngIf="fieldError(formData.cName, 'required')">{{formData.cDisplayName}} is required</mat-error> -->
                        <mat-error *ngIf="fieldError(formData.cName, 'required')"></mat-error>
                      </mat-form-field>
                        </ng-container>             
                    </div>
                  <!-- <div *ngSwitchCase="formData.cType === 'radio'"
                    [ngClass]="{'radio1': reportName != 'ErrorCode', 'radio2' : reportName === 'ErrorCode' }"> -->
                    <div *ngSwitchCase="formData.cType === 'radio'" >
                    <mat-checkbox   color="primary" [checked]="formData.cValue === 'Y' ||formData.cValue === '1'? true:false"
                      [formControlName]="formData.cName" [(ngModel)]="formData.cValue">{{formData.cDisplayName}}
                    </mat-checkbox>
                    <!-- <mat-error *ngIf="fieldError(formData.cName, 'required')">{{formData.cDisplayName}} is required</mat-error> -->
                    <mat-error *ngIf="fieldError(formData.cName, 'required')"></mat-error>
                  </div>
                </div>
                </div>
              </div>
            </mat-card-content>
          </form>
            <div class="rl-fixed-bottom-bar">
              <mat-card-actions>
                <button *ngIf="eventName==='Create'" type="submit" mat-raised-button
                  [disabled]="referenceForm.invalid"  (click) = "onSubmit()">
                  <mat-icon>save</mat-icon>Save
                </button>
                <button *ngIf="eventName==='Update'" type="submit" mat-raised-button
                  [disabled]="referenceForm.invalid" (click) ="onSubmit()">
                  <mat-icon>edit</mat-icon>Update
                </button>
                <button type="button" mat-raised-button (click)=onCancelDataForm() >
                  <mat-icon>cancel</mat-icon>Cancel
                </button>
              </mat-card-actions>
              <mat-card-subtitle class="rl-card-footer">
                <!-- <span>{{updatedBy}}</span><span style="float: right;padding-right: 3px;">{{updatedOn}}</span> -->
                <div>{{updatedBy}}</div>
                <div style = "float: right;">{{updatedOn}}</div>
              </mat-card-subtitle>
            </div>        
        </ng-container>
      </mat-card>
    </div>
  </ng-container>