<button mat-button [matMenuTriggerFor]="menu" class="vf-panel-title-btn">Select Telephone No</button>
<mat-menu #menu="matMenu">  
  <mat-radio-group  [ngModelOptions]="{standalone: true}"   (change)="TelephoneNo_clicked()" [(ngModel)]="selectedTelNo" aria-label="Select an option">
    <mat-radio-button  *ngFor="let telNo of telNos; let telNoIndex = index"  [value]="telNo" >
     
      <span  [ngStyle]="{'color':inflight.indexOf(telNo) > -1? 'Green' : '' }"> {{telNo}}</span>
    </mat-radio-button>
  </mat-radio-group>
</mat-menu>
<ng-container *ngIf="selectedTelNo">
<span style="margin-top: 0.6rem;margin-right:0.5rem;float:right;">Selected Telephone:<strong>{{selectedTelNo}}</strong></span>
</ng-container>