/* .page-container {
    max-height: 490px;
    min-width: 1111px;
} */

.page-scroll {
    overflow: auto;
  }
  .table-fixed-view{
    min-width: 1170px;
  }

  .table-fixed-view-addressReport {
    /* min-width: 1111px; */
    max-width: fit-content;
  }

  .table-fixed-view-MonthReport {
    max-width: fit-content;
  }