<div id = "vftrans1" class="vf-flex-container" style="padding-top: 2px;padding-bottom:3px;">  
    <mat-card class="mat-elevation-z8" style="padding-top:5px;padding-bottom:4px;">         
        <ng-container *ngIf="views.view1" >            
              <mat-card-content >
                <form [formGroup]="thisForm"  (keydown)="keyPress($event)" (ngSubmit)="onFormSubmit()" autocomplete="off">
                  <div class="vf-flex-container-col"> 
                    <div style="display: flex; align-items: center; justify-content: center;">
                      <mat-form-field  [ngClass]="{'hidden':f.StartTelephoneNumber.disabled}" style="margin-left:2px; margin-top: 1rem; width:180px">
                        <mat-label>Start Telephone No</mat-label>
                        <!-- <span ngIf="f.StartTelephoneNumber.value?.length==10" matPrefix>0 &nbsp;</span> -->
                        <input formControlName="StartTelephoneNumber" class="leftAligned" (focus)='ClearBanner()' (paste)="onPaste($event)" (keypress)="numberOnly($event)" matInput maxlength="11"
                          placeholder="Start Tel No." (ngModelChange)="onChange($event,'StartTelephoneNumber')" [(ngModel)]="model.telno" #starttelno telNoPrefixValidator (change)="onChangeEvent($event,'StartTelephoneNumber')">
                        <!-- <mat-hint align="end">{{starttelno.value?.length || 0}}/11</mat-hint> -->
                        <mat-error>
                          <div *ngIf="f.StartTelephoneNumber.touched && f.StartTelephoneNumber.invalid" class="alert alert-danger">
                            <div *ngIf="f.StartTelephoneNumber.errors?.invalidPrefix">Telephone No Prefix is not valid</div>
                            <div *ngIf="f.StartTelephoneNumber.errors?.pattern">Telephone No should be 10 or 11 digit</div>
                          </div>
                        </mat-error>
                      </mat-form-field>
            
                      <mat-form-field  [ngClass]="{'hidden':f.EndTelephoneNumber.disabled}" style="margin-left:2px; margin-top: 1rem; width:180px">
                        <mat-label>End Telephone No</mat-label>
                        <input formControlName="EndTelephoneNumber" class="leftAligned" (focus)='ClearBanner()' (paste)="onPaste($event)" matInput #endtelno maxlength="11" placeholder="End Tel No."
                          (keypress)="numberOnly($event)" (ngModelChange)="onChange($event,'EndTelephoneNumber')" compareStartNo [startNo]="f.StartTelephoneNumber" [(ngModel)]="model.rangeEnd"  telNoPrefixValidator (change)="onChangeEvent($event,'EndTelephoneNumber')">
                        <!-- <mat-hint align="end">{{endtelno.value?.length || 0}}/11</mat-hint> -->
                        <mat-error>
                          <div *ngIf="f.EndTelephoneNumber.touched && f.EndTelephoneNumber.invalid" class="alert alert-danger">
                            <div *ngIf="f.EndTelephoneNumber.errors?.invalidStartNo">Enter Start Telephone No </div>
                            <div *ngIf="f.EndTelephoneNumber.errors?.invalidPrefix">Telephone No Prefix is not valid</div>
                            <div *ngIf="f.EndTelephoneNumber.errors?.pattern">Telephone No should be 10 or 11 digit</div>
                          </div>
                        </mat-error>
                      </mat-form-field>
                      <!-- <mat-icon  class = info-icon style = "margin-left:3px" matTooltip="Maximum CLIs 10000 Only" matTooltipPosition="above" [matTooltipClass]="'tooltip'">info</mat-icon>                         -->

                      <mat-label style="padding-right:1rem;padding-left: 1rem;">Total CLI(s)<strong>{{clirangecount|number}}</strong></mat-label>                                                          
                    </div>
                      <div  *ngIf="CliRangeSetMain.length >0" style ="margin-bottom: 2rem;" #MultiRangeList > 
                        <mat-list style ="max-height:300px;overflow-x:hidden; overflow-y:auto;min-height:75px;" #cliList>
                          <mat-list-item style =" display: inline-flex; align-items:center;  height: 12px;padding-top: 5px;padding-bottom: 3px;border-top: 3px;background-color:#e60000;color:white;text-align:center;">                              
                            <!-- <p matLine > -->
                              <div style="display:inline-flex;">
                              <span style="width:160px;box-sizing: border-box;">Start Tel No.</span>
                              <span style="width:160px;box-sizing: border-box;">End Tel No.</span>
                              <span style="width:160px;box-sizing: border-box;">CLI Count</span>
                              <span style="width:100px;box-sizing: border-box;">Remove</span>    
                            </div>                                                        
                            <!-- </p>                                                       -->
                          </mat-list-item>  
                          <mat-list-item  *ngFor="let cli of CliRangeSetMain; let index = index " style ="height: 12px;padding-top: 8px;padding-bottom: 8px;border-top: 5px;text-align:center;color:#3f51b5;font-size: 0.8571em !important;font-weight: 500;">                              
                            <!-- <p matLine > -->
                              <div style="display:inline-flex;text-align: center;padding-top: 2px;">
                              <span style="width:160px;box-sizing: border-box;">{{cli[0]}}</span>
                              <span style="width:160px;box-sizing: border-box;">{{cli[1]}}</span>
                              <span style="width:160px;box-sizing: border-box;">{{cli[2]|number}}</span>
                              <!-- <span style="min-width:5%;text-align:end;box-sizing: border-box;"> -->
                                   <mat-icon (click)="removeRangeCli(index)" 
                                  style="color:#e60000;margin-left:36px">delete_outline</mat-icon>                                  
                                
                              <!-- </span>   -->
                            </div>                                                          
                            <!-- </p>                                                       -->
                          </mat-list-item>                                             
                        </mat-list>                        
                      </div>                    
                    <div style="display: flex;align-items: center;justify-content: center;">
                        <span>
                          <!-- <button  *ngIf="visibleSearchOption2.checked == true" type="submit"  mat-raised-button [ngClass]="btncolor" matTooltip="start or end valid telephone no entered then this add button will be enable" style ="margin-left:50px;background-color: green !important;color:white" (click)="addRangeTel()"> -->
                            <button  type="button"  mat-raised-button [ngClass]="addbtncolor"  style ="margin-left:0px;" (click)="addRangeTel()" [disabled]="addCliState">
                            <mat-icon>add_box</mat-icon>Add Cli(s)
                          </button>
                        <button type="button"  mat-raised-button [ngClass]="defaultbtn" style ="margin-left:10px" (click)="SearchTel()" [disabled]="searchTelState">
                          <mat-icon>search</mat-icon>Search
                        </button>
                        <button type="button"  mat-raised-button [ngClass]="defaultbtn" style ="margin-left:10px" (click)="GoBack()" *ngIf="backstate">
                          <mat-icon>search</mat-icon>Go Back
                        </button>
                      </span>
                      </div>
                 
                  </div>
                </form>
                 
                </mat-card-content>
          </ng-container>  
        <ng-container *ngIf="views.view2">              
                <mat-card-content>  
                  <!-- removed content                     -->
                      <div class ="flex-container"> 
                          <!-- <div *ngIf="multiRangeChecked == true" > -->
                            <div *ngIf="CliRangeSet.length===1" >
                              <mat-label style="font-size:small;padding-right:2rem;"><strong>Start Telephone No.</strong>{{CliRangeSet[0][0]}}</mat-label>                                                          
                              <mat-label style="font-size:small;" *ngIf="CliRangeSet[0][1]>0"><strong>End Telephone No.</strong>{{CliRangeSet[0][1]}}</mat-label>                          
                            </div>
                            <!-- <div *ngIf="multiRangeChecked == !true" style ="padding-bottom: 10px;"> -->
                              <div *ngIf="CliRangeSet.length>1" style ="padding-bottom: 30px;">
                              <span style ="float:left;">
                              <mat-label style="font-size:large;padding-right:1rem;"><strong>Total CLI(s) </strong>{{clirangecountOnsave}}</mat-label> 
                              <!-- CliRangeSet.length                                                          -->
                              
                            </span>
                            <span style ="float: right;margin-right: 40px;">
                                  <button type="button" mat-raised-button   [ngClass]="defaultbtn" style="margin-left: 10px; padding-left:2px;width:auto;height:2em;font-size: small;line-height: 16px !important;"   (click)="ReviewCli()">
                                <i class="material-icons" style ="font-size:larger;width:30px; vertical-align: middle;">edit</i>Review
                              </button>  
                            </span>                         
                            </div>          
                        </div> 
                    <div class ="vf-flex-container"style= "height: 141px;">
                     
                        <form  [formGroup]="viewForm"  class="screenview" autocomplete="off"  (ngSubmit)="onSfSubmit()">
                          <div>
                            <div style="float: left;">
                                <span style="font-size:x-small;padding-left:6px;"><strong>Provide: </strong>{{Provide}}</span>                             
                                <span style="font-size:x-small;padding-left:6px;"><strong>Master: </strong>{{Master}}</span>                             
                                <span style="font-size:x-small;padding-left:6px;"><strong>Live: </strong>{{Live}}</span>   
                              </div>                          
                       <div style ="float:right"> 
                      <span><button type="submit"  *ngIf="AuditStatus" mat-raised-button [ngClass]="defaultbtn" style="margin-left: 10px; margin-top:6px;height: 2em;font-size: small;line-height: 16px !important;"    (click)="AuditTrail()">                        
                        <i class="material-icons" style ="font-size:small;vertical-align: middle;">history</i>Audit Trail 
                      </button></span>
                      <span>
                      <button type="cancel" mat-raised-button   [ngClass]="defaultbtn" style="margin-left: 10px; padding-left: 20px;padding-right: 20px; margin-top: 6px; height:2em;font-size: small;line-height: 16px !important;"   (click)="resetTel(this)">
                        <i class="material-icons" style ="font-size:small;vertical-align: middle;">refresh</i>Reset
                      </button>  
                    </span>
                     </div>                        
                    </div> 
                    <div style="padding-top: 1rem;">
                      <div class="vf-flex-container" style="margin-top: 30px;width: 100%;">
                        <div class="vf-flex-container-col" style="margin: 2px;"> 
                          <div style="margin-bottom: 6px;width:273px">
                      <span>
                   
                    </span>
                    <span>
                      <ng-container *ngIf="Cuparr  as config" style="font-size:11px">
                        <mat-form-field [ngClass]="{'hidden':g.CupID.disabled}" style="margin-left:2px;width:225px">
                          <mat-label>CupID *</mat-label>
                          <input #cupid  style="font-size:11px" formControlName="CupID" type="text" [(ngModel)]="model.CupId" placeholder="CupID" matInput
                            [matAutocomplete]="autoCupID" OptionsValidator (ngModelChange)="onmodelCupIDchange($event,'CupID')" [options]="config.CupID" />
                           
                            <span matSuffix mat-icon-button>
                            
                            <mat-icon style="display:contents!important" (click)="model.CupId=''">arrow_drop_down</mat-icon>
                          </span>
                          <mat-autocomplete (optionSelected)="onCupIDChange($event)"  autoActiveFirstOption #autoCupID="matAutocomplete">
                            <mat-option style="font-size:11px" *ngFor="let val of config.CupID | ddlFilter: cupid.value" [value]="val">
                              {{val}}
                            </mat-option>
                          </mat-autocomplete>
                          <mat-error *ngIf="g.CupID.errors?.validOptions">Value need to match available options</mat-error>
                          <mat-error class="error-message" *ngIf="checkErrorinFrom('CupID', 'required')">Select CupID
                          </mat-error>  
                        </mat-form-field>
                    </ng-container>
                    
                    </span>
                   
                    <span>           
                      
                       <ng-container *ngIf="SourceFranchisearr  as config1">
                        <mat-form-field *ngIf = "enableFrancise"  [ngClass]="{'hidden':g.Franchise.disabled}" style="margin-left:2px;width:225px;">
                          <mat-label>Franchise *</mat-label>
                          <input #franchise style="font-size:11px" formControlName="Franchise" [(ngModel)]="model.franchise" type="text" placeholder="Franchise" matInput
                            [matAutocomplete]="autoFranchise" OptionsValidator [options]="config1.Franchise" />
                          
                            <span matSuffix mat-icon-button>
                            
                            <mat-icon style="display:contents!important" (click)="model.franchise=''">arrow_drop_down</mat-icon>
                          </span>
                          <mat-autocomplete    autoActiveFirstOption #autoFranchise="matAutocomplete">
                            <mat-option style="font-size:11px" *ngFor="let val of config1.Franchise | dropDownListFranchise: franchise.value" [value]="val">
                              {{val}}
                            </mat-option>
                          </mat-autocomplete>
                          <mat-error *ngIf="g.Franchise.errors?.validOptions">Value need to match available options</mat-error>
                          <mat-error class="error-message" *ngIf="checkErrorinFrom('Franchise', 'required')">Select Franchise
                          </mat-error>  
                        </mat-form-field>
                    </ng-container>
                    </span> 
                          </div>
                        </div>
                        <div class="vf-flex-container-col" style="margin: 2px;float: left;display: block;">
                          <div style="margin-bottom: 6px;"> 
                           
                            <span>
                              <ng-container *ngIf="SourceFranchisearr  as config1">
                                <mat-form-field *ngIf = "enableSource"   [ngClass]="{'hidden':g.Franchise.disabled}" style="margin-left:2px;width:260px;">
                                  <mat-label>Source *</mat-label>
                                  <input #source formControlName="Source" style="font-size:11px" [(ngModel)]="model.source"  (ngModelChange)="onmodelSourcechange($event,'CupID')" type="text" placeholder="Source" matInput
                                    [matAutocomplete]="autoSource" OptionsValidator [options]="config1.Source" />
                                  <span matSuffix mat-icon-button>
                                  
                                    <mat-icon style="display:contents!important" (click)="model.source=''">arrow_drop_down</mat-icon>
                                  </span>
                                  <mat-autocomplete (optionSelected)="onSourceChange($event)"   autoActiveFirstOption #autoSource="matAutocomplete">
                                    <mat-option style="font-size:11px" *ngFor="let val of config1.Source | ddlFilter: source.value" [value]="val">
                                      {{val}}
                                    </mat-option>
                                  </mat-autocomplete>
                                  <mat-error *ngIf="g.Source.errors?.validOptions">Value need to match available options</mat-error>
                                  <mat-error class="error-message" *ngIf="checkErrorinFrom('Source', 'required')">Select Source
                                  </mat-error>  
                                </mat-form-field>
                            </ng-container>
                            </span>
                      </div> 
                      <div style="margin-bottom: 6px;"> 
                           
                        <span>
                          <ng-container>
                           
                        </ng-container>
                        </span>
                  </div> 
                      

                        </div>
                      </div>
                    </div>
                                                  
                          </form> 
                      </div>                      
                  </mat-card-content>
          </ng-container>
        <ng-container *ngIf="views.view3">          
            <mat-card-content >    
              <form [formGroup]="view3Form"  autocomplete="off" class="vf-box-shadow1">
                <ng-container *ngIf="configDetails  as config">
                <div class="vf-flex-container-col">
                  <div class="vf-flex-container">
                      <div class="vf-flex-container-col" style="margin: 2px; width: 273px;display: block;text-align: center;"> 
                        <div style="margin-bottom: 6px;">
                          <mat-form-field [ngClass]="{'hidden':d.TransactionType.disabled}">
                            <mat-label>Transaction Type *</mat-label>
                            <input #transactiontype style="font-size:11px" formControlName="TransactionType" [(ngModel)]="model.TransactionType" type="text" placeholder="Transaction Type" matInput
                              [matAutocomplete]="autoTransactionType" OptionsValidator [options]="config.TransactionType" />
                            <span matSuffix mat-icon-button>
                              <mat-icon (click)="model.TransactionType=''">arrow_drop_down</mat-icon>
                            </span>
                            <mat-autocomplete (optionSelected)="onSelectionChange($event)" autoActiveFirstOption #autoTransactionType="matAutocomplete">
                              <mat-option style="font-size:11px" *ngFor="let val of config.TransactionType | ddlFilter: transactiontype.value" [value]="val">
                                {{val}}
                              </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="d.TransactionType.errors?.validOptions">Value need to match available options</mat-error>
                            <mat-error class="error-message" *ngIf="checkError('TransactionType', 'required')">Select Transaction Type
                            </mat-error>
                          </mat-form-field>
                        </div> 
                        <div style="margin-bottom: 6px;">
                          <mat-form-field [ngClass]="{'hidden':d.LineType.disabled}">
                            <mat-label>Line Type </mat-label>
                            <input style="font-size:11px" #linetype formControlName="LineType" [(ngModel)]="model.LineType"  type="text" placeholder="Line Type" matInput
                              [matAutocomplete]="autoLineType" OptionsValidator [options]="config.LineType" />
                            <span matSuffix mat-icon-button>
                              <mat-icon (click)="model.LineType=''">arrow_drop_down</mat-icon>
                            </span>
                            <mat-autocomplete autoActiveFirstOption #autoLineType="matAutocomplete">
                              <mat-option>-- Select --</mat-option> 
                              <mat-option style="font-size:11px" *ngFor="let val of config.LineType | ddlFilter: linetype.value" [value]="val">
                                {{val}}
                              </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="d.LineType.errors?.validOptions">Value need to match available options</mat-error>
                            <mat-error class="error-message" *ngIf="checkError('LineType', 'required')"> Select LineType</mat-error>
                          
                          </mat-form-field>
                        </div> 
                        <div style="margin-bottom: 6px;">
                          <mat-form-field [ngClass]="{'hidden':d.TypeOfLine.disabled}">
                            <mat-label>Type of Line *</mat-label>
                            <input style="font-size:11px" #typeofline formControlName="TypeOfLine" [(ngModel)]="model.TypeOfLine" type="text" placeholder="TypeOf Line" matInput
                              [matAutocomplete]="autoTypeOfLine" OptionsValidator [options]="config.TypeOfLine" />
                            <span matSuffix mat-icon-button>
                              <mat-icon  (click)="model.TypeOfLine=''">arrow_drop_down</mat-icon>
                            </span>
                            <mat-autocomplete autoActiveFirstOption #autoTypeOfLine="matAutocomplete">
                              <mat-option style="font-size:11px" *ngFor="let val of config.TypeOfLine | ddlFilter: typeofline.value" [value]="val">
                                {{val}}
                              </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="d.TypeOfLine.errors?.validOptions">Value need to match available options</mat-error>
                            <mat-error class="error-message" *ngIf="checkError('TypeOfLine', 'required')"> Select TypeOfLine</mat-error>
                          </mat-form-field>
                        </div> 
                        <div style="margin-bottom: 6px;">
                          <mat-form-field class="vf-mr-negative" [ngStyle]="{'width':isExportImportSelected?'112px' :'225px'}">
                            <mat-label class="vf-label">Order Ref. *</mat-label>
                            <input type="text" formControlName="OrderReference" 
                            [(ngModel)]="transactionItem.orderRef"
                            (blur)="makeUppercase(transactionItem.orderRef,'OrderReference')" 
                            matInput #input  placeholder="Order Ref. *"  size="12"  value=""  onchange="gnSysChange=true;" ondblclick="sysEditText('document.sf.txt[10]')">
                            <mat-error class="error-message" *ngIf="checkError('OrderReference', 'required')"> Enter OrderRef</mat-error>
                        
                          </mat-form-field>                             
                          <span *ngIf="isExportImportSelected" [ngStyle]="{'display': isExportImportSelected ? 'inline-flex' : 'none' }" ><mat-form-field   class="vf-mr-negative" style="width:106px;margin-left: 4px;">
                            <mat-label class="vf-label">I/E CUPID *</mat-label>
                            <input type="text" [(ngModel)]="model.IECUPID"  matInput formControlName="ImportExportCupId" matInput #input   placeholder="I/E CUPID" size="12" value="" (keypress)="numberOnly($event)"  onchange="gnSysChange=true;"   ondblclick="sysEditText('document.sf.txt[10]')">
                            <mat-error class="error-message" *ngIf="checkError('ImportExportCupId', 'required')"> Enter CUPID</mat-error>
                        
                          </mat-form-field> </span>
                        </div>
                        <div >
                          <mat-form-field  style="height:83px;margin: 0px;width:225px">
                          <mat-label class="vf-label">Comment</mat-label>
                          <textarea matInput placeholder="Comment"
                            cdkTextareaAutosize matInput formControlName="Comments"
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="3"
                            cdkAutosizeMaxRows="3"
                           
                            size="20" maxlength="140"         
                          ></textarea>              
                        </mat-form-field>
                      </div> 
                      </div>
                      <div class="vf-flex-container-col" style="margin: 2px;float: left;display: block;">
                        <div style="margin-bottom: 15px;"> 
                          <span>                        
                          <mat-form-field   class="vf-mr-negative" style="width:250px;">
                            <mat-label class="vf-label">Customer Name *</mat-label>
                            <textarea matInput placeholder="Customer Name *" 
                            cdkTextareaAutosize matInput formControlName="CustomerName"
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="2"
                           
                            size="20" maxlength="50" 
                            name =customerName
                            [(ngModel)]="transactionItem.customerAddress.customerName"
                            (blur)="makeUppercase(transactionItem.customerAddress.customerName,'CustomerName')" 
                            ></textarea>  
                            <mat-error class="error-message" *ngIf="checkError('CustomerName', 'required')"> Enter Customer Name</mat-error>
                                                        
                          </mat-form-field> 
                         
                          <button type="button" mat-mini-fab  style="margin-left: 6px;margin-bottom: 9px; height:30px;width:30px;vertical-align:middle; font-size: small;line-height: 0px !important;  background-color:gray;" matTooltip="Update Default Office Address Details"  (click)="updateDefaultOfficeAddressDetails()">
                            <mat-icon style ="font-size:small;width:24px;height:24px;vertical-align:middle; display: inline-flex;align-items: center;justify-content: center;">content_copy</mat-icon>
                          </button>
                        </span>   
                        
                      </div>
                      <div style="margin-bottom: 20px;">
                        <mat-form-field   class="vf-mr-negative"style="width:300px;" >
                          <mat-label class="vf-label">Address1 *</mat-label>
                          <textarea  matInput placeholder="Address1 *"
                            cdkTextareaAutosize  matInput formControlName="AddressLine1"
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="2"                           
                          
                            size="20" maxlength="100" 
                            name =address1
                            [(ngModel)]="transactionItem.customerAddress.address1"   
                            (blur)="makeUppercase(transactionItem.customerAddress.address1,'AddressLine1')"              
                          ></textarea>       
                          <mat-error class="error-message" *ngIf="checkError('AddressLine1', 'required')"> Enter address1</mat-error>
                               
                        </mat-form-field>
                    </div>
                    <div style="margin-bottom: 20px;">
                      <mat-form-field   class="vf-mr-negative" style="width:300px;">
                        <mat-label class="vf-label">Address2 *</mat-label>
                        <textarea matInput placeholder="Address2 *"
                          cdkTextareaAutosize matInput formControlName="AddressLine2"
                          #autosize="cdkTextareaAutosize" 
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="2"
                          size="20" maxlength="100"   
                          name =address2
                          [(ngModel)]="transactionItem.customerAddress.address2"    
                          (blur)="makeUppercase(transactionItem.customerAddress.address2,'AddressLine2')"              
                        ></textarea>  
                        <mat-error class="error-message" *ngIf="checkError('AddressLine2', 'required')"> Enter Address2</mat-error>
                                   
                      </mat-form-field>
                  </div>
                  <div style="margin-bottom: 5px;">
                    <mat-form-field   class="vf-mr-negative" style="width:300px;">
                      <mat-label class="vf-label">Address3</mat-label>
                      <textarea matInput placeholder="Address3"
                        cdkTextareaAutosize matInput formControlName="AddressLine3"
                        #autosize="cdkTextareaAutosize" 
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="2"
                      
                        size="20" maxlength="100"  
                        name =address3
                        [(ngModel)]="transactionItem.customerAddress.address3"   
                        (blur)="makeUppercase(transactionItem.customerAddress.address3,'AddressLine3')"               
                      ></textarea>              
                    </mat-form-field>
                </div>
                <div style="margin-bottom:5px;">
                  <mat-form-field   class="vf-mr-negative" style="width:300px;">
                    <mat-label class="vf-label">Address4</mat-label>
                    <textarea matInput placeholder="Address4"
                      cdkTextareaAutosize matInput formControlName="AddressLine4"
                      #autosize="cdkTextareaAutosize" 
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="2"
                   
                      size="20" maxlength="100"
                      name =address4
                      [(ngModel)]="transactionItem.customerAddress.address4"   
                      (blur)="makeUppercase(transactionItem.customerAddress.address4,'AddressLine4')"                 
                    ></textarea>              
                  </mat-form-field>
                </div>
                <div >
                  <mat-form-field   class="vf-mr-negative" style="width:100%;">
                      <mat-label class="vf-label">Post Code *</mat-label>
                      <input type="text" 
                       matInput  placeholder="Post Code "  
                       name =postcode matInput formControlName="PostCode"
                       [(ngModel)]="transactionItem.customerAddress.postcode"
                       (blur)="makeUppercase(transactionItem.customerAddress.postcode,'PostCode')" 
                       size="12" 
                       maxlength="20" 
                       >
                       <mat-error class="error-message" *ngIf="checkError('PostCode', 'required')"> Enter postcode</mat-error>
                      
                  </mat-form-field>                                  
                  </div>  

                      </div>
                  </div>
                  <div class =vf-flex-container style="margin-block: 1px; padding-bottom: 2px;">                           
                    <button type="submit" mat-raised-button [ngClass]="defaultbtn" style="margin-left: 10px; height: 2em;font-size: small;line-height: 16px !important;" value="SAVE"  (click)="saveTran('N')" [disabled]="view3Form.invalid || viewForm.invalid ">
                    <mat-icon style ="font-size:small;width:30px;height: 16px;">save</mat-icon>Save
                  </button>
                  <button type="submit" mat-raised-button  [ngClass]="defaultbtn" style="margin-left: 10px; height: 2em;font-size: small;line-height: 16px !important;"  (click)="viewAddressCheck($event)">
                    <mat-icon style ="font-size:small;width:30px;height: 16px;">search</mat-icon>Check Address
                  </button>
                  <button type="submit"  id="forcesavedisable" mat-raised-button  [ngClass]="defaultbtn" style="margin-left: 10px; height: 2em;font-size: small;line-height: 16px !important;" value="Force Validate Save"  (click)="saveTran('Y')" [disabled]="view3Form.invalid || viewForm.invalid">                             
                    <span class="material-icons" style ="font-size:small;width:30px;height: 16px;">
                      save_alt
                      </span>Force Validate Save
                  </button>
                </div>  
                  </div>
                
                </ng-container>
              </form>          
                <form #tf ="ngForm" (ngSubmit)="onTfSubmit()" class="vf-box-shadow1" (change)="OnstateItemChange($event)">
                    <div class="vf-flex-container-col">
                        <div class="vf-flex-container">
                        </div>                        
                      </div>  
                  </form> 
              </mat-card-content>
          </ng-container>
      </mat-card>

  </div>
  
