#vftrans1 {
    /* zoom:73%; */
    /* background-color: #ce0e3e73; */
    /* background-color: #ece7e7c7; */
    padding-block:1rem; 
  }
  .vf-flex-container {
          display: flex;
          height: auto;
          flex-direction: row;
          justify-content: center;        
          /* margin-top: .5rem;
          margin-bottom: .5rem; */
        }
  .vf-flex-container-col {
          display: flex;
          width: auto;
          flex-direction: column;
          justify-content: center;        
        }
  .vf-mr-negative{
          margin-block:-.5rem;        
        } 
  .vf-card-title{
          box-shadow: 0 1px 1.5px -.5px rgba(0,0,0,.2), 0 1px 3px 0 rgba(0,0,0,.14), 0 .5px 3px 0 rgba(0,0,0,.12);
          background-color:#e60000;
          color:white;
          text-align:left;
          font-size: 14px;
          padding-block: 1px;
          padding-left: 5px;
        } 
    
  .vf-box-shadow{
    box-shadow: 0 3px 3px -1px rgba(0,0,0,.2), 0 px 5px 0 rgba(0,0,0,.14), 0 1px 9px 0 rgba(0,0,0,.12);
  }  
  .vf-darkmode{
    background-color: rgb(17, 14, 14); 
  }
  .vf-label{
    /* color:fuchsia;  */
    /* color:rgb(167, 170, 160); */
    font-size: 10pt;
  }  
  .vf-outline1 {
    outline: solid 3px rgb(100, 100, 110);
    outline-offset: 3px;
    padding-top: .5rem;
    border-radius: 1%;
  }
  .vf-divder {
    padding-top: .5rem;
    width:90%
  }
        
  .info-icon {
      color:#17a2b8;
      margin-top: .1rem;
  }
  .vf-band {
     padding: block 1em;padding-right: 1rem;padding-left: 1rem;background-color:#08475a;color:white;font-size:large
  }
  .vf-band1 {
    padding: block 1em;padding-right: 1rem;padding-left: 1rem;background-color:rgb(6, 18, 90);color:white;font-size:large
  }
    
  :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.3em 0 0.3em 0 !important;
    top: -0.60em !important;    
  } 

  :host ::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
    height: 60px;
}

.vf-primary-btn{
  background-color:#54575a;
  color: white;
}
.vf-min-primary-btn{
  /* background-color:#54575a !important; */
  /* color: white;   */
  height:3em;
  font-size:x-small;
  /* line-height: 16px !important; */

}
.vf-sub-title{  
  background-color:#007c92;
  color: white;
}
.vf-vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.vf-add-btn{
  background-color: green;
  color:white;
}
   
  
/* .mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
} */

nav ul{height:200px; width:18%;}
nav ul{overflow:hidden; overflow-y:scroll;}
:host ::ng-deep .mat-mini-fab .mat-button-wrapper {
  padding-top:0px !important;
  padding-bottom:0px !important;
  line-height: 0px !important;

}

vf-list-header1 {
  /* border:3px solid grey; */
  border-left: 3px solid rgb(60, 190, 180);border-top: 3px solid rgb(60, 190, 180); background-color:gray; color: white;padding:2rem;
}
vf-list-value1 {
  /* border:3px solid grey; */
  border-left: 3px solid rgb(60, 190, 180);border-top: 3px solid rgb(60, 190, 180); background-color:gray; color: white;padding:2rem;

}

 /* :host ::ng-deep .mat-list-base .mat-list-item ::after{ */
  /* content: ""; */
  /* clear: bottom;  */
/* }  */