<div id = "vftrans" class="vf-flex-container" >  
    <mat-card class="mat-elevation-z8">
      <mat-card-title class ="vf-card-title" >Transactions</mat-card-title>
        <mat-card-content #view1 [style]="view1Toggle">
        <form  #ff ="ngForm" (ngSubmit)="onSubmit()" >
          <div> 
            <mat-form-field appearance="outline"  form-control-name= "" style="margin-left:2px; margin-top: auto;">
              <mat-label>Tel.No Start</mat-label>
              <input matInput [(ngModel)]="model.telno" maxlength="11" placeholder="Tel.No Start"  name = "telno" size = 11 style="margin-right:auto">
            </mat-form-field>              
            <mat-form-field appearance="outline" style="margin-left:2px; margin-top: auto;">
              <mat-label>Tel.No End</mat-label>
              <input matInput [(ngModel)]="model.rangeEnd" maxlength="11" placeholder="Tel.No End" name = "rangeEnd" size = 11 style="margin-left:auto;" >
            </mat-form-field>             
            <mat-icon  class = info-icon style = "margin-left:3px" matTooltip="The maximum CLIs in a range is limited to 1000.Only enter an End Tel No. if you intend to specify a range." matTooltipPosition="above" [matTooltipClass]="'tooltip'">info</mat-icon>
            <button type="submit"  mat-raised-button color="primary" matTooltip="Search" style ="margin-left:50px" (click)="SearchTel(model.telno,model.rangeEnd)">
                <mat-icon>search</mat-icon>Search
              </button>
          </div>        
        </form> 
        </mat-card-content>
        <mat-card-content #view2 [style]="view2Toggle" style="margin-bottom: -20px; ;">
              <form #sf ="ngForm"  (ngSubmit)="onFormSubmit()">        
                  <div class ="flex-container"> 
                    <mat-label style = "margin-left: 1rem;"><strong>Provide: </strong></mat-label>
                    <span class = vf-band>{{Provide}}</span>
                    <mat-label style = "margin-left: 1rem;"><strong>Master: </strong></mat-label>
                    <span class = vf-band>{{Master}}</span>
                    <mat-label style = "margin-left: 1rem;"><strong>Live: </strong></mat-label>
                    <span class = vf-band>{{Live}}</span>            
                    <span matTooltip="The numbers show how many current transactions exist for the telephone number." matTooltipPosition="above" [matTooltipClass]="'tooltip'">
                      <span><mat-icon  class = info-icon  matTooltipClass="tooltip">info</mat-icon></span>
                    </span>                          
                      <mat-label style="margin-left: 1rem;"><strong>Start Tel.No.</strong></mat-label>
                      <span class = vf-band style="display: inline-block;width:90pt;">{{StartTelNo}}</span>              
                      <mat-label style="margin-left: 1rem;" ><strong>End Tel.No.</strong></mat-label>
                      <span class = vf-band style="display: inline-block;width:90pt;">{{EndTelNo}}</span>    
                  </div>           
                  <div class ="flex-container"style= "margin-block:1rem;mi-width:100%">
                    <button type="submit" mat-raised-button color="primary" matTooltip="Audit Trail"  (click)="AuditTrail()">
                      <!-- <mat-icon>search</mat-icon>Audit Trail -->
                      <i class="material-icons">history</i>Audit Trail 
                    </button>
                    <button type="cancel" mat-raised-button color="primary" matTooltip="Reset"  (click)="resetTel(this)">
                      <mat-icon>refresh</mat-icon>Reset
                    </button>
                    <mat-form-field appearance="outline" class="vf-mr-negative" style="margin-left:5px;">
                      <mat-label class="vf-label" >CUPID</mat-label>  
                      <mat-select [(ngModel)]="selectedCupId" name="CupID" placeholder="CupID *" style ="font-size:smaller;">
                        <mat-option [value]="">                  
                        </mat-option>
                        <mat-option *ngFor="let cupid of cupIds" [value]="cupid.value">
                          {{cupid.viewValue}}
                        </mat-option>
                      </mat-select> 
                    </mat-form-field>            
                      <mat-form-field *ngIf=selectedCupId
                      appearance="outline" class="vf-mr-negative" style="margin-left:2px;width:42%;">
                        <mat-label class="vf-label">Franchise</mat-label>             
                        <mat-select #franchise name="txtFranchise"  onchange="check_franchise(this);" (click)="resetTel1(this)" style ="font-size:smaller;">
                          <mat-option value="-1"></mat-option>
                          <mat-option value="000,C,13">SAS/COMS VOD-VOD-000 Default franchise for unsolicited</mat-option>
                          <mat-option value="AUD,A,13">AUDIT VOD-VOD-AUD Audit Purposes Only</mat-option>
                          <mat-option value="CCN,C,13">SAS/COMS CWN-CWN-CCN Complete Contact</mat-option>
                          <mat-option value="DVA,D,13">DVA Siebel VOD-VOD-DVA DVA Siebel</mat-option>
                          <mat-option value="MCL,C,13">SAS/COMS VOD-VOD-MCL Blue Network</mat-option>
                          <mat-option value="RIC,F,13">Ring Central VOD-VOD-RIC Ring Central SIP Product</mat-option>
                          <mat-option value="SOM,S,13">Amdocs SOM VOD-VOD-SOM Amdocs SOM</mat-option>
                          <mat-option value="VFC,E,13">VA/WAD CWA-WAD-VFC Vodafone Consumer Account</mat-option>
                          <mat-option value="VOD,C,13" selected="">SAS/COMS VOD-VOD-VOD Default Franchise</mat-option>
                          <mat-option value="VOD,O,13">FMC VOD-VOD-VOD Default Franchise</mat-option>
                          </mat-select>          
                      </mat-form-field>
                  </div> 
              </form> 
        </mat-card-content>
        <mat-card-content #view3 [style]="view3Toggle" class="vf-outline">
          <form #tf ="ngForm" (ngSubmit)="onFormSubmit()" class="vf-box-shadow">
            <div class="vf-flex-container-col">
              <div class="vf-flex-container">
                <div class="vf-flex-container-col" style="margin: 2px;"> 
                    <div>
                      <mat-form-field appearance="outline" class="vf-mr-negative">
                        <mat-label class="vf-label">Trans. Type *</mat-label>
                        <mat-select name="txt"  onchange="check_list(this,1)">
                        <mat-option value=""></mat-option>
                        <mat-option value="A">Activate Customer</mat-option>
                        <mat-option value="C">Cease Customer</mat-option>
                        <mat-option value="E">Export</mat-option>
                        <mat-option value="I">Import</mat-option>
                        <mat-option value="M">Modify</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" class="vf-mr-negative">
                          <mat-label class="vf-label">Line Type</mat-label>
                          <mat-select name="txt" onchange="check_list(this,3)">
                            <mat-option value=""></mat-option>
                            <mat-option value="D">DDI</mat-option>
                            <mat-option value="V">VOIP</mat-option>
                          </mat-select>
                        </mat-form-field>             
                    </div>
                    <div>
                      <mat-form-field appearance="outline" class="vf-mr-negative">
                        <mat-label class="vf-label">Cust. Title</mat-label>
                        <mat-select name="txt" onchange="check_list(this,5)">
                          <mat-option value=""></mat-option>
                          <mat-option value="Dame">Dame</mat-option>
                          <mat-option value="Doc">Doctor</mat-option>
                          <mat-option value="Lady">Lady</mat-option>
                          <mat-option value="Lord">Lord</mat-option>
                          <mat-option value="Lord/Lady">Lord and Lady</mat-option>
                          <mat-option value="MS.">Ms</mat-option>
                          <mat-option value="Miss">Miss</mat-option>
                          <mat-option value="Mr">Mr.</mat-option>
                          <mat-option value="Mr/Mrs">Mr and Mrs</mat-option>
                          <mat-option value="Mrs">Mrs.</mat-option>
                        </mat-select>
                      </mat-form-field>              
                    </div>
                    <div>                            
                        <mat-form-field appearance="outline" class="vf-mr-negative">
                          <mat-label class="vf-label">Custemer Name *</mat-label>
                          <textarea matInput placeholder="Custermer Name *"
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="2"
                          onblur="triggerResize()" 
                          size="20" maxlength="20"                  
                          ></textarea>                                  
                        </mat-form-field> 
                    </div>
                    <div>
                      <mat-form-field appearance="outline" class="vf-mr-negative">
                        <mat-label class="vf-label">Cust. Forename</mat-label>
                        <textarea matInput placeholder="Cust. Forename"
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="2"
                        onblur="triggerResize()" 
                        size="20" maxlength="20"                  
                        ></textarea>              
                        <!-- <textarea type="text" matInput placeholder="Cust. Forename" size="20" maxlength="20" value="" onblur="check_text(this,7,'','')" onchange="gnSysChange=true;" ondblclick="sysEditText('document.sf.txt[6]')"> -->
                      </mat-form-field>
                    </div> 
                    <div>                
                      <mat-form-field appearance="outline" class="vf-mr-negative">
                        <mat-label class="vf-label">Busn. Suffix</mat-label>
                        <textarea matInput placeholder="Busn. Suffix"
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="2"
                        onblur="triggerResize()" 
                        size="20" maxlength="40"                  
                        ></textarea>
                        <!-- <input type="text" matInput  placeholder="Busn. Suffix" size="40" maxlength="40" value="" onblur="check_text(this,9,'','')" onchange="gnSysChange=true;" ondblclick="sysEditText('document.sf.txt[8]')">              -->
                      </mat-form-field>
                    </div>            
                  </div>
                <div class="vf-flex-container-col" style="margin: 2px;"> 
                  <div>
                    <mat-form-field appearance="outline" class="vf-mr-negative"style="width:100%;" >
                      <mat-label class="vf-label">Address1 *</mat-label>
                      <textarea matInput placeholder="Address1 *"
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="2"
                        onblur="triggerResize()" 
                        size="20" maxlength="40"                  
                      ></textarea>              
                    </mat-form-field>
                </div>
                <div>
                  <mat-form-field appearance="outline" class="vf-mr-negative" style="width:100%;">
                    <mat-label class="vf-label">Address2 *</mat-label>
                    <textarea matInput placeholder="Address2 *"
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="2"
                      onblur="triggerResize()" 
                      size="20" maxlength="40"                  
                    ></textarea>              
                  </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="outline" class="vf-mr-negative" style="width:100%;">
                  <mat-label class="vf-label">Address3</mat-label>
                  <textarea matInput placeholder="Address3"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="2"
                    onblur="triggerResize()" 
                    size="20" maxlength="40"                  
                  ></textarea>              
                </mat-form-field>
            </div>
              <div>
                <mat-form-field appearance="outline" class="vf-mr-negative" style="width:100%;">
                  <mat-label class="vf-label">Address4</mat-label>
                  <textarea matInput placeholder="Address4"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="2"
                    onblur="triggerResize()" 
                    size="20" maxlength="40"                  
                  ></textarea>              
                </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline" class="vf-mr-negative" style="width:100%;">
                  <mat-label class="vf-label">Post code *</mat-label>
                  <input type="text" matInput  placeholder="Post code *" size="12" maxlength="12" value="" onblur="check_text(this,11,'','')" onchange="gnSysChange=true;" ondblclick="sysEditText('document.sf.txt[10]')">
              </mat-form-field>
              </div> 
              <div>
                <mat-form-field appearance="outline" class="vf-mr-negative">
                    <!-- <mat-label class="vf-label">Effective Date</mat-label> -->
                    <!-- <input type="date" #effectiveDate matInput  placeholder="Effective Date" size="12" maxlength="12" value="" onblur="check_text(this,11,'','')" onchange="gnSysChange=true;" ondblclick="sysEditText('document.sf.txt[10]')"> -->
                    <input matInput [matDatepicker]="effectiveDate" placeholder="Effective Date *" 
                      formControlName="effectiveDate" style="width:min-content">
                    <mat-label>Effective Date *</mat-label>
                    <mat-datepicker-toggle matSuffix [for]="effectiveDate"></mat-datepicker-toggle>
                    <mat-datepicker #effectiveDate></mat-datepicker>
                </mat-form-field>
                </div> 
                  </div>      
                <div class="vf-flex-container-col" style="margin: 2px;">
                    <div>
                        <mat-form-field appearance="outline" class="vf-mr-negative">
                          <mat-label class="vf-label">Addr. ID</mat-label>
                          <input type="text" matInput  placeholder="Addr. ID" size="12" maxlength="12" value="" onblur="check_text(this,11,'','')" onchange="gnSysChange=true;" ondblclick="sysEditText('document.sf.txt[10]')">
                      </mat-form-field>
                    </div>
                    <div>        
                        <mat-form-field appearance="outline" class="vf-mr-negative">
                          <mat-label class="vf-label">Addr. ID Source</mat-label>
                          <input type="text" matInput  placeholder="Addr. ID Source" size="12" maxlength="12" value="" onblur="check_text(this,11,'','')" onchange="gnSysChange=true;" ondblclick="sysEditText('document.sf.txt[10]')">
                      </mat-form-field>        
                    </div>
                    <div>
                      <mat-form-field appearance="outline" class="vf-mr-negative">
                        <mat-label class="vf-label">Cross Ref.No.</mat-label>
                        <input type="text" matInput  placeholder="Cross Ref.No." size="12" maxlength="12" value="" onblur="check_text(this,11,'','')" onchange="gnSysChange=true;" ondblclick="sysEditText('document.sf.txt[10]')">
                    </mat-form-field>    
                  </div>
                  <div>
                      <mat-form-field appearance="outline" class="vf-mr-negative">
                        <mat-label class="vf-label">Retailer ID</mat-label>
                        <input type="text" matInput  placeholder="Retailer ID" size="12" maxlength="12" value="" onblur="check_text(this,11,'','')" onchange="gnSysChange=true;" ondblclick="sysEditText('document.sf.txt[10]')">
                    </mat-form-field> 
                  </div>
                  <div>
                    <mat-form-field appearance="outline" class="vf-mr-negative">
                      <mat-label class="vf-label">New Tel.No.</mat-label>
                      <input type="text" matInput  placeholder="New Tel.No." size="12" maxlength="12" value="" onblur="check_text(this,11,'','')" onchange="gnSysChange=true;" ondblclick="sysEditText('document.sf.txt[10]')">
                  </mat-form-field> 
                </div>
                <div>    
                    <mat-form-field appearance="outline" class="vf-mr-negative">
                      <mat-label class="vf-label">Callback</mat-label>
                      <input type="text" matInput  placeholder="Callback" size="12" maxlength="12" value="" onblur="check_text(this,11,'','')" onchange="gnSysChange=true;" ondblclick="sysEditText('document.sf.txt[10]')">
                  </mat-form-field> 
              </div>
                  </div>  
                <div class="vf-flex-container-col" style="margin: 2px;"> 
                  <div>    
                    <mat-form-field appearance="outline" class="vf-mr-negative">
                      <mat-label class="vf-label">Imp./Exp. CUPID</mat-label>
                      <input type="text" matInput  placeholder="Imp./Exp. CUPID" size="12" maxlength="12" value="" onblur="check_text(this,11,'','')" onchange="gnSysChange=true;" ondblclick="sysEditText('document.sf.txt[10]')">
                  </mat-form-field> 
                  </div>
                <div>
                    <mat-form-field appearance="outline" class="vf-mr-negative">
                      <mat-label class="vf-label">Reference</mat-label>
                      <input type="text" matInput  placeholder="Reference" size="12" maxlength="12" value="" onblur="check_text(this,11,'','')" onchange="gnSysChange=true;" ondblclick="sysEditText('document.sf.txt[10]')">
                    </mat-form-field>                     
                  </div>
                <div>
                    <mat-form-field appearance="outline" class="vf-mr-negative">
                      <mat-label class="vf-label">Order Ref.</mat-label>
                      <input type="text" matInput  placeholder="Order Ref. *" size="12" maxlength="12" value="" onblur="check_text(this,11,'','')" onchange="gnSysChange=true;" ondblclick="sysEditText('document.sf.txt[10]')">
                    </mat-form-field> 
                  </div>
                <div>
                    <mat-form-field appearance="outline" class="vf-mr-negative">
                      <mat-label class="vf-label">Conn.Type</mat-label> 
                        <mat-select name="txt" onchange="check_list(this,20)">                            
                                <mat-option value=""></mat-option>
                                <mat-option value="C">Centrex</mat-option>
                                <mat-option value="D">Direct</mat-option>
                                <mat-option value="I">Indirect</mat-option>
                        </mat-select>               
                    </mat-form-field>
                  </div>
              <div>
                <mat-form-field appearance="outline" class="vf-mr-negative">
                  <mat-label class="vf-label">Access Method *</mat-label> 
                    <mat-select name="txt" onchange="check_list(this,22)">
                        <mat-option value=""></mat-option>
                        <mat-option value="L">L - Bulldog Access</mat-option>
                        <mat-option value="W">W - Ethernet Radio Access</mat-option>
                    </mat-select>               
                </mat-form-field>
              </div> 
              <div>
                <mat-form-field appearance="outline" class="vf-mr-negative" >
                  <mat-label class="vf-label">Type of Line *</mat-label> 
                    <mat-select name="txt" onchange="check_list(this,24)" style="font-size: smaller;">
                      <mat-option value=""></mat-option>
                      <mat-option value="AC">AC - Areacall Products/Numbers</mat-option>
                      <mat-option value="AUD">AUD - Audit</mat-option>
                      <mat-option value="BB">BB - Multisite and Dual Parenting Bothway</mat-option>
                      <mat-option value="BI">BI - Multisite and Dual Parenting Incoming</mat-option>
                      <mat-option value="BO">BO - Multisite and Dual Parenting Outgoing</mat-option>
                      <mat-option value="BW">BW - Bothway</mat-option>
                      <mat-option value="C">C - IP Handset</mat-option>
                      <mat-option value="C1">C1 - SIP Trunking Fixed C20 Numbers</mat-option>
                      <mat-option value="C3">C3 - SIP Trunking Nom C20 Numbers</mat-option>
                      <mat-option value="C6">C6 VCC SIP Trunk Nom C20 Numbers</mat-option>
                      <mat-option value="CC">CC - Complete Contact Number Mgmt</mat-option>
                      <mat-option value="CE">CE - IP Centrex (CS2K Numbers)</mat-option>
                      <mat-option value="CX">CX - IP Centrex (IN Numbers)</mat-option>
                      <mat-option value="DVA">DVA Siebel (Digital Voice Assistant)</mat-option>
                      <mat-option value="FM">FM - FMC Geographic Numbers</mat-option>
                      <mat-option value="G1">G1 - Genesys SIP Trunking Fixed</mat-option>
                      <mat-option value="G2">G2 - Genesys SIP Trunking Plus Fixed</mat-option>
                      <mat-option value="GC">GC - Genesys SIP Tnk FXD C20 Number</mat-option>
                      <mat-option value="IC">IC - Incoming</mat-option>
                      <mat-option value="IT">IT - INTERNATIONAL  IP TRUNKING</mat-option>
                      <mat-option value="K1">K1 - Sub-Allocated To Skype</mat-option>
                      <mat-option value="K2">K2 - Skype Number Ported Out</mat-option>
                      <mat-option value="M">M - Analogue Gateway</mat-option>
                      <mat-option value="MB">MB - Multisite Bothway</mat-option>
                      <mat-option value="MI">MI - Multisite Incoming</mat-option>
                      <mat-option value="MO">MO - Multisite Outgoing</mat-option>
                      <mat-option value="MS">MS - Multi-Site (Over-ride LT, see LTOV)</mat-option>
                      <mat-option value="OF">OF - Unknown location for C&amp;W ofcom orders</mat-option>
                      <mat-option value="OG">OG - Outgoing</mat-option>
                      <mat-option value="ON">ON - ONENET</mat-option>
                      <mat-option value="P1">P1 - STORM SIP TRUNKING-NOMADIC</mat-option>
                      <mat-option value="PB">PB - IP Trunking Plus Bothway</mat-option>
                      <mat-option value="R">R - Roaming (used by EDIS)</mat-option>
                      <mat-option value="S">S - Intelligent Working</mat-option>
                      <mat-option value="S1">S1 - SIP Trunking Fixed (CS2K Numbers)</mat-option>
                      <mat-option value="S2">S2 - SIP Trunking Plus Fixed  (CS2K Numbers)</mat-option>
                      <mat-option value="S3">S3 - SIP Trunking Nomadic (CS2K numbers)</mat-option>
                      <mat-option value="S4">S4 - SIP Trunking Plus Nomadic model (CS2K)</mat-option>
                      <mat-option value="S5">S5 - Microsoft Lync SIP Trunking CS2K numbers</mat-option>
                      <mat-option value="SB">SB - TDM SINGLE HUB SITE</mat-option>
                      <mat-option value="SS">SS - SIP Evolved Voice over public internet</mat-option>
                      <mat-option value="SX">SX - STORM IP CENTREX-IN Numbers</mat-option>
                      <mat-option value="TB">TB - IP trunking Bothway</mat-option>
                      <mat-option value="TD">TD - Combined - B/W, I/C &amp; O/G group for CDMS</mat-option>
                      <mat-option value="TS">TS - SWI (TDM) Satellite site SysX numbers</mat-option>
                      <mat-option value="TX">TX - SWI (TDM) Satellite site IN numbers</mat-option>
                      <mat-option value="V1">V1 - IP Trunking FIXED new ver (CS2K Numbers)</mat-option>
                      <mat-option value="V2">V2 - IP Trunking+ FIXED new ver (CS2K numbers</mat-option>
                      <mat-option value="V3">V3 - IP Trunking NOMADIC new ver (CS2K Nos)</mat-option>
                      <mat-option value="V4">V4 - IP Trunking+ NOMADIC new ver (CS2K Nos)</mat-option>
                      <mat-option value="S6">VCC Sip Trunking Nomadic (CS2K)</mat-option>
                      <mat-option value="VM">VM -VOM - VONE-M1 (UK Prov)</mat-option>
                      <mat-option value="M2">VM2 - VONE-M2 (Group Prov )</mat-option>
                      <mat-option value="VC">VONE-C (Voda Onenet - Cisco) (VOC)</mat-option>
                      <mat-option value="WB">WB - PBX Gateway Bothway</mat-option>
                      <mat-option value="WI">WI - PBX Gateway Incoming</mat-option>
                      <mat-option value="WO">WO - PBX Gateway Outgoing</mat-option>
                      <mat-option value="X1">X1 - IP Trunking FIXED new ver (IN numbers)</mat-option>
                      <mat-option value="X2">X2 - IP Trunking+ FIXED new ver (IN numbers)</mat-option>
                      <mat-option value="X3">X3 - SIP Trunking FIXED (IN Numbers)</mat-option>
                      <mat-option value="X4">X4 - SIP Trunking Plus FIXED (IN Numbers)</mat-option>
                      <mat-option value="X5">X5 - IP Trunking NOMADIC new ver (IN Nos)</mat-option>
                      <mat-option value="X6">X6 - SIP Trunking Nomadic IN Numbers</mat-option>
                      <mat-option value="X7">X7 - IP Trunking Plus (IN Numbers)</mat-option>
                      <mat-option value="X8">X8 - SIP Trunking Plus Nomadic model (IN)</mat-option>
                      <mat-option value="X9">X9 - VCC Sip Trunking Nomadic (IN)</mat-option>
                      <mat-option value="Z1">Z1 - Sip Trunk FXD IN Numbers on C20</mat-option>
                      <mat-option value="Z3">Z3 - SIP Tnk Nom IN Numbers on C20</mat-option>
                      <mat-option value="Z6">Z6 - VCC SIP Tnk Nom IN No-s on C20</mat-option>
                    </mat-select>               
                </mat-form-field>
              </div>         
                  </div>
              </div> 
              <div>
                <mat-form-field  class="vf-mr-negative" style="width: 100%;">
                  <mat-label class="vf-label">Comments</mat-label>
                  <textarea matInput placeholder="Comments"
                   cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="2"
                    onblur="triggerResize()" 
                  ></textarea>              
                </mat-form-field>
              </div> 
              <div class =vf-flex-container style="margin-block: 1px; padding-bottom: 2px;">
                <button type="submit" mat-raised-button color="primary" value="SAVE" matTooltip="Save" style ="margin-left:50px" (click)="saveTran(0)">
                <mat-icon>save</mat-icon>Save
              </button>
              <button type="submit" mat-raised-button color="primary" matTooltip="Check Address" style ="margin-left:50px" (click)="viewAddressCheck()">
                <mat-icon>search</mat-icon>Check Address
              </button>
              <button type="submit"  id="forcesavedisable" mat-raised-button color="primary" value="Force Validate Save" matTooltip="Force Validate Save" style ="margin-left:50px" (click)="saveTran(1)">
                <!-- <mat-icon>save</mat-icon>Force Validate Save -->
                <span class="material-icons">
                  save_alt
                  </span>Force Validate Save
              </button>
              </div>        
            </div>  
          </form> 
        </mat-card-content>
    </mat-card>
  </div>
