<!-- <mat-card *ngFor="let alert of alerts" class="{{cssClass(alert)}} popup">  
    <mat-card-content>
        <span class="text" [innerHTML]="alert.message"></span>
        <button mat-icon-button class="alert-dismissable close" (click)="removeAlert(alert)">
            <mat-icon>close</mat-icon>
        </button>
    </mat-card-content>
</mat-card> -->

<div *ngFor="let alert of alerts" class="{{cssClass(alert)}} popup">
    <p>{{alert.message}}
    <button class="close btn" (click)="removeAlert(alert)">&times;</button>
    </p>
</div>

<!-- <div *ngFor="let alert of alerts" class="{{cssClass(alert)}} popup">
    <span [innerHTML]="alert.message"></span>
    <button class="close" (click)="removeAlert(alert)">&times;</button>
</div> -->