table{
    width:fit-content ;
}
/* .tablefitcontent
{
  width:fit-content;
}

.tablewidth100
{
  width:100%;
} */
th {
  background-color: #e60000;
  color:white;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-header-cell {
  color: white;
  width: auto;
  font-size:smaller;  
  text-align: center;
}
.mat-header-row,.mat-row {
  height: 10px;
  border: 5px;
  /* font-size: smaller; */
}


.mat-cell
{
  border: 1px solid black;
}
