table{
    width:fit-content ;
}
th {
  background-color: #e60000;
  color:white;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-header-cell {
  color: white;
  width: auto;
  font-size:smaller;  
  text-align: center;
}
.mat-header-row,.mat-row {
  height: 10px;
  border: 5px;
  /* font-size: smaller; */
}


.mat-cell
{
  border: 1px solid black;
}




  /* .mat-row:nth-child(odd){
    background-color: #dee2e6;
  } */
  .mat-row:nth-child(even){
    background-color: #dee2e6;
  }

/* mat-cell, mat-header-cell, mat-footer-cell {
  flex: 1;
  display: inline-block;
  align-items: center;
  overflow: hidden;
  min-height: initial;
  height:auto;
  width:auto;
} */


/* .mat-header-row {
  display: table-row;
} */









 

