<div class="apptable-container">
<table [ngClass]="cssClass == 1 ? 'tbfitcontent' : 'tbwidth100'" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container *ngFor="let disCol of columnHeaders; let colIndex = index" matColumnDef="{{disCol.headerValue}}" >
    
   <!-- Other Columns -->
    <div *ngIf="disCol.header!='View'">
      <th mat-header-cell *matHeaderCellDef>{{disCol.header}}</th>
      <td mat-cell *matCellDef="let element "> {{element[disCol.headerValue]}} </td>
    </div>  

  <div *ngIf="disCol.header==='View'">
    <th mat-header-cell *matHeaderCellDef >{{disCol.header}}</th>
    <td mat-cell *matCellDef="let element "> 
       <ng-container *ngFor="let img of imageItem; let imgIndex = index;">            
          <mat-icon class="table-icon" *ngIf="img.headerValue === disCol.headerValue" (addNewTab)="newTab($event)"  (click)="addTabs($event,img.tabIndex,element)"  >
            {{img.icon}}</mat-icon>  
      </ng-container> 
    </td>
  </div> 
</ng-container> 
  <tr mat-header-row *matHeaderRowDef="dataColumns;sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: dataColumns;"> </tr>
</table>
</div>
