<div class="apptable-container">
<table [ngClass]="cssClass == 1 ? 'tbfitcontent' : 'tbwidth100'" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container *ngFor="let disCol of columnHeaders; let colIndex = index" matColumnDef="{{disCol.headerValue}}" >
    
   <!-- Other Columns -->
    <div *ngIf="disCol.header!='Inventory'">
      <th mat-header-cell *matHeaderCellDef>{{disCol.header}}</th>
      <td mat-cell *matCellDef="let element" class="app-table-mat-cell">
        <span [ngStyle]="disCol.header==='Total Cmds'?{'font-weight': '1000'} : {'font-weight': '500'}">{{checkNumber(disCol.headerValue)? (element[disCol.headerValue]|number):(element[disCol.headerValue])}}</span>
        <!-- {{element[disCol.headerValue]}}  -->
      </td>
      <td mat-footer-cell class="totalRow" *matFooterCellDef> {{ getTotal(disCol.headerValue)|number}}</td>
      
    </div>  

  <div *ngIf="disCol.header==='Inventory'">
    <th mat-header-cell *matHeaderCellDef >{{disCol.header}}</th>
    <td mat-cell *matCellDef="let element" class="app-table-mat-cell"> 
       <ng-container *ngFor="let img of imageItem; let imgIndex = index;">            
          <mat-icon class="table-icon" *ngIf="img.headerValue === disCol.headerValue" (addNewTab)="newTab($event)"  (click)="addTabs($event,img.tabIndex,element)"  >
            {{img.icon}}</mat-icon>  
      </ng-container> 
    </td>
    <td mat-footer-cell class="totalRow" *matFooterCellDef> {{getTotal(disCol.headerValue)}} </td>
      
  </div> 
</ng-container> 
  <tr mat-header-row *matHeaderRowDef="dataColumns;sticky: false" class="app-table-mat-header-cell"></tr>
  <tr mat-row *matRowDef="let row; columns: dataColumns;" class="app-table-mat-row"> </tr>
  <ng-container *ngIf="showTotalRow">
    <tr class="totalRow" mat-footer-row *matFooterRowDef="dataColumns;sticky: false" class="app-table-mat-row"></tr>
  </ng-container>
</table>
</div>
