<mat-sidenav-container class="side-container">
  <mat-sidenav #pagesidenav class="side-nav" mode="side" opened>

    <!-- <div class="filterdataby">
      <div style="font-size: small;">
        <button style="font-size: small;padding-left: 10px;" matPrefix mat-icon-button aria-label="Clear">
          <mat-icon>filter_alt</mat-icon>
          Filter Data By
        </button>
      </div> 
    </div> -->


    <div class="filter-sticky">
      <app-select-multiple #selMultiple [listItems]="filterItems" [icon]="'filter_alt'"
        (changes)="setControlAttribute($event)">
      </app-select-multiple>
    </div>
    <form [formGroup]="thisForm" (ngSubmit)="onFormSubmit()" autocomplete="off">


      <div class="matsidenav-filter">
        <ng-container *ngIf="configDetails  as config">
          <mat-form-field hintLabel="Max 11 characters" [ngClass]="{'hidden':f.StartTelephoneNumber.disabled}">
            <mat-label>Start Telephone No</mat-label>
            <!-- <span ngIf="f.StartTelephoneNumber.value?.length==10" matPrefix>0 &nbsp;</span> -->
            <input formControlName="StartTelephoneNumber" (keypress)="numberOnly($event)"
              (blur)="addPrefix('StartTelephoneNumber',starttelno.value)" matInput maxlength="11"
              placeholder="Start Telephone No" #starttelno>
            <mat-hint align="end">{{starttelno.value?.length || 0}}/11</mat-hint>
            <mat-error>
              <div *ngIf="f.StartTelephoneNumber.touched && f.StartTelephoneNumber.invalid" class="alert alert-danger">
                <!-- <div *ngIf="f.StartTelephoneNumber.errors?.required">Please enter Telephone No</div> -->
                <div *ngIf="f.StartTelephoneNumber.errors?.pattern">Telephone No is not 11 digit</div>
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field hintLabel="Max 11 characters" [ngClass]="{'hidden':f.EndTelephoneNumber.disabled}">
            <mat-label>End Telephone No</mat-label>
            <input formControlName="EndTelephoneNumber" matInput #endtelno maxlength="11" placeholder="End Telephone No"
               (keypress)="numberOnly($event)"
              (blur)="addPrefix('EndTelephoneNumber',endtelno.value)">
            <mat-hint align="end">{{endtelno.value?.length || 0}}/11</mat-hint>
            <mat-error>
              <div *ngIf="f.EndTelephoneNumber.touched && f.EndTelephoneNumber.invalid" class="alert alert-danger">
                <!-- <div *ngIf="f.StartTelephoneNumber.errors?.required">Please enter Telephone No</div> -->
                <div *ngIf="f.EndTelephoneNumber.errors?.pattern">Telephone No is not 11 digit</div>
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field [ngClass]="{'hidden':f.Command.disabled}">
            <mat-label>Command</mat-label>
            <input formControlName="Command" type="text" placeholder="Search Command" matInput
              [matAutocomplete]="autoCommand" />
            <span matSuffix mat-icon-button>
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
            <mat-autocomplete autoActiveFirstOption #autoCommand="matAutocomplete">
              <mat-option *ngFor="let val of config.Command | splitBy: ',' | ddlFilter: f.Command.value" [value]="val">
                {{val}}
              </mat-option>
            </mat-autocomplete>
            <!-- <mat-option>Activate Customer</mat-option>
            <mat-option>Cease Customer</mat-option>
            <mat-option>Import</mat-option>
            <mat-option>Export</mat-option>
            <mat-option>Modify</mat-option> -->
            <!-- </mat-select> -->
            <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
          </mat-form-field>

          <mat-form-field [ngClass]="{'hidden':f.Source.disabled}">
            <mat-label>Source</mat-label>
            <input formControlName="Source" type="text" placeholder="Search Source" matInput
              [matAutocomplete]="autoSource" />
            <span matSuffix mat-icon-button>
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
            <mat-autocomplete autoActiveFirstOption #autoSource="matAutocomplete">
              <mat-option *ngFor="let val of config.Source | splitBy: ',' | ddlFilter: f.Source.value" [value]="val">
                {{val}}</mat-option>
            </mat-autocomplete>
            <!-- <mat-option></mat-option>
            <mat-option>AUDIT</mat-option>
            <mat-option>SAS/COMS</mat-option>
            <mat-option>DVA Siebel</mat-option>
            <mat-option>VA/WAD</mat-option>
            <mat-option>Ring Central</mat-option>
            <mat-option>Content Guru</mat-option>
            <mat-option>ONENET</mat-option>
            <mat-option>Clarify</mat-option>
            <mat-option>Amdocs SOM</mat-option>
            <mat-option>Unknown</mat-option> -->
            <!-- </mat-select> -->
            <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
          </mat-form-field>



          <mat-form-field>
            <mat-label>Date Range</mat-label>
            <mat-date-range-input formGroupName="DateRange" [rangePicker]="picker">
              <input readonly formControlName="FromDate" matStartDate placeholder="From ">
              <input readonly formControlName="ToDate" matEndDate placeholder="To date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
            <!-- <mat-hint align="end">Here's the date picker</mat-hint> -->
          </mat-form-field>

          <mat-form-field [ngClass]="{'hidden':f.ResolutionType.disabled}">
            <mat-label>Resolution Type</mat-label>
            <input formControlName="ResolutionType" type="text" placeholder="Search Resolution Type" matInput
              [matAutocomplete]="autoResolutionType" />
            <span matSuffix mat-icon-button>
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
            <mat-autocomplete autoActiveFirstOption #autoResolutionType="matAutocomplete">
              <!-- <mat-select formControlName="ResolutionType"> -->
              <mat-option *ngFor="let val of config.ResolutionType | splitBy: ',' | ddlFilter: f.ResolutionType.value"
                [value]="val">{{val}}</mat-option>
            </mat-autocomplete>
            <!-- <mat-option></mat-option>
            <mat-option>New</mat-option>
            <mat-option>Under Investigation</mat-option>
            <mat-option>Under Governance</mat-option>
            <mat-option>Under Governance</mat-option>
            <mat-option>Port Req Complete</mat-option> -->
            <!-- </mat-select> -->
            <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
          </mat-form-field>

          <mat-form-field [ngClass]="{'hidden':f.ErrorType.disabled}">
            <mat-label>Error Type</mat-label>
            <!-- <mat-select formControlName="ErrorType"> -->
            <input formControlName="ErrorType" type="text" placeholder="Search Error Type" matInput
              [matAutocomplete]="autoErrorType" />
            <span matSuffix mat-icon-button>
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
            <mat-autocomplete autoActiveFirstOption #autoErrorType="matAutocomplete">
              <mat-option *ngFor="let val of config.ErrorType | splitBy: ',' | ddlFilter: f.ErrorType.value"
                [value]="val">
                {{val}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <!-- </ng-container> -->
          <!-- <mat-option></mat-option>
            <mat-option>Internal Error</mat-option>
            <mat-option>External Error</mat-option>            -->
          <!-- </mat-select> -->
          <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->


          <mat-form-field [ngClass]="{'hidden':f.ErrorCode.disabled}">
            <mat-label>Error Code</mat-label>
            <input formControlName="ErrorCode" type="text" placeholder="Search Error Code" matInput
              [matAutocomplete]="auto" />
            <span matSuffix mat-icon-button>
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of  config.ErrorCode | splitBy: ',' | ddlFilter: f.ErrorCode.value"
                [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field>
            <mat-label>999 Reference</mat-label>
            <input formControlName="Reference" matInput #input maxlength="10" placeholder="999 Reference">
            <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
          </mat-form-field>

          <mat-form-field [ngClass]="{'hidden':f.OrderReference.disabled}">
            <mat-label>Order Reference</mat-label>
            <input formControlName="OrderReference" matInput #input maxlength="10" placeholder="Order Reference">
            <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
          </mat-form-field>
        </ng-container>
      </div>



      <div calss="matsidenav-footer">
        <button type="submit" mat-raised-button color="primary">
          <mat-icon>search</mat-icon>Search
        </button>
        <button type="reset" mat-raised-button color="primary" (click)="resetForm()">
          <mat-icon>refresh</mat-icon>Reset
        </button>
      </div>
    </form>
  </mat-sidenav>

  <mat-sidenav-content class="side-content">
    <!-- <mat-toolbar class="page-header"
    style="margin-top:5px;margin-bottom:5px; height: 32px;;box-shadow: 0 3px 5px -1px rgba(207, 27, 27, 0.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
    <div align="left" style="text-align: right; font-size:medium;">
        Full Audit Details
    </div>
</mat-toolbar> -->
    <!-- <div class="page-header">
        <button mat-basic-button color="primary" (click)="pagesidenav.toggle()"
          matTooltip="{{pagesidenav.opened ? 'Hide Filters' : 'Show Filters'}}">
          <mat-icon>{{pagesidenav.opened ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon>
        </button>
        <div style="margin: 5px; float: left;"> Resolving Of Errors > Solicited Errors</div>
      </div> -->
    <app-start-up *ngIf="tabs.length===0"></app-start-up>
    <button *ngIf="tabs.length!=0" class="slidderbtn" mat-basic-button color="primary" (click)="pagesidenav.toggle()"
      matTooltip="{{pagesidenav.opened ? 'Hide Filters' : 'Show Filters'}}">
      <mat-icon>{{pagesidenav.opened ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon>
    </button>
    <mat-tab-group [(selectedIndex)]="selectedTab">
      <mat-tab *ngFor="let tab of tabs; let index = index">
        <ng-template mat-tab-label>
          <div style="margin-left: 20px;">{{tab.name}}</div>
          <button *ngIf="tab.tabType !== 0" style="color:black" matSuffix mat-icon-button (click)="removeTab(index)">
            <mat-icon style="font-size: large;">close</mat-icon>
          </button>
        </ng-template>

        <span [ngSwitch]="tab.tabType">
          <div *ngSwitchCase="0" style="height: calc(100% - 30px);">
            <app-table-selection [sidePan]="pagesidenav" [tableitem]="myTable" (rowChanges)="rowDetect($event)"
              (addNewTab)="newTab($event)">
            </app-table-selection>
            <form (ngSubmit)="onSaveSubmit()">
              <div class="mat-elevation-z8 side-bottom">
                <div>
                  <!-- <select class="res-select" Name="Name_of_list_box" size="4">
                    <option *ngFor="let list of selectListItems"> {{list}} </option>
                  </select> -->

                  <div style="display: inline-block;">
                    <mat-form-field>
                      <mat-label>Resolution Type</mat-label>
                      <input #resol [(ngModel)]="Resolution" [ngModelOptions]="{standalone: true}" type="text"
                        placeholder="Search Resolution Type" matInput [matAutocomplete]="autoResolutionType1" />
                      <span matSuffix mat-icon-button>
                        <mat-icon>arrow_drop_down</mat-icon>
                      </span>
                      <mat-autocomplete autoActiveFirstOption #autoResolutionType1="matAutocomplete">
                        <ng-container *ngIf="configDetails  as con">
                          <mat-option *ngFor="let val of con.ResolutionType | splitBy: ',' | ddlFilter: resol.value"
                            [value]="val">{{val}}</mat-option>
                        </ng-container>
                      </mat-autocomplete>
                      
                    </mat-form-field>


                    <mat-form-field>
                      <mat-label>999 Reference</mat-label>
                      <input [(ngModel)]="Refer" [ngModelOptions]="{standalone: true}" matInput
                        placeholder="999 Reference">
                      <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                    </mat-form-field>


                    <mat-form-field class="side-textarea" hintLabel="Max 500 characters">
                      <mat-label>Remarks</mat-label>
                      <textarea [(ngModel)]="Remarks" [ngModelOptions]="{standalone: true}" #input matInput
                        maxlength="500" placeholder="Remarks"></textarea>
                      <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
                    </mat-form-field>

                    <button type="submit" mat-raised-button color="primary">
                      <mat-icon>save</mat-icon>Save
                    </button>&nbsp;&nbsp;

                    <!-- <button type="button" mat-raised-button color="primary" >
                      <mat-icon>help</mat-icon>Help
                    </button> -->

                  </div>

                  <!-- <mat-form-field class="side-textarea" hintLabel="Max 500 characters"  >
                    <mat-label>Resolution</mat-label>
                    <textarea matInput #input maxlength="500" placeholder="Resolution"></textarea>
                    <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
                  </mat-form-field> -->

                </div>
                <div class="side-right-div">
                </div>

              </div>
            </form>
          </div>
          <div *ngSwitchCase="1" style="height: calc(100% - 8px);">
            <app-telephone-audit-trail></app-telephone-audit-trail>
          </div>
          <div *ngSwitchCase="2" style="height: calc(100% - 8px);">
            <app-transaction-errors [telNo]="telNo" [tranId]="tranId" [repIdentifier]="repIdentifier">
            </app-transaction-errors>
          </div>
          <div *ngSwitchDefault>
          </div>
        </span>



        <!-- <button mat-raised-button
   class="example-delete-tab-button"
   [disabled]="tabs.length === 1"
   (click)="removeTab(index)">
Delete Tab
</button> -->
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <ng-container *ngIf="configDetails as config">
  {{config |json }}
</ng-container> -->