<mat-sidenav-container class="side-container">
  <mat-sidenav #pagesidenav class="side-nav" mode="side" opened>

    <!-- <div class="filterdataby">
      <div style="font-size: small;">
        <button style="font-size: small;padding-left: 10px;" matPrefix mat-icon-button aria-label="Clear">
          <mat-icon>filter_alt</mat-icon>
          Filter Data By
        </button>
      </div> 
    </div> -->

    <div class="filter-sticky">
      <app-select-multiple #selMultiple [listItems]="filterItems" [icon]="'filter_alt'"
        (changes)="setControlAttribute($event)">
      </app-select-multiple>
    </div>
    <form [formGroup]="thisForm" (ngSubmit)="onFormSubmit()" autocomplete="off">
      <div class="matsidenav-filter">
        <ng-container *ngIf="configDetails  as config">
          <mat-form-field hintLabel="Max 11 characters" [ngClass]="{'hidden':f.StartTelephoneNumber.disabled}">
            <mat-label>Start Telephone No</mat-label>
            <!-- <span ngIf="f.StartTelephoneNumber.value?.length==10" matPrefix>0 &nbsp;</span> -->
            <input formControlName="StartTelephoneNumber" numbersOnly matInput maxlength="11"
              placeholder="Start Telephone No" #starttelno telNoPrefixValidator >
            <mat-hint align="end">{{starttelno.value?.length || 0}}/11</mat-hint>
            <mat-error>
              
              <div *ngIf="f.StartTelephoneNumber.touched && f.StartTelephoneNumber.invalid" class="alert alert-danger">
                <div *ngIf="f.StartTelephoneNumber.errors?.invalidPrefix">Telephone No Prefix is not valid</div>
                <div *ngIf="f.StartTelephoneNumber.errors?.pattern">Telephone No should be 10 or 11 digit</div>
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field hintLabel="Max 11 characters" [ngClass]="{'hidden':f.EndTelephoneNumber.disabled}">
            <mat-label>End Telephone No</mat-label>
            <!-- (keypress)="numberOnly($event)" (paste)="onPaste($event)" -->
            <input formControlName="EndTelephoneNumber" numbersOnly matInput #endtelno maxlength="11" placeholder="End Telephone No"
               telNoPrefixValidator>
            <mat-hint align="end">{{endtelno.value?.length || 0}}/11</mat-hint>
            <mat-error>
              <div *ngIf="f.EndTelephoneNumber.touched && f.EndTelephoneNumber.invalid" class="alert alert-danger">
                <!-- <div *ngIf="f.EndTelephoneNumber.errors?.invalidStartNo">Enter Start Telephone No </div> -->
                <!-- <div *ngIf="f.EndTelephoneNumber.errors?.lesserStartNo">Start Telephone No should be less than End Telephone No</div> -->
                <div *ngIf="f.EndTelephoneNumber.errors?.invalidPrefix">Telephone No Prefix is not valid</div>
                <div *ngIf="f.EndTelephoneNumber.errors?.pattern">Telephone No should be 10 or 11 digit</div>
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field [ngClass]="{'hidden':f.Command.disabled}">
            <mat-label>Command</mat-label>
            <input #command formControlName="Command" type="text" placeholder="Search Command" matInput
              [matAutocomplete]="autoCommand" OptionsValidator [options]="config.Command" />
            <span matSuffix mat-icon-button>
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
            <mat-autocomplete autoActiveFirstOption #autoCommand="matAutocomplete">
              <mat-option *ngFor="let val of config.Command | ddlFilter: command.value" [value]="val">
                {{val}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="f.Command.errors?.validOptions">Value need to match available options</mat-error>
          </mat-form-field>

          <mat-form-field [ngClass]="{'hidden':f.Source.disabled}">
            <mat-label>Source</mat-label>
            <input #source formControlName="Source" type="text" placeholder="Search Source" matInput
              [matAutocomplete]="autoSource" OptionsValidator [options]="config.Source " />
            <span matSuffix mat-icon-button>
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
            <mat-autocomplete autoActiveFirstOption #autoSource="matAutocomplete">
              <mat-option *ngFor="let val of config.Source  | ddlFilter: source.value" [value]="val">
                {{val}}</mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="f.Source.errors?.validOptions">Value need to match available options</mat-error>
          </mat-form-field>

          <mat-form-field [ngClass]="{'hidden':f.DateRange.disabled}">
            <mat-label>Date Range</mat-label>
            <mat-date-range-input formGroupName="DateRange" [rangePicker]="picker">
              <input readonly formControlName="FromDate" matStartDate placeholder="From ">
              <input readonly formControlName="ToDate" matEndDate placeholder="To date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
            <!-- <mat-hint align="end">Here's the date picker</mat-hint> -->
          </mat-form-field>

          <mat-form-field [ngClass]="{'hidden':f.ResolutionType.disabled}">
            <mat-label>Resolution Type</mat-label>
            <input #resolutiontype formControlName="ResolutionType" type="text" placeholder="Search Resolution Type"
              matInput [matAutocomplete]="autoResolutionType" OptionsValidator
              [options]="config.ResolutionType " />
            <span matSuffix mat-icon-button>
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
            <mat-autocomplete autoActiveFirstOption #autoResolutionType="matAutocomplete">
              <!-- <mat-select formControlName="ResolutionType"> -->
              <mat-option *ngFor="let val of config.ResolutionType  | ddlFilter: resolutiontype.value"
                [value]="val">{{val}}</mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="f.ResolutionType.errors?.validOptions">Value need to match available options</mat-error>
          </mat-form-field>

          <mat-form-field [ngClass]="{'hidden':f.ErrorType.disabled}">
            <mat-label>Error Type</mat-label>
            <!-- <mat-select formControlName="ErrorType"> -->
            <input #errortype formControlName="ErrorType" type="text" placeholder="Search Error Type" matInput
              [matAutocomplete]="autoErrorType" OptionsValidator [options]="config.ErrorType " />
            <span matSuffix mat-icon-button>
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
            <mat-autocomplete autoActiveFirstOption #autoErrorType="matAutocomplete">
              <mat-option *ngFor="let val of config.ErrorType  | ddlFilter: errortype.value"
                [value]="val">
                {{val}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="f.ErrorType.errors?.validOptions">Value need to match available options</mat-error>
          </mat-form-field>

          <mat-form-field [ngClass]="{'hidden':f.ErrorCode.disabled}">
            <mat-label>Error Code</mat-label>
            <input #errorcode formControlName="ErrorCode" type="text" placeholder="Search Error Code" matInput
              [matAutocomplete]="auto" OptionsValidator [options]="config.ErrorCode " />
            <span matSuffix mat-icon-button>
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of config.ErrorCode  | ddlFilter: errorcode.value"
                [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="f.ErrorCode.errors?.validOptions">Value need to match available options</mat-error>
          </mat-form-field>

          <mat-form-field [ngClass]="{'hidden':f.Reference.disabled}">
            <mat-label>999 Reference</mat-label>
            <input formControlName="Reference" matInput #input placeholder="999 Reference" referValidator>
            <mat-error *ngIf="f.Reference.errors?.valid999">Please provide a valid 999 Reference</mat-error>
            <!-- <mat-hint align="end"></mat-hint> -->
          </mat-form-field>

          <mat-form-field [ngClass]="{'hidden':f.OrderReference.disabled}">
            <mat-label>Order Reference</mat-label>
            <input formControlName="OrderReference" matInput #input maxlength="10" placeholder="Order Reference">
            <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
          </mat-form-field>
        </ng-container>
      </div>

      <div calss="matsidenav-footer">
        <button type="submit" mat-raised-button color="primary">
          <mat-icon>search</mat-icon>Search
        </button>
        <button type="button" mat-raised-button color="primary" (click)="resetForm()">
          <mat-icon>refresh</mat-icon>Reset
        </button>
      </div>
    </form>
  </mat-sidenav>

  <mat-sidenav-content class="side-content">
    <!-- <mat-toolbar class="page-header"
    style="margin-top:5px;margin-bottom:5px; height: 32px;;box-shadow: 0 3px 5px -1px rgba(207, 27, 27, 0.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
    <div align="left" style="text-align: right; font-size:medium;">
        Full Audit Details
    </div>
</mat-toolbar> -->
    <!-- <div class="page-header">
        <button mat-basic-button color="primary" (click)="pagesidenav.toggle()"
          matTooltip="{{pagesidenav.opened ? 'Hide Filters' : 'Show Filters'}}">
          <mat-icon>{{pagesidenav.opened ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon>
        </button>
        <div style="margin: 5px; float: left;"> Resolving Of Errors > Solicited Errors</div>
      </div> -->
    <app-start-up *ngIf="tabs.length===0"></app-start-up>
    <button *ngIf="tabs.length!=0" class="slidderbtn" mat-basic-button color="primary" (click)="pagesidenav.toggle()"
      matTooltip="{{pagesidenav.opened ? 'Hide Filters' : 'Show Filters'}}">
      <mat-icon>{{pagesidenav.opened ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon>
    </button>
    <mat-tab-group [(selectedIndex)]="selectedTab">
      <mat-tab *ngFor="let tab of tabs; let index = index">
        <ng-template mat-tab-label>
          <div style="margin-left: 20px;">{{tab.name}}</div>
          <button *ngIf="tab.tabType !== 0" style="color:black" matSuffix mat-icon-button (click)="removeTab(index)">
            <mat-icon style="font-size: large;">close</mat-icon>
          </button>
        </ng-template>

        <span [ngSwitch]="tab.tabType">
          <div *ngSwitchCase="0" style="height: calc(100% - 30px);">
            <app-table-selection [sidePan]="pagesidenav" [tableitem]="myTable" (pageIndex)="getNextSetRecords($event)"
              (rowChanges)="rowDetect($event)" (addNewTab)="newTab($event)">
            </app-table-selection>
            <form (ngSubmit)="save.form.valid && onSaveSubmit(save)" #save="ngForm" autocomplete="off">
              <div class="mat-elevation-z8 side-bottom">
                <div>
                  <!-- <select class="res-select" Name="Name_of_list_box" size="4">
                    <option *ngFor="let list of selectListItems"> {{list}} </option>
                  </select> -->

                  <div style="display: inline-block;">
                    <ng-container *ngIf="updateDetails as con">
                      <mat-form-field>
                        <mat-label>Resolution Type</mat-label>
                        <input name="resolution" required [(ngModel)]="Resolution" [ngModelOptions]="{standalone: true}"
                          type="text" #resolution="ngModel" placeholder="Search Resolution Type" matInput
                          [matAutocomplete]="autoResolutionType1" OptionsValidator
                          [options]="con.ResolutionType " />
                        <span matSuffix mat-icon-button>
                          <mat-icon>arrow_drop_down</mat-icon>
                        </span>
                        <mat-autocomplete autoActiveFirstOption #autoResolutionType1="matAutocomplete">
                          <mat-option
                            *ngFor="let val of con.ResolutionType  | ddlFilter: resolution.value"
                            [value]="val">{{val}}</mat-option>
                        </mat-autocomplete>
                        <mat-error class="alert alert-danger">
                          <div *ngIf="resolution.errors?.validOptions">Value need to match available options</div>
                          <div *ngIf="!resolution.errors?.required">
                            <!-- <div *ngIf="f.StartTelephoneNumber.errors?.required">Please enter Telephone No</div> -->
                            Select resolution type
                          </div>
                        </mat-error>
                      </mat-form-field>
                    </ng-container>
                    <mat-form-field>
                      <mat-label>999 Reference</mat-label>
                      <input name="refer" #refer="ngModel" [(ngModel)]="Refer" [ngModelOptions]="{standalone: true}"
                        matInput placeholder="999 Reference" referValidator>
                      <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                      <mat-error class="alert alert-danger">
                        <div *ngIf="refer.errors?.valid999">Please provide a valid 999 Reference</div>
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field class="side-textarea" hintLabel="Max 500 characters">
                      <mat-label>Remarks</mat-label>
                      <textarea required name="remarks" #remarks="ngModel" [(ngModel)]="Remarks"
                        [ngModelOptions]="{standalone: true}" #input matInput maxlength="500"
                        placeholder="Remarks"></textarea>
                      <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
                      <mat-error class="alert alert-danger">
                        <div *ngIf="!remarks.errors?.required">
                          <!-- <div *ngIf="f.StartTelephoneNumber.errors?.required">Please enter Telephone No</div> -->
                          Add remarks for resolution
                        </div>
                      </mat-error>
                    </mat-form-field>

                    <!-- (!f.StartTelephoneNumber.value && !f.EndTelephoneNumber.value) -->
                    <button [disabled]="isSaveDisable" mat-raised-button color="primary">
                      <mat-icon>save</mat-icon>Save
                    </button>&nbsp;&nbsp;

                    <!-- <button type="button" mat-raised-button color="primary" >
                      <mat-icon>help</mat-icon>Help
                    </button> -->

                  </div>
                </div>
                <div class="side-right-div">
                </div>

              </div>
            </form>
          </div>
          <div *ngSwitchCase="1" style="height: calc(100% - 8px);">
            <app-telephone-audit-trail [telNo]="auditTelNo" [repIdentifier]="repIdentifier"></app-telephone-audit-trail>
          </div>
          <div *ngSwitchCase="2" style="height: calc(100% - 8px);">
            <app-transaction-errors [telNo]="telNo" [tranId]="tranId" [repIdentifier]="repIdentifier">
            </app-transaction-errors>
          </div>
          <div *ngSwitchDefault>
          </div>
        </span>



        <!-- <button mat-raised-button
   class="example-delete-tab-button"
   [disabled]="tabs.length === 1"
   (click)="removeTab(index)">
Delete Tab
</button> -->
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <ng-container *ngIf="updateDetails as config">
  {{config |json }}
</ng-container> -->