.side-bottom .side-textarea {
  width: 360px;
  font-size: smaller;
  margin: 5px;

}

.info {
  margin: 2px;
  margin-right: 10px;
  float: right;
  cursor: pointer;
}

.hidden {
  display: none;
}