<mat-sidenav-container class="side-container">
    <mat-sidenav #pagesidenav class="side-nav" mode="side" opened>
  
      <!-- <div class="filter-sticky">
        <app-select-multiple #selMultiple [listItems]="filterItems" [icon]="'filter_alt'"
          (changes)="setControlAttribute($event)">
        </app-select-multiple>
      </div> -->
  
      <form [formGroup]="thisForm" (ngSubmit)="onFormSubmit()" autocomplete="off">
        <div class="matsidenav-filter">
          <ng-container *ngIf="configDetails as config">
            <mat-form-field>
              <mat-label>Audit Type</mat-label>
              <mat-select id="AuditType" formControlName="AuditType" (selectionChange)="changedAuditType($event)">
                <mat-option *ngFor="let val of config;" [value]="val.auditType" >{{val.auditType}}</mat-option>
              </mat-select>
              <mat-error class="error-message">Please Select Audit Type
              </mat-error>
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>ACT ID</mat-label>
              <mat-select id="AuditActId" formControlName="AuditActId">
                <mat-option *ngFor="let actId of auditActIdDropdown" [value]="actId">{{actId}}</mat-option>           
              </mat-select>
              <mat-error class="error-message" >Please Select AuditActId</mat-error>
            </mat-form-field>
            
            
          </ng-container>
        </div>
  
        <div class="matsidenav-footer">
          <button type="submit" mat-raised-button color="primary">
            <mat-icon>search</mat-icon>Search
          </button>
          <button type="reset" mat-raised-button (click)="onReset()" color="primary">
            <mat-icon>refresh</mat-icon>Reset
          </button>
        </div>
  
      </form>
    </mat-sidenav>
  
    <mat-sidenav-content class="side-content">
      <button *ngIf="tabs.length!=0" class="slidderbtn" mat-basic-button color="primary" (click)="pagesidenav.toggle()"
        matTooltip="{{pagesidenav.opened ? 'Hide Filters' : 'Show Filters'}}">
        <mat-icon>{{pagesidenav.opened ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon>
      </button>
      <app-start-up *ngIf="tabs.length===0"></app-start-up>
      <mat-tab-group [(selectedIndex)]="selectedTab">
        <mat-tab *ngFor="let tab of tabs; let index = index">
          <ng-template mat-tab-label>
            <div class="col" style="margin-left: 20px;">{{tab.name}}</div>
            <button *ngIf="tab.tabType !== 0" style="color:black" matSuffix mat-icon-button (click)="removeTab(index)">
              <mat-icon style="font-size: large;">close</mat-icon>
            </button>
  
          </ng-template>
  
          <span [ngSwitch]="tab.tabType">
            <div *ngSwitchCase="0" style="height: calc(100% - 30px);">
             
                <button type="submit" mat-raised-button
                      color="primary" (click)="separateAuditTrail()">
                      Start Separate Internal Audit
                    </button>
              
              <app-table-selection [sidePan]="pagesidenav" [tableitem]="myTable" (rowChanges)="rowDetect($event)"
              (addNewTab)="newTab($event)" (pageIndex)="getNextSetRecords($event)">
            </app-table-selection>
            
            </div>
            
            <div *ngSwitchDefault>
  
            </div>
          </span>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav-content>
  </mat-sidenav-container>