<div>
  <div class="row-contener first-div">
    <button mat-raised-button color="primary" style="margin-left: 0;" [routerLink]="['addcomment']">Add Comment</button>
    <button mat-raised-button color="primary">Refresh</button>
    <button mat-raised-button color="primary" class="right-block" (click)="backClicked()">Return</button>
  </div>
  <div class="row-contener">
    <span class="label"> Murphy, Gerard </span>
    <span class="label right-block"> 2/26/2016 11:06:34 AM </span>
    <p> test comment 3 GM 26/02 </p>
    <p><mat-icon>description</mat-icon> somefile.txt (5 B)</p>
  </div>
  <div class="row-contener">
    <span class="label"> Murphy, Gerard </span>
    <span class="label right-block"> 2/26/2016 11:05:59 AM </span>
    <p> test comment 2 GM 26/02 </p>
  </div>
</div>
