.container-page{
  height:520px;
  width: auto;
  box-sizing: border-box;
}
.wrap{display:flex;
justify-content: center;
}
.left-box{
      /* min-height: 80vh; */
      /* height: 90vh; */
      /* min-width: 80%; */
      width: 60vw;
      /* background-color: rgb(230, 129, 176); */
      /* height: calc(100%-10%); */
      /* overflow-y:visible; */
      overflow: auto;
      /* padding-left: 5px; */
  }
  .right-box{
    /* min-height: 80vh; */
    height: 80vh; 
    width: 79vw;
    /* background-color: rgb(230, 129, 176); */
    overflow: auto;
}
.tab-box1{
  /* min-height: 80vh; */
  height: 80vh; 
  width: 90vw;
  /* background-color: rgb(230, 129, 176); */
  overflow: auto;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .vf-flex-container-col {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: center;        
  }
  .mt-2 {
    margin-top: 2rem;
  }    
  .vf-tab-style1{
    background: #e60000;
    color: white;
  }
  .vf-card-title{
    box-shadow: 0 1px 1.5px -.5px rgba(0,0,0,.2), 0 1px 3px 0 rgba(0,0,0,.14), 0 .5px 3px 0 rgba(0,0,0,.12);
    background-color:#e60000;
    color:white;
    text-align:left;
    font-size: 14px;
    padding-block: 1px;
    padding-left: 5px;
  } 
  .mat-toolbar-single-row {
    height: 30px;
    background-color: #e60000;
    color:white;
    /* box-shadow: 0 1px 1.5px -.5px rgba(0,0,0,.2), 0 1px 3px 0 rgba(0,0,0,.14), 0 .5px 3px 0 rgba(0,0,0,.12); */
    box-shadow: inset 3px 2px 5px 1px rgb(0 0 0 / 20%), 0 1px 3px 0 rgb(0 0 0 / 14%), 0 0.5px 3px 0 rgb(0 0 0 / 12%);
}
/* :host ::ng-deep div.mat-tab-label {
  
  background-color: #009de6;
  
    color:white;
    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    

} */
:host::ng-deep mat-cell {
  font-size: 12px !important;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

  .docs-primary-header {
    background: #e60000;;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    /* background-repeat-x: initial;
    background-repeat-y: initial; */
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #e60000;;
}
.component-page-header {
  display: flex;
  align-items: center;
  padding-left: 0;
}
/* .mat-tab-labels{
  height: 20px;
} */
/* :host ::ng-deep.mat-ripple mat-tab-list mat-tab-labels mat-tab-label mat-focus-indicator mat-tab-label-active ng-star-inserted{
  height: 30px !important;
} */
/* :host ::ng-deep .mat-tab-list{
  height: 30px !important;
}
:host ::ng-deep .mat-tab-label{
  height: 30px !important;
  color: rgb(11, 11, 158);
} */

.audit-trail-view::ng-deep .fluid-item {
  flex: 46% 1 1;
  min-width: 150px;
}

/* .audit-trail-view::ng-deep .container-fluid {
column-gap: 20px;
} */

/* @media screen and (max-width: 1314px) {
  .audit-trail-view::ng-deep .fluid-item {
    flex: 95% 1 1;
  }
} */