<!-- <mat-toolbar class ="docs-primary-header component-page-header"> -->

<!-- <div style="font-size: 12px;color:slategray;padding-left:1%;margin-block:0;">Transactions > Transactions</div> -->
<div class="wrap">
  <div class="left-box">
    <ng-container>
      <app-transactions-views (AuditTrailSelected)="OnAuditTrailSelected($event)"
        (AddressCheckSelected)="OnAddressCheckSelected($event)" (ResetTabs)="OnResetTabs($event)">
      </app-transactions-views>
    </ng-container>
  </div>
  <div class="right-box" *ngIf="addressCheckSuccess||auditTrailSuccess">
    <mat-tab-group dynamicHeight [(selectedIndex)]="selectedIndex">     
      <mat-tab label="Address Check" *ngIf="addressCheckSuccess" isActive="addCheckState">
        <ng-container>
          <app-address-check></app-address-check>
        </ng-container>
      </mat-tab>
      <mat-tab label="Audit Trail" *ngIf="auditTrailSuccess" isActive="auditTrailState">
        <ng-container>
          <div>
            <app-telephone-no (TelephoneNoSelected)="OnTelephoneNoSelected($event)"></app-telephone-no>
          </div>
          <div>
            <app-telephone-audit-trail></app-telephone-audit-trail>
          </div>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>