
<div class="container-page" >
<div class="wrap">
  <div class="left-box">
    <ng-container>
      <app-transactions-views 
        (AddressCheckSelected)="OnAddressCheckSelected($event)" 
        (AuditTrailSelected)="OnAuditTrailSelected($event)"
        (ResetTabs)="OnResetTabs($event)"
        [matchedAuditAddress]=customerAddress
        [AuditPopulatevalue]=AuditPopulatevalue
        >
      </app-transactions-views>
    </ng-container>
  </div>
  <div class="right-box" *ngIf="addressCheckSuccess||auditTrailSuccess">
    <mat-tab-group dynamicHeight [(selectedIndex)]="selectedTab" style="padding-left: 1rem;">     
      <!-- <mat-tab label="Address Check"  *ngIf="addressCheckSuccess" isActive="addCheckState"> -->
        <mat-tab *ngFor="let tab of tabs; let index = index" >
          <ng-template mat-tab-label>
            <div style="margin-left: 20px;">{{tab.name}}</div>
            <button *ngIf="tab.tabType !== 0" style="color:black" matSuffix mat-icon-button (click)="removeTab(index)">
              <mat-icon style="font-size: large;">close</mat-icon>
            </button>
          </ng-template>
          <div [ngSwitch]="tab.tabType">
        <ng-container *ngSwitchCase="1">
          <app-address-check [Addressvalues]="addressvalues" (AddressFill)="OnAddressFill($event)"></app-address-check>
        </ng-container>
      <!-- </mat-tab> -->
      <!-- <mat-tab label="Audit Trail"  *ngIf="auditTrailSuccess" isActive="auditTrailState" style ="height:60%;"> -->
        <ng-container *ngSwitchCase="2">
          <div>
            <app-telephone-no [telNoArray]="audittrailNos" (TelephoneNoSelected)="OnTelephoneNoSelected($event)"></app-telephone-no>
            <button type="button"  *ngIf="auditCopyshow"  (click)="copied();" mat-mini-fab  style="width:30px;height:30px;margin-left:39%;margin-top:6px;font-size:small;line-height:0px !important;background-color:gray;" matTooltip="Update matched Details"  >
              <mat-icon *ngIf="auditCopyshow"  style ="font-size:small;width:24px;height:24px;vertical-align: middle;">content_copy</mat-icon>
            </button>
          </div>
            <div class="audit-trail-view">
            <app-telephone-audit-trail  [telNo]="telNo" (AddressCheckSelected)="AuditTrailAddress($event)" [repIdentifier]="repIdentifier"></app-telephone-audit-trail>
           
          </div>
        </ng-container>
        <div *ngSwitchDefault>
        </div>
            </div>
          </mat-tab>
        </mat-tab-group>
    </div>
</div>
</div>