<mat-sidenav-container class="side-container">
    <mat-sidenav #pagesidenav class="side-nav" mode="side" opened>
  
      
  
      <form [formGroup]="thisForm" (ngSubmit)="onFormSubmit()" autocomplete="on">
        <div class="matsidenav-filter">
          <ng-container>
            <mat-form-field hintLabel="Max 11 characters">
              <mat-label>Start Telephone No</mat-label>
              <input formControlName="StartTelephoneNumber" (keypress)="numberOnly($event)"
                (keyup)="addPrefix('StartTelephoneNumber',starttelno.value)" matInput #starttelno maxlength="11"
                placeholder="Start Telephone No" >
              <mat-hint align="end">{{starttelno.value?.length || 0}}/11</mat-hint>
              <mat-error>
                <div *ngIf="f.StartTelephoneNumber.touched && f.StartTelephoneNumber.invalid" class="alert alert-danger">
                  <!-- <div *ngIf="f.StartTelephoneNumber.errors?.required">Please enter Telephone No</div> -->
                  <div *ngIf="f.StartTelephoneNumber.errors?.pattern">Telephone No is not 11 digit</div>
                </div>
              </mat-error>
            </mat-form-field>
  
            <mat-form-field hintLabel="Max 11 characters" >
              <mat-label>End Telephone No</mat-label>
              <input formControlName="EndTelephoneNumber" (keypress)="numberOnly($event)"
                (keyup)="addPrefix('EndTelephoneNumber',endtelno.value)" matInput #endtelno maxlength="11"
                placeholder="End Telephone No" autocomplete="off">
              <mat-hint align="end">{{endtelno.value?.length || 0}}/11</mat-hint>
              <mat-error>
                <div *ngIf="f.EndTelephoneNumber.touched && f.EndTelephoneNumber.invalid" class="alert alert-danger">
                  <!-- <div *ngIf="f.StartTelephoneNumber.errors?.required">Please enter Telephone No</div> -->
                  <div *ngIf="f.EndTelephoneNumber.errors?.pattern">Telephone No is not 11 digit</div>
                </div>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Command</mat-label>
                <input  formControlName="Command" type="text" placeholder="Search Command" matInput
                  [matAutocomplete]="autoCommand" />
                <span matSuffix mat-icon-button>
                  <mat-icon>arrow_drop_down</mat-icon>
                </span>
                <mat-autocomplete autoActiveFirstOption #autoCommand="matAutocomplete">
                  <mat-option>Activate Customer</mat-option>
                <mat-option>Cease Customer</mat-option>
                <mat-option>Import</mat-option>
                <mat-option>Export</mat-option>
                <mat-option>Modify</mat-option>
                </mat-autocomplete>
                
                <!-- </mat-select> -->
                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
              </mat-form-field>
            <mat-form-field>
              <mat-label>Source</mat-label>
              <input formControlName="Source" type="text" placeholder="Search Source" matInput
                [matAutocomplete]="autoSource" />
              <span matSuffix mat-icon-button>
                <mat-icon>arrow_drop_down</mat-icon>
              </span>
              <mat-autocomplete autoActiveFirstOption #autoSource="matAutocomplete">
                <mat-option>DELIVERED</mat-option>
                <mat-option>DELIVERED</mat-option>
                <mat-option>DELIVERED</mat-option>
                <mat-option>DELIVERED</mat-option>
              </mat-autocomplete>
              <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
            </mat-form-field>
            <mat-form-field>
                <mat-label>Status</mat-label>
                <input formControlName="Source" type="text" placeholder="Search Staus" matInput
                  [matAutocomplete]="autoSource" />
                <span matSuffix mat-icon-button>
                  <mat-icon>arrow_drop_down</mat-icon>
                </span>
                <mat-autocomplete autoActiveFirstOption #autoSource="matAutocomplete">
                  <mat-option>DELIVERED</mat-option>
                  <mat-option>DELIVERED</mat-option>
                  <mat-option>DELIVERED</mat-option>
                  <mat-option>DELIVERED</mat-option>
                </mat-autocomplete>
                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
              </mat-form-field>
            
  
            
  
            
  
            
  
            
  
          </ng-container>
        </div>
  
        <div class="matsidenav-footer">
          <button type="submit" mat-raised-button color="primary">
            <mat-icon>search</mat-icon>Search
          </button>
          
        </div>
  
      </form>
    </mat-sidenav>
  
    <mat-sidenav-content class="side-content">
      <button *ngIf="tabs.length!=0" class="slidderbtn" mat-basic-button color="primary" (click)="pagesidenav.toggle()"
        matTooltip="{{pagesidenav.opened ? 'Hide Filters' : 'Show Filters'}}">
        <mat-icon>{{pagesidenav.opened ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon>
      </button>
      <app-start-up *ngIf="tabs.length===0"></app-start-up>
      <mat-tab-group [(selectedIndex)]="selectedTab">
        <mat-tab *ngFor="let tab of tabs; let index = index">
          <ng-template mat-tab-label>
            <div class="col" style="margin-left: 20px;">{{tab.name}}</div>
            <button *ngIf="tab.tabType !== 0" style="color:black" matSuffix mat-icon-button (click)="removeTab(index)">
              <mat-icon style="font-size: large;">close</mat-icon>
            </button>
  
          </ng-template>
  
          <span [ngSwitch]="tab.tabType">
            <div *ngSwitchCase="0" style="height: calc(100% - 30px);">
             
                
              
              <app-table-selection [sidePan]="pagesidenav" [tableitem]="myTable" (rowChanges)="rowDetect($event)"
              (addNewTab)="newTab($event)" (pageIndex)="getNextSetRecords($event)">
            </app-table-selection>
            <form (ngSubmit)="onSaveSubmit()">
              <div class="mat-elevation-z8 side-bottom">
                <div>
                  <!-- <select class="res-select" Name="Name_of_list_box" size="4">
                          <option *ngFor="let list of selectListItems"> {{list}} </option>
                        </select> -->
                  <div style="display: inline-block;">
                    

                    <mat-form-field class="side-textarea" hintLabel="Max 500 characters">
                      <mat-label>Remarks</mat-label>
                      <textarea required [(ngModel)]="Remarks" [ngModelOptions]="{standalone: true}" #input matInput
                        maxlength="500" placeholder="Remarks"></textarea>
                      <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
                      <mat-error>
                        <div *ngIf="!Remarks" class="alert alert-danger">
                          <!-- <div *ngIf="f.StartTelephoneNumber.errors?.required">Please enter Telephone No</div> -->
                          Add remarks for resolution
                        </div>
                      </mat-error>
                    </mat-form-field>
                  
                    <button [disabled]="!(selectedGridRows.length>0)" type="submit" mat-raised-button
                      color="primary">
                      <mat-icon>save</mat-icon>Save
                    </button>&nbsp;&nbsp;


                    <!-- <button type="button" mat-raised-button color="primary">
                      <mat-icon>help</mat-icon>Help
                    </button> -->
                  </div>


                </div>
                <div class="side-right-div">
                </div>

              </div>
            </form>
            </div>
            <div *ngSwitchCase="1" style="height: calc(100% - 8px);">
              <app-telephone-audit-trail [telNo]="auditTelNo" [repIdentifier]="repIdentifier"></app-telephone-audit-trail>
            </div>
           
  
  
            <div *ngSwitchCase="2" style="height: calc(100% - 8px);">
              <app-transaction-errors [telNo]="telNo" [tranId]="tranId" [repIdentifier]="repIdentifier">
              </app-transaction-errors>
            </div>
            <div *ngSwitchDefault>
  
            </div>
          </span>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav-content>
  </mat-sidenav-container>