table {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

th {
    background-color: #e60000;
    color:white;
}
  
th.mat-sort-header-sorted {
    color: black;
}

.mat-header-cell {
    color: white;
    padding: 2px 10px;  
}

table td, table th {
    padding: 2px 10px;

}

.mat-header-row{
    height: 10px;
}

.mat-cell{
    font-size:small;  
}

.mat-row {
    height: 10px;
}

.vf-card-title{
    box-shadow: 0 1px 1.5px -.5px rgba(0,0,0,.2), 0 1px 3px 0 rgba(0,0,0,.14), 0 .5px 3px 0 rgba(0,0,0,.12);
    background-color:#e60000;
    color:white;
    height: 25px;
    padding-top: 5px;
} 

mat-card-content {
    border: 1px solid #54575a;
    padding: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mat-card>:first-child {
    margin-top: 5px;
}

.form-field-div {
    display: inline-block;
    padding-right: 1em;
}

.mat-form-field-wrapper {
    padding-bottom: 0px;
}

.button-right-container {
    display: flex;
    justify-content: flex-end;
}

.button-right-class {
    display: inline-block;
    padding: 0 1em;
}

.export-btn {
    float: right;
}

.button-block {
    float: left;
}

.link-block {
    float: right;
}

.line-height{
    height: 35px;
}
