<div>
  <mat-card>
    <mat-card-header class="vf-card-title">
      <mat-card-title>Add Mapping For Billable Mobile:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="form-field-div">
        <mat-form-field appearance="outline">
          <mat-label>*Charge Band</mat-label>
          <mat-select value="1">
            <mat-option value="1">SC001</mat-option>
            <mat-option value="2">SC002</mat-option>
            <mat-option value="2">SC003</mat-option>
            <mat-option value="2">SC004</mat-option>
            <mat-option value="2">SC005</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-field-div">
        <mat-form-field appearance="outline">
          <mat-label>*Number Range</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </div>
      <div class="form-field-div">
        <mat-checkbox>Billable Mobile</mat-checkbox>
      </div>
      <div>
        <button mat-raised-button type="button" style="margin-left: 0px;" color="primary" (click)="backClicked()">Cancel</button>
        <button mat-raised-button type="button" color="primary">Add Mapping</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
