<div *ngIf="filterColumn">
  <form [formGroup]="filterForm">

    <ng-container *ngIf="isMonthFilter">
    <mat-form-field appearance="standard">
      <mat-label>Month</mat-label>
      <mat-select id="resolveMonthFilter" formControlName="resolveMonthFilter" [(ngModel)]="monthValue">
        <mat-option *ngFor="let month of resolveMonthList" [value]="month">{{month}}</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

    <mat-form-field appearance="standard">
      <mat-label>Source System</mat-label>
      <mat-select formControlName="sourceSystemFilter" multiple >
        <mat-option *ngFor="let sourcesystem of sourceSystemList" [value]="sourcesystem">{{sourcesystem}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>CLI Status</mat-label>
      <mat-select formControlName="cliStatusFilter" multiple>
        <mat-option *ngFor="let cliStatus of cliStatusList" [value]="cliStatus">{{cliStatus}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div>
<div class="table-container">
  <table #mytable mat-table [dataSource]="dataSource" class="mat-elevation-z8">
   <ng-container *ngFor="let disCol of ColumnDetails; let colIndex = index">     
      <ng-container matColumnDef="{{disCol.DataHeaders}}">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="disCol.colspan" [attr.rowspan]="disCol.rowspan" >
          {{disCol.Headers}}</th>
        <td mat-cell class="truncate-cell" *matCellDef="let element" [ngStyle]="highlightCell(element,disCol)">
          <span [ngStyle]="highlightCell(element,disCol)">{{disCol.isNumber?(element[disCol.DataHeaders] | number) : element[disCol.DataHeaders]}}</span>
        </td>
        <ng-container *ngIf="isRowTotal">
          <ng-container *ngIf="disCol.DataHeaders === this.ColumnDetails[0].DataHeaders ">
          <td class="total-row" [attr.colspan]="getColSpan(disCol.DataHeaders)" mat-footer-cell
            *matFooterCellDef="let element"> {{ getTotal(disCol.DataHeaders)}}
          </td>
        </ng-container>
        <ng-container *ngIf="disCol.DataHeaders != this.ColumnDetails[0].DataHeaders ">
          <td class="total-row" [attr.colspan]="getColSpan(disCol.DataHeaders)" mat-footer-cell
            *matFooterCellDef="let element"> {{ getTotal(disCol.DataHeaders) | number }}
          </td>
        </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngFor="let headersVal of groupHeaders">
      <ng-container matColumnDef={{headersVal.DataHeaders}}>
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="headersVal.colspan" [attr.rowspan]="headersVal.rowspan">
          {{headersVal.Headers}} </th>
      </ng-container>
    </ng-container>
    <ng-container *ngFor="let grpHeaders of grpHdrColumnsArray; let hdrIndex = index;">
      <tr [ngClass]="hdrIndex == 0 ? '' : 'headerLvl2'" mat-header-row *matHeaderRowDef="grpHeaders;sticky: true"> </tr>
    </ng-container>
    <tr [ngClass]="grpHdrColumnsArray.length == 1 ? 'headerLvl2' : 'headerLvl3' " mat-header-row *matHeaderRowDef="detailedColumnsArray;sticky: true"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <ng-container *ngIf="isRowTotal">
      <tr class="total-row" mat-footer-row *matFooterRowDef="totalCols;"></tr>
    </ng-container>
  </table>
</div>
