<div *ngIf="filterColumn">
  <form [formGroup]="filterForm">
    <mat-form-field appearance="standard">
      <mat-label>Source System</mat-label>
      <mat-select formControlName="sourceSystemFilter" multiple>
        <mat-option *ngFor="let sourcesystem of sourceSystemList" [value]="sourcesystem">{{sourcesystem}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>CLI Status</mat-label>
      <mat-select formControlName="cliStatusFilter" multiple>
        <mat-option *ngFor="let cliStatus of cliStatusList" [value]="cliStatus">{{cliStatus}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div>
<div class="table-container">
  <table #mytable mat-table [dataSource]="dataSource" class="mat-elevation-z8">
   <ng-container *ngFor="let disCol of ColumnDetails; let colIndex = index">     
      <ng-container matColumnDef="{{disCol.DataHeaders}}">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="disCol.colspan" [attr.rowspan]="disCol.rowspan">
          {{disCol.Headers}}</th>
        <td mat-cell class="truncate-cell" *matCellDef="let element"> {{element[disCol.DataHeaders]}} </td>
        <ng-container *ngIf="isRowTot">
          <td class="total-row" [attr.colspan]="getColSpan(disCol.DataHeaders)" mat-footer-cell
            *matFooterCellDef="let element"> {{ getTotal(disCol.DataHeaders,'')}}
          </td>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngFor="let headersVal of groupHeaders">
      <ng-container matColumnDef={{headersVal.DataHeaders}}>
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="headersVal.colspan" [attr.rowspan]="headersVal.rowspan">
          {{headersVal.Headers}} </th>
      </ng-container>
    </ng-container>
    <ng-container *ngFor="let grpHeaders of grpHdrColumnsArray">
      <tr mat-header-row *matHeaderRowDef="grpHeaders;sticky: true"> </tr>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="detailedColumnsArray;sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <ng-container *ngIf="isRowTot">
      <tr class="total-row" mat-footer-row *matFooterRowDef="totalCols;sticky: true"></tr>
    </ng-container>
  </table>
</div>
<!-- <mat-paginator class="mat-paginator-sticky"  showFirstLastButtons [pageSizeOptions]="[10,20,50,100]" (page)="getPage($event)" >
</mat-paginator> -->

<mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" 
[pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
</mat-paginator>

<!-- <mat-paginator    (page)="pageChanged($event)"
[pageSizeOptions]="[15, 20, 30]"
showFirstLastButtons>
</mat-paginator> -->

<div style="margin-bottom:10px">
  <button type="reset" mat-raised-button color="primary">
    <mat-icon>import_export</mat-icon>Export
  </button>&nbsp;&nbsp;
  <button type="reset" mat-raised-button color="primary">
    <mat-icon>file_copy</mat-icon> Copy To Clipboard
  </button>
</div>