<div *ngIf="filterColumn">
  <form [formGroup]="filterForm">

    <ng-container *ngIf="isMonthFilter">
    <mat-form-field appearance="standard">
      <mat-label>Month</mat-label>
      <mat-select id="resolveMonthFilter" formControlName="resolveMonthFilter" [(ngModel)]="monthValue">
        <mat-option *ngFor="let month of resolveMonthList" [value]="month">{{month}}</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

    <mat-form-field appearance="standard">
      <mat-label>Source System</mat-label>
      <mat-select formControlName="sourceSystemFilter" multiple >
        <mat-option *ngFor="let sourcesystem of sourceSystemList" [value]="sourcesystem">{{sourcesystem}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>CLI Status</mat-label>
      <mat-select formControlName="cliStatusFilter" multiple>
        <mat-option *ngFor="let cliStatus of cliStatusList" [value]="cliStatus">{{cliStatus}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div>
<div class="table-group-container">
  <table #mytable mat-table [dataSource]="dataSource" class="mat-elevation-z8">
   <ng-container *ngFor="let disCol of ColumnDetails; let colIndex = index">     
      <ng-container matColumnDef="{{disCol.DataHeaders}}">
        <div *ngIf="disCol.DataHeaders != 'FullAuditCLIStatusCode' && disCol.DataHeaders != 'InternalAuditCLIStatusCode' && disCol.DataHeaders != 'ExternalAuditCLIStatusCode'">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="disCol.colspan" [attr.rowspan]="disCol.rowspan" matTooltip="{{disCol.isToolTip}}" matTooltipClass="custom-tooltip">
            {{disCol.Headers}}</th>
          <!-- <td mat-cell class="truncate-cell" *matCellDef="let element" [ngStyle]="highlightCell(element,disCol)"> -->
              <td mat-cell class="truncate-cell" *matCellDef="let element">
            <span [ngStyle]="highlightCell(element,disCol)">{{disCol.isNumber?(element[disCol.DataHeaders] | number) : element[disCol.DataHeaders]}}</span>
          </td>
          </div>
          <!-- Tooltip for FullAuditCLIStatus -->
          <div *ngIf="disCol.DataHeaders == 'FullAuditCLIStatusCode'">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="disCol.colspan" [attr.rowspan]="disCol.rowspan" matTooltip="{{disCol.isToolTip}}">
              {{disCol.Headers}}</th>
          <td mat-cell class="truncate-cell" *matCellDef="let element" matTooltip="{{element.FullAuditCLIStatusDescription}}" matTooltipClass="custom-tooltip">
            <span [ngStyle]="highlightCell(element,disCol)">{{ element[disCol.DataHeaders] }}</span>
          </td>
          </div>
          <!-- Tooltip for InternalAuditCLIStatus -->
          <div *ngIf="disCol.DataHeaders == 'InternalAuditCLIStatusCode'">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="disCol.colspan" [attr.rowspan]="disCol.rowspan" matTooltip="{{disCol.isToolTip}}">
              {{disCol.Headers}}</th>
          <td mat-cell class="truncate-cell" *matCellDef="let element" matTooltip="{{element.InternalAuditCLIStatusDescription}}" matTooltipClass="custom-tooltip">
            <span [ngStyle]="highlightCell(element,disCol)">{{ element[disCol.DataHeaders] }}</span>
          </td>
          </div>
          <!-- Tooltip for ExternalAuditCLIStatus -->
          <div *ngIf="disCol.DataHeaders == 'ExternalAuditCLIStatusCode'">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="disCol.colspan" [attr.rowspan]="disCol.rowspan" matTooltip="{{disCol.isToolTip}}">
              {{disCol.Headers}}</th>
          <td mat-cell class="truncate-cell" *matCellDef="let element" matTooltip="{{element.ExternalAuditCLIStatusDescription}}" matTooltipClass="custom-tooltip">
            <span [ngStyle]="highlightCell(element,disCol)">{{ element[disCol.DataHeaders] }}</span>
          </td>
          </div>
             <ng-container *ngIf="isRowTotal">
          <ng-container *ngIf="disCol.DataHeaders === this.ColumnDetails[0].DataHeaders ">
          <td class="total-row" [attr.colspan]="getColSpan(disCol.DataHeaders)" mat-footer-cell
            *matFooterCellDef="let element"> {{ getTotal(disCol.DataHeaders)}}
          </td>
        </ng-container>
        <ng-container *ngIf="disCol.DataHeaders != this.ColumnDetails[0].DataHeaders ">
          <td class="total-row" [attr.colspan]="getColSpan(disCol.DataHeaders)" mat-footer-cell
            *matFooterCellDef="let element"> {{ getTotal(disCol.DataHeaders) | number }}
          </td>
        </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngFor="let headersVal of groupHeaders">
      <ng-container matColumnDef={{headersVal.DataHeaders}}>
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="headersVal.colspan" [attr.rowspan]="headersVal.rowspan">
          {{headersVal.Headers}} </th>
      </ng-container>
    </ng-container>
    <ng-container *ngFor="let grpHeaders of grpHdrColumnsArray; let hdrIndex = index;">
      <tr [ngClass]="hdrIndex == 0 ? '' : 'headerLvl2'" mat-header-row *matHeaderRowDef="grpHeaders;sticky: true"> </tr>
    </ng-container>
    <tr [ngClass]="grpHdrColumnsArray.length == 1 ? 'headerLvl2' : 'headerLvl3'" id="full-audit-header-sticky-lvl2" mat-header-row *matHeaderRowDef="detailedColumnsArray;sticky: true"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <ng-container *ngIf="isRowTotal">
      <tr class="total-row" mat-footer-row *matFooterRowDef="totalCols;"></tr>
    </ng-container>
  </table>
</div>
</div>
<div class="table-group-header-bottom flex-container-paginator" *ngIf="isCopyToClipboard">
    <button type="button" mat-raised-button color="primary"
      [cdkCopyToClipboard]="copyToClipboard()">
      <mat-icon>file_copy</mat-icon> Copy To Clipboard
    </button>
  </div>