<div  class="header">
    <ng-container [ngTemplateOutlet]="noRecordsMessage"
        [ngTemplateOutletContext]="{ $implicit : internalError != null ? 'Internal Error ' : 'No Records for Internal Error'}">
    </ng-container>
</div>

<ng-template #noRecordsMessage let-data>
    {{data}}
</ng-template>
<div class="audit-sec">
    <app-table class="appTable" [tableitem]="internalError"></app-table>
</div>

<div  class="header">
    <ng-container [ngTemplateOutlet]="noRecordsMessage"
        [ngTemplateOutletContext]="{ $implicit : btResponse != null ? 'BT Response ' : 'No Records for BT Response'}">
    </ng-container>
</div>

<ng-template #noRecordsMessage let-data>
    {{data}}
</ng-template>
<div class="audit-sec">
    <app-table class="appTable" [tableitem]="btResponse"></app-table>
</div>

<div  class="header">
    <ng-container [ngTemplateOutlet]="noRecordsMessage"
        [ngTemplateOutletContext]="{ $implicit : btResponse != null ? 'Resolution Histroy ' : 'No Records for Resolution History'}">
    </ng-container>
</div>

<ng-template #noRecordsMessage let-data>
    {{data}}
</ng-template>
<div class="audit-sec">
    <app-table class="appTable" [tableitem]="resolHistory"></app-table>
</div>