.side-bottom .side-textarea{
    /* background-color: lawngreen!important; */
    width: 360px;
    font-size: smaller;  
  /* position:absolute; 
  margin-top: 90px;*/
  /* margin-left: 200px; */
  margin: 5px;
 
  }
.hidden{display: none;}
.container-page{
  height:520px;
  width: auto;
  box-sizing: border-box;
}
/* :host ::ng-deep .app-table-selection .table-container {
  overflow-y: hidden!important;
  min-height: 333px !important;

} */