mat-card {
    padding: 25px;
}

.vf-card-title{
    box-shadow: 0 1px 1.5px -.5px rgba(0,0,0,.2), 0 1px 3px 0 rgba(0,0,0,.14), 0 .5px 3px 0 rgba(0,0,0,.12);
    background-color:#e60000;
    color:white;
    height: 25px;
    padding-top: 5px;
} 

mat-card-content {
    border: 1px solid #54575a;
    padding: 20px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-container {
    margin-top: 20px;
}

.div-inline-block {
    display: inline-block;
    padding-right: 1em;
}

.side-textarea {
    width: 20em;
}

.form-field-div {
    display: inline-block;
    padding-right: 1em;
}

.button-right-container {
    display: flex;
    justify-content: flex-end;
}

.button-right-class {
    display: inline-block;
    padding: 0 1em;
}

.vf-flex-container-col {
    display: flex;
    margin-top: 10px;
}

.upload-button {
    border: 1px solid #54575a;
    border-radius: 5px;
}
