/* .center{
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   */
  .side-container-report {
    width: auto;
    height: 520px !important;
    box-sizing: border-box;
    }

/* .table-view::ng-deep .mat-cell {
  padding-right:15px ;
  white-space: nowrap;
} */
/* .table-view::ng-deep.mat-table{
  overflow-x: scroll;
} */

/* For making content center in header */
/* .table-view::ng-deep.mat-sort-header-container{
  justify-content: center !important;
} */
