<div class="table-selection-container" [ngClass]="reportName === 'livereport'  ? 'table-fit-content' : {} ">
  <div class="table-selection-top">
    <mat-form-field appearance="standard" *ngIf="columnHeaderFilter" class="colfilter" style="margin-left: 8px;">
      <mat-select #select multiple disableOptionCentering panelClass="matselhorzPanel" (openedChange)="selectPanelToggle($event,select)">
        <mat-select-trigger>
          <span style="display: flex;">
            <mat-icon matPrefix>filter_list</mat-icon>
            <span style="padding: 5px;">
              Column Headers
            </span>
          </span>
        </mat-select-trigger>
        <mat-optgroup class="freezeselectall" style="min-width:220px">
          <mat-checkbox style="color: #3f51b5;" color="primary" [(ngModel)]="allSelected" #selectAll
            [ngModelOptions]="{standalone: true}" (change)="toggleAllSelection(); select.close();">
            {{ selectAll.checked ? 'Deselect All' : 'Select All' }}</mat-checkbox>
          <button class="select-submit" mat-basic-button color="primary" (click)="select.close();"
            >
            Submit
          </button>
        </mat-optgroup>
        <ng-container *ngFor="let cols of (gridFilter || []); let fltIndex = index">
          <mat-option
            [disabled]="cols.header==='Inventory' ||cols.header==='Start Tel No'|| cols.headerValue ==='TelephoneNumber' ? true:false"
            style="min-width:220px;color: #3f51b5;" color="primary" (click)="optionClick()" [value]="cols.headerValue">
            {{ cols.header }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <span style="padding: 10px;" *ngIf="tableitem?.selectCheckbox">No of selected rows :
      <b> {{selection.selected.length}}</b></span> &nbsp;
      <mat-slide-toggle style="margin-top:7px" *ngIf="tableitem?.isSticky" (change)="changeView()"  [(ngModel)]="isCheckedtoggle" class="toggleclass">
        {{isCheckedtoggle?'Freeze Columns':'UnFreeze  Columns'}} </mat-slide-toggle>
    
        <button *ngIf="tableitem?.isCreateRecord" type="button" mat-raised-button color="primary"
        [disabled]="selection.selected.length > 0 ? false : true"  (click)="CreateTransaction()">
        <mat-icon>file_copy</mat-icon> Create Record
      </button>
    <ng-container *ngIf="showFavCols">
      <span style="padding: 5px 10px;">
         Preferred
          <br/> 
          Headerlist</span> &nbsp;
      <mat-form-field class="colfilter">
        <mat-select placeholder="User Profiles" [(ngModel)]="selectedUserProfileId"
          (selectionChange)="getSelectedProfile($event.value)">
          <!-- <mat-select-trigger>
            <span style="display: flex;">
           
              <span style="padding: 5px;">
                Preferred Headerlist
              </span>
            </span>
          </mat-select-trigger> -->
          <mat-option *ngFor="let val of favProfile" [value]="val.favprofileid">
            {{val.favprofname}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <div class="fav-button">
        <button type="button" mat-raised-button color="primary" (click)="createProfile()">
          <mat-icon style="font-size: large;">add</mat-icon>Add
        </button>
        <button *ngIf="enableCustomization" type="button" mat-raised-button color="primary"
          (click)="deleteProfile()">
          <mat-icon style="font-size: large;">delete</mat-icon>Delete
        </button>
        <button *ngIf="enableCustomization" type="button" mat-raised-button color="primary"
          (click)="promoteProfile()">
          <mat-icon style="font-size: large;">how_to_reg</mat-icon>Promote
        </button>
      </div>
    </ng-container>

  </div>

  <div class="table-container flex-container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container *ngFor="let disCol of ColumnDetails; let colIndex = index" matColumnDef="{{disCol.headerValue}}"  [sticky]="stickycolumnEnable && disCol?.isSticky">

        <!-- Checkbox Column -->
        <div *ngIf="disCol.headerValue === 'Select'">
          <th mat-header-cell *matHeaderCellDef>
            <!-- <mat-checkbox color="primary" style="margin-right:20px;" (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox> -->
            <span style="display: block;" (click)="deSelectAllRows()"><mat-icon class="selectall-deselectall-button">indeterminate_check_box</mat-icon></span>
            <span style="display: block;" (click)="selectAllRows()"><mat-icon class="selectall-deselectall-button">add_box</mat-icon></span>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox color="primary" style="margin-right:20px;" (click)="$event" (change)="selectRow($event,row)"
              (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
          <td mat-footer-cell class="totalRow" *matFooterCellDef> {{getTotal(disCol.headerValue)}} </td>
        </div>

        <!-- Image Columns -->
        <div *ngIf="disCol.isImage">
          <!-- <th mat-header-cell class="nowrap-cell" *matHeaderCellDef>{{disCol.header}}</th> -->
          <th mat-header-cell class="nowrap-cell" *matHeaderCellDef>
            <span *ngIf="disCol.header==='Audit'"></span>
            <span *ngIf="disCol.header!='Audit'"> {{disCol.header}}</span>
           </th>
          <!-- <td mat-cell class="nowrap-cell" *matCellDef="let row "> -->
          <td mat-cell [ngClass]="{'nowrap-cell':!disCol.imgDesc}" class="nowrap-cell" *matCellDef="let row ">
            <ng-container *ngFor="let img of imgList; let imgIndex = index;">
              <mat-icon matTooltip="{{img.toolTipText}}" class="table-icon" (click)="addTabs($event,img.tabIndex,row)"
                *ngIf="img.headerValue === disCol.headerValue  && setImageCellAttributes(row,disCol.headerValue)&&checkauditbutton(row,disCol.headerValue)">
                {{img.icon}}</mat-icon>
            </ng-container>
            <ng-container *ngIf="disCol.imgDesc">
              {{row[disCol.headerValue]}}
            </ng-container>
          </td>
          <td mat-footer-cell class="totalRow" *matFooterCellDef> {{getTotal(disCol.headerValue)}} </td>
        </div>

        <!-- Error List Columns -->
        <div *ngIf="disCol.headerValue === 'ErrorList' && disCol.header==='Error List'">
          <th mat-header-cell *matHeaderCellDef >{{disCol.header}}</th>
          <td mat-cell *matCellDef="let element"  class='tooltiphilight' (click)="$event.stopPropagation()" matTooltipClass="custom-tooltip"
            [matTooltipDisabled]="!disCol.showTooltip" matTooltip="{{element[disCol.headerValue]}}"
            [ngStyle]="highlightCell(element,disCol)">
            {{element.InternalErrors}}
          </td>
          </div>
          <div *ngIf="disCol.headerValue === 'ErrorList' && disCol.header==='Error Codes'">
            <th mat-header-cell *matHeaderCellDef>{{disCol.header}}</th>
            <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
              {{element[disCol.headerValue]}}
            </td>
            </div>

          <!-- Type Of Line Columns -->
        <div *ngIf="disCol.headerValue === 'TypeOfLine'&& disCol.header==='Type of Line'">
          <th mat-header-cell *matHeaderCellDef>{{disCol.header}}</th>
          <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()" matTooltipClass="custom-tooltip"
            [matTooltipDisabled]="!disCol.showTooltip" matTooltip="{{element[disCol.headerValue]}}"
            [ngStyle]="highlightCell(element,disCol)">
            {{element.TypeOfLineCode}}
          </td>
          </div>          
          <div *ngIf="colIndex ===1">
            <th mat-header-cell *matHeaderCellDef>{{disCol.header}}</th>
            <td mat-cell  (click)="selectRow($event,element)"  (click)="$event ? selection.toggle(element) : null"  *matCellDef="let element" (click)="$event.stopPropagation()" matTooltipClass="custom-tooltip"
              [matTooltipDisabled]="!disCol.showTooltip" matTooltip="{{element[disCol.headerValue]}}"
              [ngStyle]="highlightCell(element,disCol)">
  
              <!-- {{element[disCol.headerValue]}} -->
              <span
              [ngClass]="disCol.isBold === true ? 'bold-blackfont' : 'default-font-weight'">{{disCol.isNumber?(element[disCol.headerValue]|
                number) :element[disCol.headerValue]}}</span>
            </td>
            <td mat-footer-cell class="totalRow" *matFooterCellDef> {{ getTotal(disCol.headerValue)|number}}</td>
            </div>
        <!-- Other Columns -->
        <div *ngIf="colIndex !=1 && disCol.headerValue != 'Select' && !disCol.isImage && disCol.headerValue != 'ErrorList' && disCol.header != 'Type of Line' ">
          <th mat-header-cell *matHeaderCellDef>{{disCol.header}}</th>
          <td mat-cell    *matCellDef="let element" (click)="$event.stopPropagation()" matTooltipClass="custom-tooltip"
            [matTooltipDisabled]="!disCol.showTooltip" matTooltip="{{element[disCol.headerValue]}}"
            [ngStyle]="highlightCell(element,disCol)">

            <!-- {{element[disCol.headerValue]}} -->
            <span
            [ngClass]="disCol.isBold === true ? 'bold-blackfont' : 'default-font-weight'">{{disCol.isNumber?(element[disCol.headerValue]|
              number) :element[disCol.headerValue]}}</span>
          </td>
          <td mat-footer-cell class="totalRow" *matFooterCellDef> {{ getTotal(disCol.headerValue)|number}}</td>
        </div>
      </ng-container>

      <!-- custom footer container  -->
      <ng-container *ngFor="let columnName of footerColumns" [matColumnDef]="columnName">
        <td mat-footer-cell class="totalRow" *matFooterCellDef> {{columnName==='f2_Select'?
          getFooterDetails(columnName):getFooterDetails(columnName)| number}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="dataColumns; sticky: true"></tr>
      <tr mat-row [ngClass]="{'highlight':selection.isSelected(row)}" [ngClass]="rowHighlight(row)"
        *matRowDef="let row; columns: dataColumns;"></tr>
      <!-- <tr mat-row [ngClass]="{'highlight':selection.isSelected(row)}" *matRowDef="let row; columns: dataColumns;"
      (change)="selectRow($event,row)" (click)="selection.toggle(row)"> </tr> -->

      <ng-container *ngIf="showTotalRow">
        <tr class="totalRow" mat-footer-row *matFooterRowDef="dataColumns;sticky: false"></tr>
      </ng-container>

      <ng-container *ngIf="showCustomFooter">
        <tr class="totalRow" mat-footer-row *matFooterRowDef="footerColumns;sticky: false"></tr>
      </ng-container>

    </table>
  </div>

  <div class="table-selection-bottom flex-container-paginator" *ngIf="reportIdentifier!='CeaseTransaction'">
    <!-- <div class="test-wrapper"> -->
    <div>
      <button *ngIf="tableitem?.selectCheckbox" type="button" mat-raised-button color="primary"
        (click)="RequestExport2Excel()">
        <mat-icon>import_export</mat-icon>Export
      </button>&nbsp;&nbsp;
      <!-- [cdkCopyToClipboard]="copyToClipboard()" 
  selection.selected.length > 0 ? false : true-->
      <button *ngIf="tableitem?.selectCheckbox" type="button" mat-raised-button color="primary"
        [cdkCopyToClipboard]="copyToClipboard()" [disabled]="selection.selected.length > 0 ? false : true">
        <mat-icon>file_copy</mat-icon> Copy To Clipboard
      </button>
      <span *ngIf="isEmailRequired">
        <button [disabled]="true" type="button" mat-raised-button color="primary">
          <mat-icon>email</mat-icon> Export to email
        </button>
      </span>
    </div>

    <div class="tblpagination" *ngIf="reportIdentifier!='TransactionCommand'"    style="float: right;
        display: -webkit-box; align-items: center;" >
      <mat-paginator  #paginator style="height: 5px; font-weight: bolder;" [pageSizeOptions]="[50,100,250,500]"
        [length]="totalRows"   [pageIndex]="currentPage" [pageSize]="pageSize" [hidePageSize]="disablePageSize"
        (page)="pageChanged($event)">
      </mat-paginator>
      <div class="go-to-page">
      <mat-form-field *ngIf="!disablePageSize"  style="width: 100px; align-items: baseline; padding-bottom: 0px;">
        <input numbersOnly matTooltip="Enter page no." matTooltipClass="paginator-control-tooltip" matTooltipPosition='above' [(ngModel)]="apiPageNumber" matInput autocomplete="off"
          placeholder="Page no.">
        <!-- <mat-icon style="font-size:20px; cursor: pointer;"  matTooltip= "Go to Page" (click)="pageChanged()">arrow_upward</mat-icon> -->
        <mat-icon style="font-size:20px; cursor: pointer;" matTooltip="Go to Page" matTooltipClass="paginator-control-tooltip" matTooltipPosition='above' (click)="pageChanged()">fast_forward
        </mat-icon>
      </mat-form-field>
    </div>
    </div>
  </div>
</div>