<div>
  <mat-card>
    <mat-card-header class="vf-card-title">
      <mat-card-title>Add BT Charge Band Reporting Data</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="form-field-div">
        <mat-form-field appearance="outline">
          <mat-label>*Charge Band</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </div>
      <div class="form-field-div">
        <mat-form-field appearance="outline">
          <mat-label>*AACode</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </div>
      <div class="form-field-div">
        <mat-form-field appearance="outline">
          <mat-label>Billable Fixed</mat-label>
          <mat-select value="yes">
            <mat-option value="yes">Yes</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-field-div">
        <mat-form-field appearance="outline">
          <mat-label>*Duration Threshold</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </div>
      <div class="form-field-div">
        <mat-form-field appearance="outline">
          <mat-label>*BTTL4Code</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </div>
      <div class="form-field-div">
        <mat-form-field appearance="outline">
          <mat-label>*BTTL4Description</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </div>
      <div class="form-field-div">
        <mat-form-field appearance="outline">
          <mat-label>*VFTL4Code</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </div>
      <div class="form-field-div">
        <mat-form-field appearance="outline">
          <mat-label>*VFTL4Description</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </div>
      <div class="form-field-div">
        <mat-form-field appearance="outline">
          <mat-label>*OLOTL4Code</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </div>
      <div class="form-field-div">
        <mat-form-field appearance="outline">
          <mat-label>*OLOTL4Description</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </div>
      <div class="form-field-div">
        <mat-form-field appearance="outline">
          <mat-label>International Barring</mat-label>
          <mat-select value="yes">
            <mat-option value="yes">Yes</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-field-div">
        <mat-form-field appearance="outline">
          <mat-label>*Charge Band Description</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </div>
      <div class="form-field-div">
        <mat-form-field appearance="outline">
          <mat-label>*Kenan Jurisdiction Code</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button type="button" style="margin-left: 0px;" color="primary" (click)="backClicked()">Cancel</button>
        <button mat-raised-button type="button" color="primary">Add Charge Band</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
