<!-- <mat-sidenav-container class="side-container">



    <mat-sidenav #pagesidenav class="side-nav" mode="side" opened>
   
        <form [formGroup]="splCeaseTransForm" (ngSubmit)="onFormSubmit()">
            <div class="matsidenav-filter">
                <mat-form-field 
                    hintLabel="Max 10 characters">
                    <mat-label>Tel.No Start</mat-label>
                    <input id="TelNoStart" formControlName="TelNoStart" matInput #TelNoStart maxlength="10"
                        placeholder="Tel.No Start" style="margin-right: 24%;">
            
                    <mat-hint align="end">{{TelNoStart.value?.length || 0}}/10</mat-hint>
                </mat-form-field>

                <mat-form-field 
                    hintLabel="Max 10 characters">
                    <mat-label>Tel.No End</mat-label>
                    <input id="TelNoEnd" formControlName="TelNoEnd" matInput #TelNoEnd maxlength="10"
                        placeholder="Tel.No End">
                   
                    <mat-hint align="end">{{TelNoEnd.value?.length || 0}}/10</mat-hint>
                </mat-form-field>


            </div>            
            <div class="matsidenav-footer">
                <button type="submit" mat-raised-button color="primary"
                    >
                    <mat-icon>search</mat-icon>Search
                </button>
                <button type="reset" mat-raised-button (click)="resetForm()" color="primary"                    
                  >
                    <mat-icon>refresh</mat-icon>Reset
                </button>
            </div>                         
        </form>
    </mat-sidenav>

    <mat-sidenav-content class="side-content">
        <app-start-up *ngIf="tabs.length===0"></app-start-up>
        <button *ngIf="tabs.length!=0" class="slidderbtn" mat-basic-button color="primary"
            (click)="pagesidenav.toggle()" matTooltip="{{pagesidenav.opened ? 'Hide Filters' : 'Show Filters'}}">
            <mat-icon>{{pagesidenav.opened ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon>
        </button>
        <mat-tab-group [(selectedIndex)]="selectedTab">
            <mat-tab *ngFor="let tab of tabs; let index = index">
                <ng-template mat-tab-label>
                    <div class="col" style="margin-left: 20px;">{{tab.name}}</div>
                    <button *ngIf="tab.tabType !== 0" style="color:black" mat-icon-button (click)="removeTab(index)">
                        <mat-icon style="font-size: large;">close</mat-icon>
                    </button>
                </ng-template>
                <span [ngSwitch]="tab.tabType">
                    <div *ngSwitchCase="0" style="height: calc(100% - 30px);">
                    
                        <button class="info" [disabled] ="!isAuditTrail" (click)="openAuditTrail()" mat-raised-button color="primary">
                            Audit Trail
                        </button>
                        <app-table-selection [tableitem]="myTable" (rowChanges)="rowDetect($event)"
                            (addNewTab)="newTab($event)">
                        </app-table-selection> 
                        <div class="mat-elevation-z8 side-bottom">
                            <div style="display:inline; margin-left: 15px;">
                                <mat-form-field class="side-textarea" style="width:300px"
                                hintLabel="Max 500 characters">
                                <mat-label>Remarks</mat-label>
                                <textarea matInput #input maxlength="500" placeholder="Remarks"></textarea>
                                <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
                            </mat-form-field>
                            <button type="submit" mat-raised-button color="primary">
                                <mat-icon>save</mat-icon>Cease
                            </button>
                            </div>
                            </div>                 
                    
                    </div>
                    <div *ngSwitchCase="1" style="height: calc(100% - 8px);">
                        <app-telephone-audit-trail >
                        </app-telephone-audit-trail>
                        <div class="mat-elevation-z8 side-bottom">
                            <div style="display:inline; margin-left: 15px;">
                                <mat-form-field class="side-textarea" style="width:300px"
                                hintLabel="Max 500 characters">
                                <mat-label>Remarks</mat-label>
                                <textarea matInput #input maxlength="500" placeholder="Remarks"></textarea>
                                <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
                            </mat-form-field>
                            <button type="submit" mat-raised-button color="primary">
                                <mat-icon>save</mat-icon>Cease
                            </button>
                            </div>
                            </div>
                    </div>
                    <div *ngSwitchDefault>
                        <div class="mat-elevation-z8 side-bottom">
                        <div style="display:inline; margin-left: 15px;">
                            <mat-form-field class="side-textarea" style="width:300px"
                            hintLabel="Max 500 characters">
                            <mat-label>Remarks</mat-label>
                            <textarea matInput #input maxlength="500" placeholder="Remarks"></textarea>
                            <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
                        </mat-form-field>
                        <button type="submit" mat-raised-button color="primary">
                            <mat-icon>save</mat-icon>Cease
                        </button>
                        </div>
                        </div>
                    </div>                   
                </span>
            </mat-tab>
        </mat-tab-group>
                   
    </mat-sidenav-content>
</mat-sidenav-container> -->

<div class="container-page" *ngIf="!isResult">
    <div class="wrap">
        <div class="vf-flex-container" style="margin-top:20px;">
            <mat-card class="mat-elevation-z8">
                <ng-container>
                    <mat-card-content>
                        <form [formGroup]="splCeaseTransForm" (ngSubmit)="onFormSubmit()">
                            <div class="vf-flex-container-col">
                                <div>
                                    <mat-form-field style="margin-left:10px; margin-top: 1rem; width:180px"
                                        hintLabel="Max 10 characters">
                                        <mat-label>Start Telephone No</mat-label>
                                        <input id="TelNoStart" formControlName="TelNoStart" matInput #TelNoStart
                                            maxlength="10" placeholder="Start Telephone No" style="margin-right: 24%;">
                                        <mat-hint align="end">{{TelNoStart.value?.length || 0}}/10</mat-hint>
                                    </mat-form-field>

                                    <mat-form-field style="margin-left:10px; margin-top: 1rem; width:180px"
                                        hintLabel="Max 10 characters">
                                        <mat-label>End Telephone No</mat-label>
                                        <input id="TelNoEnd" formControlName="TelNoEnd" matInput #TelNoEnd
                                            maxlength="10" placeholder="End Telephone No">
                                        <mat-hint align="end">{{TelNoEnd.value?.length || 0}}/10</mat-hint>
                                    </mat-form-field>
                                </div>

                                <div
                                    style="display: flex;align-items: center;justify-content: center; margin-top: 15px;">
                                    <button type="submit" mat-raised-button color="primary">

                                        <mat-icon>search</mat-icon>Search
                                    </button>
                                    <button type="reset" mat-raised-button  color="primary">
                                        <mat-icon>refresh</mat-icon>Reset
                                    </button>
                                </div>
                            </div>

                        </form>

                    </mat-card-content>
                </ng-container>
            </mat-card>
        </div>
    </div>
    <!-- </div> -->
</div>

<div *ngIf="isResult">  
<div class="right-pull">
    <button     [disabled]="!isAuditTrail" (click)="openAuditTrail()" mat-raised-button color="primary">
        Audit Trail
    </button> 
    <button    mat-raised-button color="primary" (click)="resetForm();">
        Reset
    </button>
    </div>
    

    <mat-tab-group (selectedTabChange)="getTab($event)" [(selectedIndex)]="selectedTab">      
    
        <mat-tab *ngFor="let tab of tabs; let index = index">
           
            <ng-template mat-tab-label>                
                <div class="col" style="margin-left: 20px;">{{tab.name}}</div>
                <button *ngIf="tab.tabType !== 0" style="color:black" mat-icon-button (click)="removeTab(index)">
                    <mat-icon style="font-size: large;">close</mat-icon>
                </button>                
            </ng-template>

            <span [ngSwitch]="tab.tabType">
                <div *ngSwitchCase="0" style="height: calc(100% - 30px);">  
                                   
                    <app-table-selection [tableitem]="myTable" (rowChanges)="rowDetect($event)"
                        (addNewTab)="newTab($event)">
                    </app-table-selection> 
                             
                </div>
                <div *ngSwitchCase="1" style="height: calc(100% - 30px);">                   
                   <div class="mat-elevation-z8 side-bottom" style="height:450px">
                    <ng-container *ngIf="showTelnos">
                        <app-telephone-no (TelephoneNoSelected)="OnTelephoneNoSelected($event)"></app-telephone-no>
                    </ng-container>
                        <app-telephone-audit-trail></app-telephone-audit-trail>
                    </div>                    
                </div>
                <div *ngSwitchDefault>                 
                </div>                   
            </span>
        </mat-tab>
    </mat-tab-group> 
    <div *ngIf="showCeasePanel" class="mat-elevation-z8 side-bottom">
        <div style="display:inline; margin-left: 15px;">
            <mat-form-field class="side-textarea" style="width:300px"
            hintLabel="Max 500 characters">
            <mat-label>Remarks</mat-label>
            <textarea matInput #input maxlength="500" placeholder="Remarks"></textarea>
            <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">
            <mat-icon>save</mat-icon>Cease
        </button>
        </div>
    </div>   
</div>