<div class="container-page" *ngIf="!isResult">
    <div class="wrap">
    <div class="vf-flex-container" style="margin-top:20px;">
    <mat-card class="mat-elevation-z8">
    <ng-container>
                        <mat-card-content>
                            <form [formGroup]="splCeaseTransForm" (ngSubmit)="onFormSubmit()" autocomplete="off">
                                <div class="vf-flex-container-col">
                                    <div>
                                        <div>   
                                            <mat-form-field hintLabel="Max 11 characters" style="margin-left:10px; margin-top: 1rem; width:180px ; color: #3f51b5;">
                                                <mat-label>Start Telephone No</mat-label>
                                                <input formControlName="StartTelephoneNumber" numbersOnly matInput maxlength="11"
                                                  placeholder="Start Telephone No" #starttelno telNoPrefixValidator>
                                                <mat-hint align="end">{{starttelno.value?.length || 0}}/11</mat-hint>
                                                <mat-error>
                                                  <div *ngIf="f.StartTelephoneNumber.touched && f.StartTelephoneNumber.invalid" class="alert alert-danger">
                                                    <div *ngIf="f.StartTelephoneNumber.errors?.invalidPrefix">Telephone No Prefix is not valid</div>
                                                  </div>
                                                </mat-error>
                                              </mat-form-field>
    
                                              <mat-form-field hintLabel="Max 11 characters" style="margin-left:10px; margin-top: 1rem; width:180px ;color: #3f51b5;">
                                                <mat-label>End Telephone No</mat-label>
                                                <input formControlName="EndTelephoneNumber" numbersOnly matInput maxlength="11"
                                                  placeholder="End Telephone No" #starttelno telNoPrefixValidator>
                                                <mat-hint align="end">{{starttelno.value?.length || 0}}/11</mat-hint>
                                                <mat-error>
                                                  <div *ngIf="f.EndTelephoneNumber.touched && f.EndTelephoneNumber.invalid" class="alert alert-danger">
                                                    <div *ngIf="f.EndTelephoneNumber.errors?.invalidPrefix">Telephone No Prefix is not valid</div>
                                                  </div>
                                                </mat-error>
                                              </mat-form-field>
                                           
                                        </div>
                                    </div>
                                    <div
                                        style="display: flex;align-items: center;justify-content: center; margin-top: 15px;">
                                        <button type="submit" mat-raised-button color="primary">
    
                                            <mat-icon>search</mat-icon>Search
                                        </button>
                                        <button type="reset" mat-raised-button color="primary">
                                            <mat-icon>refresh</mat-icon>Reset
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </mat-card-content>
                    </ng-container>
                </mat-card>
            </div>
        </div>
    </div>
    <div *ngIf="isResult">
        <div class="right-pull">
            <!-- <button style="z-index:1100" [disabled]="!isAuditTrail" (click)="openAuditTrail()" mat-raised-button color="primary">
                Audit Trail
            </button> -->      
            <button style="z-index:1100" mat-raised-button color="primary" (click)="resetForm();">
                Reset
            </button> 
        </div>
        <mat-tab-group [(selectedIndex)]="selectedTab">
            <mat-tab *ngFor="let tab of tabs; let index = index">
              <ng-template mat-tab-label>
                <div class="col" style="margin-left: 20px;">{{tab.name}}</div>
                <button *ngIf="tab.tabType !== 0" style="color:black" matSuffix mat-icon-button (click)="removeTab(index)">
                  <mat-icon style="font-size: large;">close</mat-icon>
                </button>
              </ng-template>
      
             
               
                <div *ngIf="showCeasePanel" class="side-bottom ">
                    
                </div>
                <span [ngSwitch]="tab.tabType">
                    
                <div *ngSwitchCase="0" style="height: calc(100% - 30px);">
                  <div class="table-view">
                  <app-table-selection  [tableitem] = "myTable" (pageIndex)="getNextSetRecords($event)"
                  (rowChanges)="rowDetect($event)" (addNewTab)="newTab($event)"></app-table-selection>
                  <div *ngIf="(tab.tabType== 0)||isLiveBlock">   
                    <form [formGroup]="ceaseupdate"  (ngSubmit)="onCeaseUpdate()" autocomplete="off" *ngIf="updateAccess">
                            <div class="side-bottom" >
                                <div style="display:inline; ">
                                    <mat-form-field *ngIf="!isLiveAudit" class="side-textarea" hintLabel="Max 500 characters" >
                                        <textarea formControlName="CeaseRemarks" name="ceaseremarks" [(ngModel)]="CeaseRemarks" #input
                                            matInput maxlength="500" [(ngModel)]="isAuditTrail ? range : special " cdkTextareaAutosize
                                            #autosize="cdkTextareaAutosize" placeholder=" Add Cease Remarks" style="height:30px; min-height:30px;"></textarea>
                                        <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
                                    </mat-form-field>
                                    <button *ngIf="!isLiveAudit" type="submit" [disabled]="isceaseButtonEnable()" 
                                    mat-raised-button color="primary" style="top: 1px;">Cease</button>
                                 
                                </div>
                            </div>
                        </form>
                       
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="1" style="height:auto">
                  <div> 
                    <app-telephone-no *ngIf="!isLiveBlock" [telNoArray]="audittrailNos" (TelephoneNoSelected)="OnTelephoneNoSelected($event)"></app-telephone-no>
                  </div>
                    <div *ngIf="auditview" class="audit-trail-view" style="height: calc(100% - 15px);">
                      <app-telephone-audit-trail [isLiveBlock]="isLiveBlock" [telNo]="auditTelNo" (isLiveRecord)="isauditenable($event)" [repIdentifier]="repIdentifier">
                      </app-telephone-audit-trail>  
                  </div>
                 
              </div>
              </span>
            </mat-tab>
            
          </mat-tab-group>
       