.error {
  color: red;
}

.page-header {
    margin-top: 10px;
    margin-left: 5px ;
}

/* table styles */
table
{    width:100%;
}
th {
background-color: #e60000;
color:white;
}

th.mat-sort-header-sorted {
color: black;
}
/* .mat-cell.mat-column-MismatchedCount {
white-space: normal ;
} */
.mat-header-cell.mat-column-MismatchedCount
{
white-space: normal !important;
}

.mat-header-cell {
color: white;
padding: 2px 10px;  

/* width: auto;
height: fit-content; */
/* font-size:small; */
}

table td, table th {
padding: 2px 10px;

}

.mat-header-row{
height: 10px;
}


.mat-cell{
font-size:small;  
}

.mat-row {
height: 10px;
}



.table-container {
/* min-height: 100px; */
height: 350px;
overflow: auto;
/* max-width: 100%; */  
/* font-size:large; */
}

.mat-paginator-sticky {
bottom: 0px;
/* position: sticky; */
z-index: 10;
height: 5px;
}


.nowrap-cell {
/* max-width: 120px;  */
white-space: normal;
overflow: hidden;
text-overflow: ellipsis;
}


th.mat-header-cell.mat-header-cell.mat-column-MismatchedCount,
th.mat-header-cell.mat-header-cell.mat-column-LiveInSource,
th.mat-header-cell.mat-header-cell.mat-column-MatchedCount,
th.mat-header-cell.mat-header-cell.mat-column-VodafoneOnlyCount,
th.mat-header-cell.mat-header-cell.mat-column-SupplierOnlyCount,
th.mat-header-cell.mat-header-cell.mat-column-ACTID,
th.mat-header-cell.mat-header-cell.mat-column-ACTStatusDate
{
white-space: normal;
}
.mat-header-cell.mat-column-ACTID {
max-width: 63px;
padding-left: 25px;
}
td.mat-cell.mat-column-ACTID{
padding-left: 25px;
}

.mat-header-cell.mat-column-ACTStatusDate {
max-width: 63px;
}

.mat-header-cell.mat-column-VodafoneOnlyCount {
max-width: 63px;
}

.mat-header-cell.mat-column-MismatchedCount {
max-width: 78px;
}
.mat-header-cell.mat-column-LiveInSource {
max-width: 40px;
}

.mat-header-cell.mat-column-MatchedCount{
max-width: 55px;
}
.mat-header-cell.mat-column-SupplierOnlyCount{
max-width: 57px;
}



