/* .side-nav button{
margin:2px;
} */

.side-bottom .side-textarea{
  /* background-color: lawngreen!important; */
  width: 360px;
  font-size: smaller;  
/* position:absolute; 
margin-top: 90px;*/
/* margin-left: 200px; */
margin: 5px;

}
.info
{
  /* display:flex!important;*/
  font-size: xx-large;
  margin: 5px;
  margin-right: 14px;
  float: right;   
  cursor: pointer;
  }

.hidden{display: none;}


.mat-header-cell.mat-column-Source{
  white-space: normal;
}
.mat-header-cell.mat-column-Source {
  max-width: 31px;
}