<mat-sidenav-container class="side-container">
  <mat-sidenav #pagesidenav class="side-nav" mode="side" opened>

    <div class="filter-sticky">
      <app-select-multiple #selMultiple [listItems]="filterItems" [icon]="'filter_alt'"
        (changes)="setControlAttribute($event)">
      </app-select-multiple>
    </div>

    <form [formGroup]="thisForm" (ngSubmit)="onFormSubmit()" autocomplete="off">
      <div class="matsidenav-filter">
        <ng-container *ngIf="configDetails  as config">
          <mat-form-field hintLabel="Max 11 characters">
            <mat-label>Telephone No</mat-label>
            <input formControlName="StartTelephoneNumber" (keypress)="numberOnly($event)"
              (keyup)="addPrefix('StartTelephoneNumber',starttelno.value)" matInput #starttelno maxlength="11"
              placeholder="Start Telephone No">
            <mat-hint align="end">{{starttelno.value?.length || 0}}/11</mat-hint>
            <mat-error>
              <div *ngIf="f.StartTelephoneNumber.touched && f.StartTelephoneNumber.invalid" class="alert alert-danger">
                <!-- <div *ngIf="f.StartTelephoneNumber.errors?.required">Please enter Telephone No</div> -->
                <div *ngIf="f.StartTelephoneNumber.errors?.pattern">Telephone No is not 11 digit</div>
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field hintLabel="Max 11 characters">
            <mat-label>Customer Name</mat-label>
            <input formControlName="CustomerName" matInput #endtelno placeholder="Customer Name" autocomplete="off">


          </mat-form-field>
          <mat-form-field>
            <mat-label>Date Range</mat-label>
            <mat-date-range-input formGroupName="DateRange" [rangePicker]="picker">
              <input readonly formControlName="FromDate" matStartDate placeholder="From ">
              <input readonly formControlName="ToDate" matEndDate placeholder="To date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
            <!-- <mat-hint align="end">Here's the date picker</mat-hint> -->
          </mat-form-field>
          <mat-form-field>
            <mat-label>Source</mat-label>
            <input formControlName="Source" type="text" placeholder="Search Source" matInput
              [matAutocomplete]="autoSource" />
            <span matSuffix mat-icon-button>
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
            <mat-autocomplete autoActiveFirstOption #autoSource="matAutocomplete">
              <mat-option *ngFor="let val of config.Source | ddlFilter: f.Source.value" [value]="val">
                {{val}}</mat-option>
            </mat-autocomplete>
            <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
          </mat-form-field>
          <mat-form-field>
            <mat-label>Status</mat-label>
            <input formControlName="Status" type="text" placeholder="Search Staus" matInput
              [matAutocomplete]="autoStatus" />
            <span matSuffix mat-icon-button>
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
            <mat-autocomplete autoActiveFirstOption #autoStatus="matAutocomplete">
              <mat-option *ngFor="let val of config.Status | ddlFilter: f.Status.value" [value]="val">
                {{val}}</mat-option>
            </mat-autocomplete>
            <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
          </mat-form-field>
          <mat-form-field>
            <mat-label>Trans Command</mat-label>
            <input formControlName="TransCommand" matInput placeholder="Trans Command">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Source Type</mat-label>
            <input formControlName="SourceType" type="text" placeholder="Source Type" matInput
              [matAutocomplete]="autoSourceType" />
            <span matSuffix mat-icon-button>
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
            <mat-autocomplete autoActiveFirstOption #autoSourceType="matAutocomplete">
              <mat-option *ngFor="let val of config.SourceType | ddlFilter: f.SourceType.value" [value]="val">
                {{val}}</mat-option>
            </mat-autocomplete>
            <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
          </mat-form-field>








        </ng-container>
      </div>

      <div class="matsidenav-footer">
        <button type="submit" mat-raised-button color="primary">
          <mat-icon>search</mat-icon>Search
        </button>

      </div>

    </form>
  </mat-sidenav>

  <mat-sidenav-content class="side-content">
    <button *ngIf="tabs.length!=0" class="slidderbtn" mat-basic-button color="primary" (click)="pagesidenav.toggle()"
      matTooltip="{{pagesidenav.opened ? 'Hide Filters' : 'Show Filters'}}">
      <mat-icon>{{pagesidenav.opened ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon>
    </button>
    <app-start-up *ngIf="tabs.length===0"></app-start-up>
    <mat-tab-group [(selectedIndex)]="selectedTab">
      <mat-tab *ngFor="let tab of tabs; let index = index">
        <ng-template mat-tab-label>
          <div class="col" style="margin-left: 20px;">{{tab.name}}</div>
          <button *ngIf="tab.tabType !== 0" style="color:black" matSuffix mat-icon-button (click)="removeTab(index)">
            <mat-icon style="font-size: large;">close</mat-icon>
          </button>

        </ng-template>

        <span [ngSwitch]="tab.tabType">
          <div *ngSwitchCase="0" style="height: calc(100% - 30px);">

            <app-table-selection [sidePan]="pagesidenav" [tableitem]="myTable" (rowChanges)="rowDetect($event)"
              (addNewTab)="newTab($event)" (pageIndex)="getNextSetRecords($event)">
            </app-table-selection>

          </div>
          <div *ngSwitchCase="1" style="height: calc(100% - 8px);">
            <app-telephone-audit-trail [telNo]="auditTelNo" [repIdentifier]="repIdentifier"></app-telephone-audit-trail>
          </div>



          <div *ngSwitchCase="2" style="height: calc(100% - 8px);">
            <app-transaction-errors [telNo]="telNo" [tranId]="tranId" [repIdentifier]="repIdentifier">
            </app-transaction-errors>
          </div>
          <div *ngSwitchDefault>

          </div>
        </span>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>