/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: small;
}

.mat-toolbar.mat-primary {
  background: #e60000;
  color: white;
}

.tblpagination .mat-form-field-infix {
  padding: 0.5em 0;
  border-top: 0em;
  display: flex;
}

.tblpagination .mat-paginator-range-label {
  margin: 0px!important;
}

.tblpagination .mat-paginator-container{
  margin-top: -7px;
}

/* mat-select panel position start */
.matselhorzPanel {
  /*position: relative;  
  min-width: calc(100% + 902px) !important;
  max-width: 100% !important;  
  margin-left: auto;
  display: flex;
  flex-direction: inherit;
  overflow: auto; */
  /* background-color: #007c92; */
  background-color: #FED9B7;
  top: 32px;
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  /* z-index:1000; */
  display: flex;
  flex-flow: wrap;
  min-width: calc(100% + 946px) !important;
  max-height: calc(100% + 410px) !important;
  height: auto;
  width: auto;
  transform: translateX(32px) !important;
}

.matselrgtPanel {
  /*position: relative;  
  min-width: calc(100% + 902px) !important;
  max-width: 100% !important;  
  margin-left: auto;
  display: flex;
  flex-direction: inherit;
  overflow: auto; 
  top: 26px;*/
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  /* z-index:1000; */
  /* display:flex;
  flex-flow: wrap;
  min-width: calc(100% + 946px) !important;  
  width: auto; */
  /* height: auto; */
  max-height: calc(100% + 480px) !important;
  transform: translateX(840px) !important;
}

/* mat-select panel position ends */


/* app-select-multiple - filter Starts */

/* to set background color for matselect */
app-select-multiple .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
  /* background-color: #007C92; */
  background-color: #EFEFEF;
  height: 37px;
}

app-select-multiple .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
}

/* to change border color on hover */
app-select-multiple .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #EFEFEF;
  border: 0
}

/* to change border color after selection */
app-select-multiple .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  color: #EFEFEF;
  border: 0
}

/* app-select-multiple .mat-focused{
  color: green;
} */

/* to adjust padding space between value and v icon */
app-select-multiple .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 1.50em 0 0.75em;
}

app-select-multiple .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0px;
}

/* filterbar-static */
.filterdataby {
  /* background-color:#007C92; */
  background-color: #EFEFEF;
  color: black;
  height: 35px;
  width: 180px;
  margin-left: 15px;
}

/* app-select-multiple - filter Ends */

/* side-nav-page-header starts */
.page-header {
  background-color: #EFEFEF;
  color: #54575a;
  margin-top: -3px;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 2px;
  font-size: small;
  display: flex;
}

.slidderbtn {
  /* float: left; */
  /* border:1px solid #e60000; */
  /* border-radius: 12%; */
  /* margin-left: -19px; */
  cursor: pointer;
  border: none;
  background-color: #e60000;
  color: #EFEFEF;
  font-size: small;
  height: 35px;
  position: absolute;
  z-index: 2;
}

/* side-nav-page-header ends */



/* mat icon,buttons,fab icons desgin strats */

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  color: white;
  background-color: #54575a !important;
  margin-left: 8px;
}

.mat-icon-button.mat-primary {
  color: white;
  margin-left: 8px;
}

/* mat icon,buttons,fab icons desgin ends */

/* .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.3em 0 0.3em 0 !important;
  top: -0.60em !important;
}  */

/* tab design start */
.mat-tab-list {
  height: 35px;
  overflow: hidden;
}

.mat-tab-label {
  height: 35px !important;
  /* color: rgb(11, 11, 158); */
  color: block;
}

div.mat-tab-label {
  background-color: rgb(84, 87, 90);
  /* background-color: #007C92; */
  /* background-color: #EFEFEF; 
  color:#e60000;     */
  border-right: solid 3px white;
  /* padding-left:initial ; */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.custom-tooltip {
  max-width: unset !important;
  /* max-height: unset !important; */
  white-space: pre-wrap;
  font-size: 8px;
}
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  /* background-color: #e60000; */
  background-color: rgb(255, 6, 6);
  height: 4px;

}

div .mat-focus-indicator.mat-tab-label {
  color: white !important;

}

.mat-tab-body-content {

  overflow: hidden !important;
}

/* tab design end */



/* element.style {
  visibility: visible;
  left: 0px;
  width: 160px;
} */

/* material form controls common design starts */
.example-container .mat-form-field,
.example-container .mat-form-field+.mat-form-field {
  margin-left: 8px;
  margin-bottom: 8px;
  width: 10%;
  font-size: smaller;
}

/* material form controls default design ends */

/* material table controls common design starts */
/* To remove border-top for mat-form-field-wrapper  */
.colfilter .mat-form-field-infix {
  /* padding: 0 0 !important; */
  border-top: 0 !important;
}

/* To remove padding-top for mat-form-field-wrapper  */
.colfilter .mat-form-field-flex {
  padding-top: 0em !important;
}

/* To remove padding-bottom for mat-form-field-wrapper  */
.colfilter .mat-form-field-wrapper {
  padding-bottom: 0em !important;
}

/* To remove underline for mat-form-field  */
.colfilter .mat-form-field-underline {
  display: none;
}

/* All mat-cell */
.mat-cell {
  color: black;
  /* color: black !important; */
  font-weight: 500 !important;
  font-size: 0.8571em !important;
  white-space: nowrap;
}

/* Alternate Row Colour */
.mat-row:nth-child(even) {
  /* background-color: #F5F5F5; */
  background-color: #D9D9D9 ;
}

.table-icon {
  cursor: pointer;
  /* font-size: 18px; */
  font-size: 0.8571em !important;
  height: 0px !important;
  width: auto;
  color: #e60000;
}

/* material table controls common design ends */

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c2c0c0;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #686464;
}

/* Scrollbar Ends */





/* Side-panel Starts */
.mat-drawer-inner-container {
  overflow-x: hidden !important;
}

.side-nav form app-select-exp+.mat-form-field {
  margin-left: 0px;
  /* margin-bottom: 1px;  
  margin-top:1px;   */
  /* font-size: smaller; */
  font-size: 0.8571em !important;
  width: 170px;
}

.side-nav form .mat-form-field,
.side-nav form .mat-form-field+.mat-form-field {
  margin-left: 24px;
  /* margin-bottom: 1px;  
  margin-top:1px;   */
  /* font-size: smaller; */
  font-size: 0.8571em !important;
  width: 170px;

}

.side-nav button {
  margin-left: 2px;
}

.side-nav {
  width: 220px !important;

  /* margin: 10px;
  border: 1px solid #555; */
}

.filter-sticky {
  margin-left: 20px;
  position: sticky;
  top: 0;
  z-index: 2;
  /* background-color:#EFEFEF; */
}

.res-save-div {
  /* background-color: yellow; */
  /* float: right;   */
  /* position: relative; */
  display: inline-block;
  /* margin-top: -230px;
margin-left: 200px; */

}

.res-select {
  margin: 25px;
  /* position: relative;
  margin-top:-85px; */
  border-radius: 8%;
  border: 2px solid rgb(245 245 245);
  height: 200px;
  width: 150px;
}

.side-container .side-bottom .mat-form-field {
  /* margin-bottom: 1px;  
  margin-top:1px;   */
  margin: 5px;
  /* font-size: smaller; */
  font-size: 0.8571em !important;
  width: 170px;
}

.side-bottom .side-left-div .side-textarea {
  /* background-color: lawngreen!important; */
  width: 360px;
  /* font-size: smaller; */
  font-size: 0.8571em !important;
  /* position:absolute; 
margin-top: 90px;*/
  /* margin-left: 200px; */

}

.side-left-div textarea {
  height: 100px;
}

.side-container {
  position: absolute;
  width: 100%;
  height: inherit !important;
}



.side-left-div {
  max-width: 50%;
  float: left;
  min-height: 200px;
  /* background-color: lightseagreen; */
}

.side-right-div {
  float: right;
  max-width: 50%;
  /* background-color:magenta; */
}

/* Side-panel Ends */


/* tool tip styles start */
.mat-tooltip {
  /* your own custom styles here */
  background-color: #EFEFEF;
  color: black !important;
  /* font-size: 12px; */
  font-size: 0.8571em !important;
}

/* tool tip styles end */
/* report container start */
/* .side-container-report {  
width: auto; 
height: 520px !important;
box-sizing: border-box;
} */
/* report container end */

/* toggle-button starts */
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #c2c0c0;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #e60000;
}

/* toggle-button ends */

/* filters  positions -starts */
.matsidenav-footer {
  /* position:relative !important;                  */
  bottom: 35px;
  left: 0;
  height: auto;
  align-items: center;
  /* background-color: lightslategray; */

}

.matsidenav-filter {
  overflow-x: hidden;
  height: 31.6428em;
  max-height: 34.1428em; 
  /* max-height: calc(100% - 35px); */
  position: relative;
}

/* filters  positions -ends */

.reports-tab-group{
  height: inherit;  
}
.table-selection-top{
  display: flex
}

.mat-tab-body-wrapper {
  height: inherit;
}
.table-selection-bottom{
  /* height: 35px; */
  display: flow-root;
  height: 3em;  
  margin: 5px
}
.table-selection-container{
  height: inherit;
}
/* .search-pane-form{
  background-color: aqua;
} */
.tab-container{
  height: inherit;
}
.app-table-selection-container{
  height: calc(100% - 100px);
  /* height: inherit; */
}
.app-telephone-audit-trail-container{
  height: calc(100% - 10px); 
}
.app-transaction-errors-container{
  height: calc(100% - 10px); 
}
.update-form{
 bottom:0;
 margin-top: 0.8em;
}
.span-container{
  height: inherit;
}
mat-header-row,th.mat-header-cell{
  white-space: nowrap;
  font-size: 1em !important;
  line-height: 1em !important;
  padding-left: 0px;
  padding-left: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
}

mat-footer-row, mat-row, td.mat-cell, td.mat-footer-cell {
  white-space: nowrap;
  font-size: 0.8571em !important;
  line-height: 0.8571em !important;
  padding-left: 0px;
  padding-left: 6px;
    padding-top: 0px;
    padding-bottom: 0px;
  }  
  .mat-checkbox-inner-container{
    height: 0.8571em !important;
    width: 0.8571em !important;
  }  
  .mat-table .cdk-table .mat-sort .mat-elevation-z8{
    height: inherit;
  }  
  
  .mat-cell.mat-column-LatestUserComments {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 21.42857em;
    display: block;
  }

  .side-content {
    overflow: hidden !important;
    /* min-height: 40em */
    /* min-height: 525px; */
    /* height: inherit !important; */
    /* min-height: calc(100vh - 300px); */
    /* position: relative; */
    min-height: calc(100vh - 100px);
    height: calc(100vh - 100px);
    
  }
  .table-container { 
    /* height: 25em;   */
    /* height: calc(100% - 100px); */
    /* height: inherit;    */
    /* height: calc(100vh - 25em); */
    overflow: auto; 
    /* overflow: hidden !important;  */
    /* position: relative; */
    height: calc(100vh - 46vh);
      
  }

  .side-container .table-view .table-container { 
    /* height: 25em;   */
    /* height: calc(100% - 100px); */
    /* height: inherit;    */
    /* height: calc(100vh - 25em); */
    overflow: auto; 
    /* overflow: hidden !important;  */
    /* position: relative; */
    height: calc(100vh - 31vh);      
  }


  .side-container .side-bottom .mat-form-field {
    width:18em;
    }
  .side-bottom .side-textarea{
    /* background-color: lawngreen!important; */
    /* width: 360px; */
    width:46em !important;
    font-size: 0.8571em ;  
  /* position:absolute; 
  margin-top: 90px;*/
  /* margin-left: 200px; */
  margin: 5px;
 
  }
.full-audit-panel{
    /* background-color: lawngreen!important; */
    /* width: 360px; */
    width:25em !important;
    font-size: 0.8571em ;  
  /* position:absolute; 
  margin-top: 90px;*/
  /* margin-left: 200px; */
  margin: 5px;
 
  }


 
  .hidden{display: none;}