/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: small;}

.mat-toolbar.mat-primary {
  background: #e60000;
  color: white;
}

/* mat-select panel position start */
.matselhorzPanel
{
  /*position: relative;
  
  min-width: calc(100% + 902px) !important;
  max-width: 100% !important;
  
  margin-left: auto;
  display: flex;
  flex-direction: inherit;
  overflow: auto; */

  top: 26px;
  position:absolute;
  pointer-events:auto;
  box-sizing:border-box;
  /* z-index:1000; */
  display:flex;
  flex-flow: wrap;
  min-width: calc(100% + 946px) !important;  
 max-height: calc(100% + 250px) !important;
 height: auto;
 width: auto;
 transform: translateX(32px) !important; 
}

.matselrgtPanel
{
  /*position: relative;
  
  min-width: calc(100% + 902px) !important;
  max-width: 100% !important;
  
  margin-left: auto;
  display: flex;
  flex-direction: inherit;
  overflow: auto; 
    top: 26px;*/


  position:absolute;
  pointer-events:auto;
  box-sizing:border-box;
  /* z-index:1000; */
  /* display:flex;
  flex-flow: wrap;
  min-width: calc(100% + 946px) !important;  
  width: auto; */
  max-height: calc(100% + 480px) !important;
 /* height: auto; */ 
 transform: translateX(840px) !important;
}
/* mat-select panel position ends */


/* app-select-multiple - filter Starts */

/* to set background color for matselect */
app-select-multiple .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
  background-color: #EFEFEF;
  height: 45px;
}
app-select-multiple .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
}

/* to change border color on hover */
app-select-multiple .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #EFEFEF;
  border:0
}

/* to change border color after selection */
app-select-multiple .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  color: #EFEFEF;
  border:0
}
/* app-select-multiple .mat-focused{
  color: green;
} */

/* to adjust padding space between value and v icon */
app-select-multiple  .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 1.50em 0 0.75em;
}

app-select-multiple .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0px;
}
/* app-select-multiple - filter Ends */

/* side-nav-page-header starts */
.page-header
  {   
    background-color:#EFEFEF;
    color: #54575a;
    margin: 2px;
    font-size:small;
    display: flex;
  }
  .slidderbtn{
    float: left;
    border:none;
   /* border:1px solid #e60000; */
    background-color: #e60000;
    color:  #EFEFEF;
    border-radius: 12%;
    font-size: small;
    margin: 2px;
  }
 /* side-nav-page-header ends */

/* .container {
    padding: 8px 24px 108px 24px;
  } */
  

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    color: white;
    background-color: #54575a!important;
    margin-left: 8px;    
}

.mat-icon-button.mat-primary{
  color: white;
    margin-left: 8px; 
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.3em 0 0.3em 0 !important;
  top: -0.60em !important;
} 

/* tab design start */
 .mat-tab-list{
  height: 30px !important;
}
.mat-tab-label{
  height: 30px !important;
  color: rgb(11, 11, 158);
}

 div.mat-tab-label {
  background-color: #009de6;
    color:white;    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
/* tab design end */

.example-container .mat-form-field,.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;  
  margin-bottom: 8px;
  width:10%;
  font-size: smaller;  
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:#c2c0c0; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#686464; 
}

/* Scrollbar Ends */




 
/* Side-panel Starts */
.mat-drawer-inner-container {
  overflow-x: hidden !important;
}

.side-nav form app-select-exp +  .mat-form-field
{
   margin-left: 0px;   
  /* margin-bottom: 1px;  
  margin-top:1px;   */
  font-size: smaller;  
  width: 170px;
}

.side-nav form .mat-form-field,.side-nav form .mat-form-field + .mat-form-field {
  margin-left: 15px;  
  /* margin-bottom: 1px;  
  margin-top:1px;   */
  font-size: smaller;  
  width: 170px;
}


.side-nav button{
  /* margin-left: 2px; */
  margin-top: 5px
}
.side-nav {  
  width: 220px!important;    
  /* margin: 10px;
  border: 1px solid #555; */
}

.filter-sticky
{

  margin-left: 20px;
    position:sticky;
  top:0;  
  /* background-color:#EFEFEF; */
}
.res-save-div
{
  /* background-color: yellow; */
  /* float: right;   */
position: relative;
margin-top: -230px;
margin-left: 200px;

}

.res-select{
  margin:25px;
  /* position: relative;
  margin-top:-85px; */
  border-radius: 8%; 
  border: 2px solid rgb(245 245 245);
  height:200px;
  width:150px;
}

.side-container .side-bottom .mat-form-field
{
  margin-bottom: 1px;  
  margin-top:1px;  
  font-size: smaller;  
  width: 170px;
}

.side-bottom .side-left-div .side-textarea{
  /* background-color: lawngreen!important; */
  width: 360px;
  font-size: smaller;  
/* position:absolute; 
margin-top: 90px;*/
margin-left: 200px;
  
}
.side-left-div textarea{ height: 100px;}
.side-container {
    position: absolute;
  width: 100%; 
  height: inherit!important;
  }
 
.side-content{
    overflow: hidden!important;
  }

.side-left-div{   
    max-width: 50%;
    float: left;
    /* background-color: lightseagreen; */
  }

.side-right-div{  
    float: right;
    max-width: 50%;
        /* background-color:magenta; */
}
/* Side-panel Ends */
 
  


