/* .info
{
  /* display:flex!important;*/
  /* font-size: xx-large;
  margin: 5px;
  margin-right: 14px; */
  /* float: right;   
  cursor: pointer;
  font-size: small;
  margin-right: 5px;
  margin-top: 2px; */
  /* } */ 