table
{    width:100%;
}
th {
  background-color: #e60000;
  color:white;
}

.mat-header-cell {
  color: white;
  /* width: auto;
  height: fit-content; */
  font-size:small; 
}

.mat-header-row{
  height: 30px;
}


.mat-cell{
  font-size:small;
}

.mat-row {
  height: 10px;
}
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail, .liverecord-sec {
  overflow: hidden;
  /* display: flex; */
}

.example-element-diagram, .liverecord-sec {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 100%;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

/* th, .appTable::ng-deep  th {
  font-weight: bold;
  background-color: #e60000;
  color: black;
} */

.notification-sec .page-header {
  font-weight: bold;
  background-color: #e60000;
  color:  white;
  justify-content: center;
}

.liveRecord-error {
  text-align: center;
}
h4 {
  font-weight: bold;
  font-size: small;
}

.container-fluid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around ;
}

.fluid-item {
  margin: 5px;
  flex: 0 1 1;
}

.details-sec span, .liverecord-sec span, .notification-sec span {
  display: block;
}

.notification-sec .container-fluid{
  justify-content: flex-start;
  column-gap: 20px;
}

@media screen and (max-width: 1254px) {
  .fluid-item{
    flex: 47% 1 1;
  }
}

@media screen and (max-width: 950px) {
  .fluid-item{
    flex: 95% 1 1;
  }
}