<div class="container">
<!-- <mat-card> -->
  <!-- <mat-card-title> -->
    <strong>About OSN PROVISIONING</strong>
  <!-- </mat-card-title> -->
  <!-- <mat-card-content> -->
  OSN PROVISIONING application is about storing and managing fixed line customer details like CLI, customer name, address, line type, command and few supporting attributes, which are required for 999 emergency service.
  There is an OSN2 Audit functionality which to check data consistency between BT 999 platform, OSN2 Platform and Vodafone provisioning and fulfilment systems. Based on above audit check, both automatic and manual correction of inconsistent data can be carried out though the OSN2 GUI.
<!-- </mat-card-content> -->
<!-- </mat-card> -->
</div>
