

.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
    font: 500 27px/35px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0;
}
.vflogo{
  margin-left: 0.5%;
  margin-top: 0.5%;
  cursor: pointer;
}
.appheader{
  margin: 0.5%;  
}

.ylb-app-content{
  padding: 16px;
}

.menuheaderright{
  display: inline-block;
  width: 100%;
  text-align: right;
  vertical-align: bottom;
}

.mat-menu-item:hover{
  color: red;
}
.mat-menu-item:hover .mat-icon{
  color: red;
  
}
.banner{
  height: 90%;
  // background-color: #e60000;
  color: white;
  // background-image: linear-gradient( 30deg,  rgba(230, 0, 0, 1) 30%,rgba(230, 0, 0,.69) 10% , rgba(104, 99, 99, 0.39) 10%,rgba(129, 126, 126, 0.89) 10%  );
  // background-image: radial-gradient( circle farthest-corner at 1.9% 6.9%, rgba(230,0,0,1) 30%, rgb(172, 71, 172) 92.4% );
  // background-image: radial-gradient( circle farthest-corner at 1.9% 6.9%, rgba(230,0,0,1) 60%, rgba(99, 99, 99, 0.600) 69% );
  // background-image: radial-gradient( circle farthest-corner at 1.9% 6.9%, rgba(230,0,0,1) 30%, rgb(129, 123, 129) 92.4% );
  background-image: radial-gradient( circle farthest-corner at 1.9% 6.9%,  rgba(230, 0, 0, 1) 30%, rgba(104, 99, 99, 0.39) 66%, rgb(172, 71, 172) 96% );
  
}
