<!-- <mat-toolbar color="primary" class="mat-elevation-z1" style="height: 90%;"> -->
<mat-toolbar class="banner mat-elevation-z1 ">
  <button mat-icon-button id="menu" (click)="navService.openNav()">
    <mat-icon>apps</mat-icon>
  </button>&nbsp;


  <span style="display: flex;cursor: pointer;" matTooltip="Home" [routerLink]="'/home'">
    <img src="assets/images/vodafone.png" alt="image">
    <span style="margin-left: 5px;"> OSN Provisioning</span>
  </span>
  <i class='bx bx-log-out' id="log_out" (click)="logout()"></i>



  <span class="menuheaderright">
    <!-- <button mat-icon-button value="home" [routerLink]="['']" color="primary">
      <mat-icon matTooltip="Nagivate to Home Page" [matTooltipPosition]="position.value">home</mat-icon>
    </button> -->
    <!-- <button  mat-icon-button value="Logout"  color="primary">
     <mat-icon matTooltip="About"  [matTooltipPosition]="position.value" >info</mat-icon>
   </button>     -->
    <button mat-icon-button value="Export" color="primary" [routerLink]="'/exporttoexcel'">
      <mat-icon matTooltip="Excel Reports" [matTooltipPosition]="position.value">import_export</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Welcome {{user.username}} !" [matMenuTriggerFor]="menu"
      [matTooltipPosition]="position.value" color="primary">
      <mat-icon>perm_identity</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <span mat-menu-item>
        <mat-icon>power_settings_new</mat-icon>
        {{user.rolename}}
      </span>
    </mat-menu>
    <button mat-icon-button value="Logout" color="primary">
      <mat-icon matTooltip="Logout" [matTooltipPosition]="position.value">
        <a (click)="logout()">logout</a>
      </mat-icon>
    </button>




  </span>
</mat-toolbar>