.error-main {
    height: 200px;
    width: 500px;
    margin: auto;
    margin-top: 200px;
}

.error-message {
    color: red;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    padding-bottom: 10px;
}

h4 {
    font-size: medium;
    font-weight: bold;
}

.home-button {
    margin-left: -8px;
}

