<!-- <mat-accordion *ngIf="AT.LiveDetails[0] as livedata; else elseBlock" [togglePosition]="'before'">
    <div class="accordionWidth">
    <mat-expansion-panel [hideToggle]="'true'" [expanded]="step === 0"
        (opened)="setStep(0); panelOpenState1 = true;  setAddressDetails('TransactionDetails', livedata);"
        (closed)="panelOpenState1 = false; setAddressDetails('RemoveAddress');">

        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon class="table-icon">{{panelOpenState1 && step === 0 ? 'remove_box_outline' :
                    'add_box_outline'}}</mat-icon>
                &nbsp;&nbsp;
                Current Live Details
            </mat-panel-title>
        </mat-expansion-panel-header>

      
    </mat-expansion-panel>
    </div>
</mat-accordion> -->
