<div #main class="container-page">
  <div #menuSection>
    <button *ngIf="isShow" mat-mini-fab class="btn-icon" (click)="onMenuClicked()">
      <mat-icon style="font-size: small;">class</mat-icon>
    </button>
    <div class="header-menu mat-elevation-z3" [ngClass]="{'fullPage' : !(isShow) }" [@toggleMenu]="showMenu">
      <!-- <div  class ="flex-items" *ngFor ="let reportName of reportNames let reportIndex = index">
            <button mat-button (click)="onReportSelcted(reportName,reportIndex)">{{reportName.split('|')[0]}}</button>
          </div> -->
      <div class="flex-items" *ngFor="let reportName of reportTitleNames let reportIndex = index">
        <button mat-button (click)="onReportSelcted(reportName.name,reportIndex)">{{reportName.viewName}}</button>
      </div>
    </div>
  </div>
  <div #contentSection class="container-section">
    <div class="wrap">
      <div class="left-box" *ngIf=showDataForm>
        <app-report-data-form #dataForm [reportName]="editMode" [lstFields]="lstFields"
          (cancelBtnClicked)="onDataFormCancel($event)" (submitBtnClicked)="onDataFormSubmit($event)"
          [record]="editRecord"></app-report-data-form>
      </div>
      <div class="right-box" *ngIf="showDetailsForm">
        <mat-tab-group [(selectedIndex)]="selectedTab" (selectedTabChange)="Onselecttabchange($event)" dynamicHeight
          class="rl-mat-tab-group">
          <mat-tab *ngFor="let tab of tabs; let index = index;">
            <ng-template mat-tab-label>
              <div style="margin-left: 10px;">{{tab.name}}</div>
              <button *ngIf=tab.name matSuffix mat-icon-button (click)="removeTab(index)">
                <mat-icon class="rl-tab-icon">close</mat-icon>
              </button>
            </ng-template>
            <ng-container select="details-form">
              <div *ngIf="isLoading" class="table-spinner">
                <mat-progress-spinner mode="indeterminate" color="primary">
                </mat-progress-spinner>
                <div class="spinner-loading">Loading...</div>
              </div>
              <div *ngIf="!isLoading" class="rl-tab-container">
                <!-- filter pane changes starts-->
                <div>
                  <form [formGroup]="filterForm" autocomplete="off">
                    <div *ngIf="this.currentReportName ==='ErrorCode' " class="topfilter"
                      style="min-height: 13px;overflow-y:hidden;overflow-x:auto;display: flex; padding-top: 10px;margin-bottom: 0%;">
                      <div class="filter">
                        <!-- <mat-form-field style="height:15px">
                                      <mat-label>Error Code</mat-label>
                                      <input type="text" matInput placeholder="Error Code" multiple
                                        (selectionChange)="onfilter($event)">
                                    </mat-form-field> -->
                        <app-select-checkbox style="margin-left:0px" [label]="'Error Code'"
                          [listItems]="ErrorCodeDropdownFilter" (changes)="multipleSelect($event, 'ErrorCode')"
                          [icon]="'filter_alt'">
                        </app-select-checkbox>
                        <!-- <mat-form-field style="height:15px">
                                      <mat-label>Error Code</mat-label>
                                      <mat-select disableOptionCentering panelClass="matselect-centering" multiple (selectionChange)="onfilter($event, 'Error Code')"
                                       formControlName="ErrorCode">
                                      <mat-option value="">--Select--</mat-option>
                                      <mat-option *ngFor="let ErrorCode of ErrorCodeDropdownFilter" value="{{ErrorCode.viewValue}}">{{ErrorCode.viewValue}}</mat-option>
                                    </mat-select>
                                    </mat-form-field> -->
                      </div>

                      <div class="filter">
                        <!-- <mat-form-field>
                                      <mat-label>BT Error</mat-label>
                                      <input type="text" matInput placeholder="BT Error" multiple
                                        (selectionChange)="onfilter($event)">
                                    </mat-form-field> -->
                        <app-select-checkbox style="margin-left:0px" [label]="'BT Error'" #selMultiple
                          [listItems]="BtErrorDropdownFilter" (changes)="multipleSelect($event, 'BtError')"
                          [icon]="'filter_alt'">
                        </app-select-checkbox>
                        <!-- <mat-form-field style="height:15px">
                                      <mat-label>BT Error</mat-label>
                                      <mat-select disableOptionCentering panelClass="matselect-centering" multiple (selectionChange)="onfilter($event, 'Error Code')"
                                       formControlName="BtError">
                                      <mat-option value="">--Select--</mat-option>
                                      <mat-option *ngFor="let BtError of BtErrorDropdownFilter" value="{{BtError.viewValue}}">{{BtError.viewValue}}</mat-option>
                                    </mat-select>
                                    </mat-form-field> -->
                      </div>

                      <!-- <mat-form-field>
                                    <mat-label>Error Type</mat-label>
                                    <mat-select disableOptionCentering panelClass="matselect-centering" multiple
                                       formControlName="ErrorTypeFilter">
                                      <mat-option value="">--Select--</mat-option>
                                      <mat-option value="BT Successful transaction end">BT Successful transaction end</mat-option>
                                      <mat-option value="Error Message">Error Message</mat-option>
                                      <mat-option value="Infomation Message">Infomation Message</mat-option>
                                      <mat-option value="Message">Message</mat-option>
                                      <mat-option value="Warning Message">Warning Message</mat-option>
              
                                    </mat-select>
                                  </mat-form-field> -->
                      <div class="filter">
                        <app-select-checkbox style="margin-left:0px" [label]="'Error Type'" #selMultiple
                          [listItems]="ErrorTypeDropdownFilter" (changes)="multipleSelect($event, 'ErrorType')"
                          [icon]="'filter_alt'">
                        </app-select-checkbox>
                        <!-- <mat-form-field style="height:15px">
                                      <mat-label>Error Type</mat-label>
                                      <mat-select disableOptionCentering panelClass="matselect-centering" multiple (selectionChange)="onfilter($event, 'Error Code')"
                                       formControlName="ErrorType">
                                      <mat-option value="">--Select--</mat-option>
                                      <mat-option *ngFor="let ErrorType of ErrorTypeDropdownFilter" value="{{ErrorType.viewValue}}">{{ErrorType.viewValue}}</mat-option>
                                    </mat-select>
                                    </mat-form-field> -->
                      </div>


                      <div class="filter">
                        <!-- <mat-form-field>
                                      <mat-label>Action</mat-label>
                                      <mat-select #allSelect  disableOptionCentering panelClass="matselect-centering" (selectionChange)="onfilter($event, 'Error Code')" multiple
                                      formControlName="Action">
                                      <mat-checkbox color="primary" #check (change)="toggleAllSelection(allSelect, check)" >
                                        Select All</mat-checkbox>
                                        <mat-option value="" (click)="toggleAllSelection(allSelect)">--Select--</mat-option>
                                        <mat-option value="Y">Y</mat-option>
                                        <mat-option value="N">N</mat-option>
                                      </mat-select>
                                    </mat-form-field> -->
                        <app-select-checkbox style="margin-left:0px" [label]="'Action'" #selMultiple
                          [listItems]="ActionDropdownFilter" (changes)="multipleSelect($event, 'Action')"
                          [icon]="'filter_alt'">
                        </app-select-checkbox>
                      </div>
                      <div class="filter">
                        <!-- <mat-form-field>
                                      <mat-label>Unused</mat-label>
                                      <mat-select #allSelect1 disableOptionCentering panelClass="matselect-centering" multiple
                                      (selectionChange)="onfilter($event, 'Error Code')" formControlName="UnusedFlag">
                                        <mat-option value="" (click)="toggleAllSelection(allSelect1)">--Select--</mat-option>
                                        <mat-option value="Y">Y</mat-option>
                                        <mat-option value="N">N</mat-option>
                                      </mat-select>
                                    </mat-form-field> -->
                        <app-select-checkbox style="margin-left:0px" [label]="'Unused'" #selMultiple
                          [listItems]="UnusedDropdownFilter" (changes)="multipleSelect($event, 'UnusedFlag')"
                          [icon]="'filter_alt'">
                        </app-select-checkbox>
                      </div>
                      <div class="filter">
                        <!-- <mat-form-field>
                                      <mat-label>Final</mat-label>
                                      <mat-select disableOptionCentering panelClass="matselect-centering" multiple
                                      (selectionChange)="onfilter($event, 'Error Code')" formControlName="FinalFlag">
                                        <mat-option value="">--Select--</mat-option>
                                        <mat-option value="Y">Y</mat-option>
                                        <mat-option value="N">N</mat-option>
                                      </mat-select>
                                    </mat-form-field> -->
                        <app-select-checkbox style="margin-left:0px" [label]="'Final'" #selMultiple
                          [listItems]="FinalDropdownFilter" (changes)="multipleSelect($event, 'FinalFlag')"
                          [icon]="'filter_alt'">
                        </app-select-checkbox>
                      </div>
                      <div class="filter">
                        <!-- <mat-form-field>
                                      <mat-label>Solicited</mat-label>
                                      <mat-select multiple (selectionChange)="onfilter($event, 'Error Code')"
                                      formControlName="SolicitedFlag">
                                        <mat-option value="">--Select--</mat-option>
                                        <mat-option value="Y">Y</mat-option>
                                        <mat-option value="N">N</mat-option>
                                      </mat-select>
                                    </mat-form-field> -->
                        <app-select-checkbox style="margin-left:0px" [label]="'Solicited'" #selMultiple
                          [listItems]="SolicitedFilterDropdownFilter"
                          (changes)="multipleSelect($event, 'SolicitedFlag')" [icon]="'filter_alt'">
                        </app-select-checkbox>
                      </div>
                      <div class="filter">
                        <!-- <mat-form-field>
                                      <mat-label>UnSolicited</mat-label>
                                      <mat-select multiple (selectionChange)="onfilter($event, 'Error Code')"
                                      formControlName="UnSolicitedFlag">
                                        <mat-option value="">--Select--</mat-option>
                                        <mat-option value="Y">Y</mat-option>
                                        <mat-option value="N">N</mat-option>
                                      </mat-select>
                                    </mat-form-field> -->
                        <app-select-checkbox style="margin-left:0px" [label]="'UnSolicited'" #selMultiple
                          [listItems]="UnSolicitedFilterDropdownFilter"
                          (changes)="multipleSelect($event, 'UnSolicitedFlag')" [icon]="'filter_alt'">
                        </app-select-checkbox>
                      </div>
                      <!-- <button (click)="clearFilter()">Clear</button> -->
                    </div>
                  </form>
                </div>
                <div [ngClass]="{ 'filterpaneoff' : this.currentReportName !='OsnProvideList' ,
                              'filterpaneon' : this.currentReportName ==='OsnProvideList' }">
                </div>
                <div *ngIf="this.currentReportName === 'OsnProvideList'" class="topfilter"
                  style="min-height: 13px;overflow-y:hidden;overflow-x:auto;display: flex;margin-bottom: 0%;">
                  <div class="filterosn">
                    <!-- <mat-form-field  style="width: 250px;">
                                    <mat-label>List Names</mat-label>
                                    <mat-select formControlName="ListNamesFilter" multiple [(ngModel)]="select"
                                      (selectionChange)="onfilter($event)">
                                     <mat-option value="">--Select--</mat-option>
                                      <mat-option value="Access Method">Access Method</mat-option>
                                      <mat-option value="Configuration Key-Values">Configuration Key-Values</mat-option>
                                      <mat-option value="Connection Type">Connection Type</mat-option>
                                      <mat-option value="Line Type">Line Type</mat-option>
                                    </mat-select>
                                  </mat-form-field> -->
                    <app-select-checkbox style="margin-left:0px" [label]="'List Name'" #selMultiple
                      [listItems]="ListNameDropdownFilter" (changes)="multipleSelect($event, 'ListName'); "
                      [icon]="'filter_alt'">
                    </app-select-checkbox>
                  </div>
                </div>
                <div
                  [ngClass]="{ 'filterpaneoff' : this.currentReportName !='ErrorCode' &&  this.currentReportName !='OsnProvideList' ,
                                'filterpaneon' : this.currentReportName ==='ErrorCode' || this.currentReportName ==='OsnProvideList'}">
                </div>
                <!-- filter pane changes End-->

                <!-- <div class="rl-table-container"> -->
                  <div [ngClass]="{ 'rl-table-container' :this.currentReportName !='ErrorCode' &&  this.currentReportName !='OsnProvideList' ,
                  'rl-table-container-with-filter-pane' : this.currentReportName ==='ErrorCode' || this.currentReportName ==='OsnProvideList'}">   
                  <ng-container *ngIf="this.currentReportName != 'Franchise'">
                    <table mat-table class="rl-query-pane-table mat-elevation-z8" [dataSource]="dataSource"
                      multiTemplateDataRows>
                      <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index"
                        matColumnDef="{{disCol.cName}}">
                        <div *ngIf="disCol.cName==='Actions'">
                          <th mat-header-cell *matHeaderCellDef>Actions</th>
                          <td mat-cell *matCellDef="let element">
                            <ng-container>
                              <mat-icon (click)="onEditRecord(element)" class="rl-table-icon">mode_edit_outline
                              </mat-icon>
                              <mat-icon *ngIf="this.editActionEnabled" (click)="onDeleteRecord(element)"
                                class="rl-table-icon">delete_outline</mat-icon>
                            </ng-container>
                          </td>
                        </div>
                        <div *ngIf="disCol.cName!='Actions'">
                          <th mat-header-cell *matHeaderCellDef matTooltip="{{disCol.ctooltip}}"
                            matTooltipClass="custom-tooltip" matTooltipPosition="above"> {{disCol.cDisplayName}} </th>
                          <!-- <td mat-cell *matCellDef="let element"  (click)="$event.stopPropagation()" [ngStyle]="calculateWidth(disCol.cName,element[disCol.cName])" [matTooltip]="
                                  (disCol.cName,element[disCol.cName])" [matTooltipClass]="'custom-tooltip'"> {{element[disCol.cName]}}  </td> -->
                          <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()"
                            matTooltipClass="custom-tooltip"
                            [matTooltipDisabled]="disCol.ctooltip === disCol.cDisplayName  ? false : true "
                            [matTooltip]="(element[disCol.cName])">
                            {{element[disCol.cName]}}
                          </td>
                        </div>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumnsValues sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsValues;"
                        [ngClass]="{ 'highlighted' : row === highlightedRows } "
                        [ngClass]="{ 'highlighted' : highlightedRecord!=null   ?  
                               row[highlightedRecord.recordIdentifier] === highlightedRecord.recordIdentifierValue : false  } "></tr>

                      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumnsValues;"   [ngClass]="{ 'highlighted' : rowHighlightCheck(row) } "  ></tr>   -->
                      <tr *matNoDataRow>
                        <td colspan="columns.length">No data found</td>
                      </tr>
                    </table>
                  </ng-container>

                  <ng-container *ngIf="this.currentReportName === 'Franchise'">
                    <table  class="frn-query-pane-table mat-elevation-z8" mat-table [dataSource]="dataSource" multiTemplateDataRows>
                      <ng-container [matColumnDef]="column.cName" *ngFor="let column of displayedColumns">
                        <div *ngIf="column.cName === 'Expand'">
                          
                          <th  mat-header-cell *matHeaderCellDef>{{column.cDisplayName}}</th>
                          <td class="fracmatcell" mat-cell *matCellDef="let row "
                          [class.example-element-row]="row.CompanyDetails?.length" [class.example-expanded-row]="row?.expanded"
                          (click)="row.expanded = !row?.expanded" 
                          >
                            <ng-container>
                              <mat-icon  class="frn-table-icon"
                                (click)="(expandedElement = expandedElement === row ? null : row);  setStep(2) ">
                                {{row.expanded ? 'remove_box_outline' : 'add_box_outline'}}</mat-icon>
                            </ng-container>
                          </td>
                        </div>
 
                        <div *ngIf="column.cName === 'Actions'">
                          <th mat-header-cell *matHeaderCellDef> {{column.cDisplayName}} </th>
                          <td  class="fracmatcell" mat-cell *matCellDef="let element"> 
                            <mat-icon class="frn-table-icon" (click)="onEditRecord(element)">
                              mode_edit_outline</mat-icon>
                          </td>
                          </div>
                        <div *ngIf="column.cName != 'Expand' && column.cName != 'Actions'">
                        <th mat-header-cell *matHeaderCellDef> {{column.cDisplayName}} </th>
                        <td  class="fracmatcell" mat-cell *matCellDef="let element"> {{element[column.cName]}} </td>
                        </div>
                      </ng-container>
                      <ng-container matColumnDef="expandedDetail">
                        <td  class="fracmatcell" mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsValues.length">
                          <div class="example-element-detail" [@detailExpand]="element?.expanded"  *ngIf="element?.expanded">
                            <div style="width: 100%;">
                              <table mat-table id="innertable" [dataSource]="element.CompanyDetails" multiTemplateDataRows style="font-size:small!important">
                                <ng-container matColumnDef="{{innerColumn.cName}}" *ngFor="let innerColumn of displayedColumns"> 
                                  <div *ngIf="innerColumn.cName === 'Actions'">
                                    <th mat-header-cell *matHeaderCellDef> {{innerColumn.cDisplayName}} </th>
                                    <td class="fracmatcell" mat-cell *matCellDef="let element"> 
                                      <mat-icon class="frn-table-icon" (click)="onEditRecord(element,'Company')" >
                                        mode_edit_outline</mat-icon>
                              
                                    </td>
                                    </div>
                                    <div *ngIf="innerColumn.cName === 'Expand'"  >
                                      <th mat-header-cell *matHeaderCellDef>{{innerColumn.cDisplayName}}</th>
                                      <td class="fracmatcell" mat-cell *matCellDef="let row " 
                                      [class.example-element-row]="row.FranchiseDetails?.length" [class.example-expanded-row]="row?.expanded"
                                  (click)="row.expanded = !row?.expanded"
                                      > 
                                        <ng-container>
                                
                                          <mat-icon  class="frn-table-icon"
                                            (click)="(expandedElement = expandedElement === row ? null : row);  setStep(2) ">
                                            {{row.expanded ? 'remove_box_outline' : 'add_box_outline'}}</mat-icon>
                                            
                                
                                        </ng-container>
                                      </td>
                                    </div>
                                
                                    <div *ngIf="innerColumn.cName != 'Actions' && innerColumn.cName != 'Expand'">
                                  <th mat-header-cell *matHeaderCellDef > {{innerColumn.cDisplayName}} </th>
                                  <td class="fracmatcell" mat-cell *matCellDef="let element"  > {{element[innerColumn.cName]}} </td>
                                    </div>
                                </ng-container>
                                <ng-container matColumnDef="expandedExpandedDetail">
                                  <td  class="fracmatcell" mat-cell *matCellDef="let Company" [attr.colspan]="displayedColumnsValues.length">
                                    <div class="example-element-detail" [@detailExpand]="Company?.expanded" *ngIf="Company?.expanded">
                                      <div style="width: 100%;">
                                        <table style="width: 100%;" #inneTables mat-table 
                                          [dataSource]="Company?.FranchiseDetails" style="font-size:small!important">
                                          <ng-container matColumnDef="{{col.cName}}" *ngFor="let col of displayedColumns">
                                            <div *ngIf="col.cName === 'Actions'">
                                              <th mat-header-cell *matHeaderCellDef> {{col.cDisplayName}} </th>
                                              <td class="fracmatcell" mat-cell *matCellDef="let element"> 
                                                <mat-icon  class="frn-table-icon" (click)="onEditRecord(element,'Franchise')" >
                                                  mode_edit_outline</mat-icon>
                                        
                                              </td>
                                              </div>

                                              <div *ngIf="col.cName != 'Actions'">
                                            <th mat-header-cell *matHeaderCellDef > {{col.cDisplayName}} </th>
                                            <td class="fracmatcell" mat-cell *matCellDef="let comment"> {{comment[col.cName]}} </td>
                                              </div>
                                          </ng-container>
                                          <tr mat-header-row *matHeaderRowDef="displayedColumnsValues; sticky:true;"  style="visibility:collapse"></tr>
                                          <tr mat-row *matRowDef="let comment; columns: displayedColumnsValues;" class="innertab" class ="bg-color1"
                                          [ngClass]="{ 'highlighted' : comment === highlightedRows } "
                                          [ngClass]="{ 'highlighted' : highlightedRecord!=null   ?  
                                                 comment[highlightedRecord.recordIdentifier] === highlightedRecord.recordIdentifierValue : false  } ">
                                          </tr>
                                        </table>
                                      </div>
                                    </div>
                                  </td>
                                </ng-container>
                    
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsValues; sticky:true;" style="visibility:collapse"></tr>
                                <tr mat-row *matRowDef="let CompanyDetails; columns: displayedColumnsValues;" 
                                class = "bg-color2"
                                [ngClass]="{ 'highlighted' : CompanyDetails === highlightedRows } "
                                [ngClass]="{ 'highlighted' : highlightedRecord!=null   ?  
                                CompanyDetails[highlightedRecord.recordIdentifier] === highlightedRecord.recordIdentifierValue : false  } " >
                                </tr>
                                <tr mat-row *matRowDef="let row; columns: ['expandedExpandedDetail']" class="example-detail-row">
                                </tr>
                              </table>
                            </div>
                          </div>
                        </td>
                      </ng-container>
                    
                      <tr mat-header-row *matHeaderRowDef="displayedColumnsValues; sticky:true;"></tr> 
                      <tr mat-row *matRowDef="let element; columns: displayedColumnsValues; "
                      [ngClass]="{ 'highlighted' : element === highlightedRows } "
                      [ngClass]="{ 'highlighted' : highlightedRecord!=null   ?  
                      element[highlightedRecord.recordIdentifier] === highlightedRecord.recordIdentifierValue : false  } "
                   >
                      </tr>
                      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                    
                      <tr *matNoDataRow>
                        <td colspan="columns.length">No data found</td>
                      </tr>
                    </table> 

                  </ng-container>

                </div>
                <div class="rl-fixed-bottom-bar-main">
                  <span>
                    <button type="button" (click)=onCreateRecord() mat-raised-button 
                    class = "btn-color">
                      <mat-icon>add_box</mat-icon>Create
                    </button>
                    <button type="button" (click)=onExportXlsxFormat() mat-raised-button [disabled] = "dataSource.data.length ==0"
                    [ngClass] = "dataSource.data.length !=0? 'btn-color':''">
                      <mat-icon>file_download</mat-icon>Download
                    </button>
                  </span>
                </div>
              </div>
            </ng-container>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="isLoading" class ="table-spinner" >
    <mat-progress-spinner                              
      mode="indeterminate" color="accent">
    </mat-progress-spinner>
    <div class="spinner-loading">Loading...</div>
  </div> -->