/* .page-container { */
    /* max-height: 490px; */
    /* max-height: 100vh; */
    /* min-width: 1111px; */
    /* min-width: 1160px; */
/* } */

.page-scroll {
  overflow: auto;
}

.table-group-view::ng-deep.headerLvl2 th {
    top: 62px !important;
  }

  .table-group-view::ng-deep.headerLvl3 th {
    top: 124px !important;
  }
