<ng-container *ngIf="this.data.selectedColsArray.length>1">
	<h2 matDialogTitle>Create Header List</h2>
	<mat-dialog-content>
		<div>
			<p><em>Enter Title</em></p>
			<mat-form-field>
				<!-- <mat-label>Enter Title</mat-label> -->
				<input matInput placeholder="Title" [(ngModel)]="profileName"
					#uname="ngModel">		
			</mat-form-field>
		</div>

	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-raised-button color="primary" [matDialogClose]="profileName" [disabled]="checkInvalid">OK</button>
		<button mat-raised-button color="primary" matDialogClose>CANCEL</button>
	</mat-dialog-actions>
</ng-container>

<ng-container *ngIf="this.data.selectedColsArray.length===1">
	<h2 matDialogTitle>Notification</h2>
	<mat-dialog-content>
		<div>There are no selected columns to save as favourite</div>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-raised-button color="primary" matDialogClose>OK</button>
	</mat-dialog-actions>
</ng-container>